.content {
  position: relative;
}
.content__cover {
  width: 100%;
  height: 100%;
}
.content__cover img {
  width: 100%;
  height: 100%;
}
.content .cover-regist {
  height: 895px;
}
.content__item {
  display: none;
}
.content__item.active {
  display: block;
}
.content__wrapper {
  position: absolute;
  top: 50.7%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.content .wrapper-refistration {
  top: 49.8%;
}
.content__link {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  margin-top: 16px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration-line: underline;
}

.card {
  width: 427px;
  height: 514px;
  padding: 32px 28px;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}
.card__title {
  opacity: 0.5;
  margin-bottom: 32px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: rgb(85, 85, 85);
  text-align: center;
}
.card__social button {
  width: 100%;
  height: 42px;
}
.card__social {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-bottom: 32px;
}
.card__facebuce {
  border-radius: 6px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  background: rgb(57, 81, 133);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
}
.card__google {
  border-radius: 6px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: var(--text, rgb(34, 34, 34));
  background: rgb(255, 255, 255);
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.15);
}
.card__line {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  padding: 0 38px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: rgb(85, 85, 85);
}
.card__line span {
  display: inline-block;
  width: 124px;
  height: 2px;
  background: rgb(202, 202, 202);
}
.card__line span:nth-child(1) {
  margin-right: 10px;
}
.card__line span:nth-child(2) {
  margin-left: 10px;
}
.card__label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  margin-right: 10px;
  margin-left: 13px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 100%;
  font-weight: 400;
  color: rgb(136, 136, 136);
}
.card__label button {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: var(--blue, rgb(37, 82, 150));
  text-decoration-line: underline;
}
.card__input {
  width: 100%;
  height: 42px;
  margin-bottom: 16px;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 6px;
  box-sizing: border-box;
  background: rgb(255, 255, 255);
}
.card__btns {
  display: flex;
  gap: 19px;
  margin-top: auto;
}
.card__btns button {
  width: 47%;
  height: 42px;
}
.card__login {
  border-radius: 6px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.6px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  background: #f15d28;
}
.card__registration {
  border: 1px solid var(--primary, rgb(246, 133, 33));
  border-radius: 6px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.6px;
  font-weight: 400;
  color: var(--text, rgb(34, 34, 34));
  text-transform: uppercase;
}
.card__reset {
  width: 100%;
  height: 42px;
  margin-top: auto;
  border-radius: 6px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.6px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  background: var(--primary, rgb(246, 133, 33));
}

.card-registration {
  height: 593px;
}
@media (max-width: 600px) {
  .card-registration {
    width: 323px;
  }
}

.card-reset {
  height: 290px;
  padding: 32px 28px 30px;
}
@media (max-width: 600px) {
  .card-reset {
    width: 320px;
  }
}
.card-reset .card__title {
  margin-bottom: 34px;
  padding: 0 10px;
}

.reset {
  height: 509px;
}
.reset .content__wrapper {
  top: 51.7%;
}

.authorization {
  height: 800px;
}
@media (max-width: 600px) {
  .authorization {
    height: 812px;
  }
}
@media (max-width: 600px) {
  .authorization .card {
    width: 323px;
    padding: 32px 21px;
  }
}
@media (max-width: 600px) {
  .authorization .card__label {
    margin-bottom: 7px;
    margin-right: -1px;
    margin-left: 12px;
  }
}
@media (max-width: 600px) {
  .authorization .content__wrapper {
    top: 51.5%;
  }
}