.company__news {
  position: relative;
  padding-inline-start: 93px;
  padding-inline-end: 81px;
}

.company__subtitle {
  display: none;
}

.news__container {
  margin-block-end: 40px;
}

.swiper-news-next {
  width: 20px;
  height: 20px;
}

.company__header-title {
  margin-block-start: 3px;
  letter-spacing: -0.3px;
}

.company__header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-block-start: 5px;
  margin-block-end: 40px;
}
.company__header h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #f15d28;
  letter-spacing: 2.4px;
}
.company__header span {
  color: black;
}

.company__header-img {
  width: 35px;
  height: 35px;
  color: #f15d28;
}

.news__data-text {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.news__data-clock {
  color: white;
  width: 16px;
  height: 16px;
}

.news__icon-price {
  position: absolute;
  top: 31px;
  right: 0px;
  width: 87px;
  height: 31px;
  color: #f68521;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.news__icon-text {
  font-size: 12px;
}

.news__img {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 250px;
  object-fit: cover;
}

.news__data {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 8px;
  left: 14px;
  bottom: 92px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  padding-block: 5.5px;
  padding-inline-start: 8px;
  padding-inline-end: 15px;
  letter-spacing: 0.5px;
  height: 32px;
  white-space: nowrap;
}
@media (max-width: 1365px) {
  .news__data {
    left: 50%;
    transform: translate(-50%);
    bottom: 120px;
  }
}

.news__card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-height: 330px;
  border-radius: 6px;
  padding-block-end: 40px;
  -webkit-box-shadow: -1px 0px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: -1px 0px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: -1px 0px 8px 0px rgba(34, 60, 80, 0.2);
}

.news__data-title {
  padding-block-start: 15px;
  padding-inline: 22px;
  letter-spacing: 0.6px;
}
@media (max-width: 1365px) {
  .news__data-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.company__news .swiper__news-next,
.company__news .swiper__news-prev {
  top: 10%;
  top: 41.5%;
  width: 48px;
  height: 48px;
  background: rgba(0, 128, 0, 0.2);
  color: green;
  border-radius: 50px;
  padding: 16px;
}
.company__news .swiper__news-next:active,
.company__news .swiper__news-prev:active {
  transform: translateY(2px);
}

.company__news .swiper__news-next {
  right: 10px;
}

.company__news .swiper__news-prev {
  left: 10px;
}

.company__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.5px;
  cursor: pointer;
  gap: 8px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}
.company__footer-img {
  width: 24px;
  height: 24px;
  color: #f68521;
}
.company__footer {
  margin-block-end: 101px;
}

.company__footer-link {
  color: #666;
  margin-inline-start: -12px;
}

@media (max-width: 768px) and (min-width: 601px) {
  .company__news {
    margin-block-start: 50px;
  }
}
@media (max-width: 600px) {
  .company__news {
    padding-inline: 15px;
    margin-block-start: 50px;
  }
  .company__header h2 {
    font-size: 16px;
  }
  .company__header-title {
    white-space: nowrap;
    text-align: center;
  }
  .company__footer-link {
    font-size: 12px;
  }
  .company__header-img {
    width: 20px;
  }
  .news__data-text {
    font-size: 12px;
  }
  .company__news .swiper__news-next {
    background-color: rgba(255, 255, 255, 0.8);
    width: 36px;
    height: 36px;
    padding: 8px;
    right: 35px !important;
  }
  .company__news .swiper__news-prev {
    background-color: rgba(255, 255, 255, 0.8);
    width: 36px;
    height: 36px;
    padding: 8px;
    left: 35px !important;
  }
}
@media (max-width: 600px) {
  .company__news {
    margin-block-start: 80px;
  }
  .company__header {
    flex-direction: column;
    margin: 0;
  }
  .company__header h2 {
    font-size: 26px;
    white-space: wrap;
    text-wrap: balance;
    letter-spacing: 2.6px;
  }
  .company__header-img {
    min-width: 35px;
  }
  .company__header-title {
    line-height: 130%;
    margin-block-start: 6px;
  }
  .mySwiperNews {
    margin-block-start: 50px;
  }
  .hotdeals__subtitle.company__subtitle {
    margin-block-start: 12px;
    margin-inline-start: 2px;
    line-height: 130%;
  }
  .news__img {
    border: inherit;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .news__icon-price {
    top: 30px;
  }
  .company__news .swiper__news-next {
    top: 56%;
    width: 48px;
    height: 48px;
    padding: 18px;
    right: 28px !important;
    background-color: #fff;
  }
  .company__news .swiper__news-prev {
    top: 56%;
    width: 48px;
    height: 48px;
    padding: 18px;
    left: 32px !important;
    background-color: #fff;
  }
  .news__data {
    left: 85px;
    bottom: 93px;
    width: 141px;
  }
  .news__data-text {
    font-size: 14px;
  }
  .news__data-title {
    padding-inline-start: 18px;
  }
  .company__footer {
    margin-block-start: 50px;
    margin-block-end: 0px;
    margin-inline-start: 11px;
  }
  .company__footer-link {
    font-size: 16px;
  }
  .news__card {
    padding-block-end: 41px;
  }
}
@media (max-width: 360px) {
  .company__news {
    padding-inline-start: 22px;
    padding-inline-end: 18px;
  }
  .news__img {
    height: 250px;
  }
  .company__subtitle {
    display: flex;
  }
}
.skeleton__container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.skeleton__card {
  position: relative;
  width: 379px;
  height: 330px;
  background-color: #666;
  border-radius: 6px;
  border: solid 1px #666;
}

.skeleton__img {
  width: 100%;
  height: 250px;
  background-color: white;
}

.skeleton__line {
  width: 80%;
  background-color: white;
  height: 24px;
  margin-inline-start: 20px;
  margin-block-start: 10px;
  border-radius: 6px;
}

.skeleton__data {
  position: absolute;
  background-color: #666;
  width: 50%;
  height: 32px;
  bottom: 100px;
  border-radius: 6px;
  margin-inline-start: 20px;
}

.skeleton__count {
  position: absolute;
  background-color: #666;
  width: 20%;
  height: 31px;
  top: 30px;
  right: 0;
  margin-inline-start: 20px;
}