@media (min-width: 2000px) {
  body {
    padding: 0 20%;
  }
}
@media (max-width: 1999px) {
  body {
    padding: 0 15%;
  }
}
@media (max-width: 1750px) {
  body {
    padding: 0 10%;
  }
}
@media (max-width: 1440px) {
  body {
    padding: 0;
  }
}
@media (max-width: 600px) {
  body {
    padding: 0;
  }
}

.content {
  padding: 0 111px 0 98px;
}
@media (max-width: 1000px) and (min-width: 769px) {
  .content {
    padding: 0 35px 37px;
  }
}
@media (max-width: 600px) {
  .content {
    padding: 0 15px 37px 25px;
  }
}
.content__wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) and (min-width: 601px) {
  .content__wrapper {
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .content__wrapper {
    flex-direction: column;
  }
}

.contact {
  width: 30%;
  margin-top: 20px;
}
@media (max-width: 1200px) {
  .contact {
    width: 50%;
  }
}
@media (max-width: 768px) and (min-width: 601px) {
  .contact {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .contact {
    width: 100%;
  }
}
.contact__title {
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  line-height: 49px;
  font-weight: 700;
  color: rgb(34, 34, 34);
}
@media (max-width: 600px) {
  .contact__title {
    margin-top: 14px;
  }
}
.contact__subtitle {
  margin-top: 16px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: var(--text, rgb(34, 34, 34));
}
.contact__description {
  opacity: 0.5;
  margin-top: 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: rgb(34, 34, 34);
}
.contact__name {
  margin-top: 33px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: var(--text, rgb(34, 34, 34));
}
.contact__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 33px;
}
.contact__item {
  display: flex;
  align-items: center;
  gap: 12px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--text, rgb(34, 34, 34));
}
.contact__item svg {
  width: 24px;
  height: 24px;
  color: #3e7739;
}
.contact__item a {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: var(--blue, rgb(37, 82, 150));
}
.contact__item-phone {
  display: flex;
  align-items: center;
}

.form {
  width: 418px;
  margin-top: -40px;
  padding: 24px;
  border-radius: 10px;
  box-sizing: border-box;
  background: rgb(255, 255, 255);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) and (min-width: 601px) {
  .form {
    width: 100%;
    margin-top: 32px;
  }
}
@media (max-width: 600px) {
  .form {
    width: 100%;
    height: 463px;
    margin-top: 35px;
    padding: 24px 18px;
  }
}
.form__label {
  margin-bottom: 8px;
  margin-left: 15px;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 100%;
  font-weight: 400;
  color: rgb(136, 136, 136);
}
@media (max-width: 600px) {
  .form__label {
    margin-bottom: 8px;
    margin-left: 11px;
  }
}
.form__input {
  width: 100%;
  height: 42px;
  margin-bottom: 16px;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 6px;
  box-sizing: border-box;
  background: rgb(255, 255, 255);
}
.form__textarea {
  width: 100%;
  height: 83px;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 6px;
  box-sizing: border-box;
  background: rgb(255, 255, 255);
}
.form__submit {
  width: 100%;
  height: 42px;
  margin-top: 26px;
  border-radius: 6px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.6px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  background: var(--primary, rgb(246, 133, 33));
}

.map {
  margin-top: 71px;
  margin-bottom: 94px;
}
@media (max-width: 600px) {
  .map {
    margin-top: 30px;
    margin-bottom: 60px;
  }
}
.map iframe {
  width: 100%;
  height: 395px;
}
@media (max-width: 600px) {
  .map iframe {
    height: 192px;
  }
}