.copyright {
  background-color: rgba(102, 102, 102, 0.1);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: rgba(102, 102, 102, 0.3882352941);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  letter-spacing: 0.3px;
  padding-block: 14px;
}
.copyright span {
  text-decoration: underline;
  color: rgba(37, 82, 150, 0.4);
  letter-spacing: 0.5px;
}