.hotdeals {
  position: relative;
  padding-inline-start: 93px;
  padding-inline-end: 81px;
}

.hotdeals__card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 100%;
  height: 100%;
  max-height: 350px;
  border-radius: 6px;
  padding-block-end: 40px;
  -webkit-box-shadow: -1px 0px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: -1px 0px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: -1px 0px 8px 0px rgba(34, 60, 80, 0.2);
}

.hotdeals__container {
  margin-block-end: 50px;
}

.hotdeals__clock {
  width: 40px;
  height: 35px;
  color: #f15d28;
}

.hotdeals__header-title {
  display: flex;
  align-items: center;
  gap: 8px;
}
.hotdeals__header-title h2 {
  text-transform: uppercase;
  color: #f68521;
  font-family: "Open Sans", sans-serif;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.hotdeals__subtitle {
  color: #666;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  opacity: 0.7;
  margin-block-start: 6px;
  letter-spacing: 0.3px;
  margin-inline-start: 10px;
}
.hotdeals__subtitle span {
  font-size: 18px;
}

.hotdeals__header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  margin-inline-start: -18px;
  margin-block-end: 37px;
  margin-block-start: 1px;
}

.hotdeals__img {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 250px;
  object-fit: cover;
}

.hotdeals__data-text {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.hotdeals__data {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 6px;
  left: 13px;
  bottom: 154px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  padding-block: 6px;
  padding-inline-start: 6px;
  padding-inline-end: 15px;
  letter-spacing: 0.2px;
  height: 32px;
  white-space: nowrap;
}
@media (max-width: 1365px) {
  .hotdeals__data {
    bottom: 175px;
  }
}

.hotdeals__location {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 8px;
  left: 14px;
  bottom: 114px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  padding-block: 6px;
  padding-inline-start: 8px;
  padding-inline-end: 15px;
  letter-spacing: 0.3px;
  height: 32px;
  white-space: nowrap;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
@media (max-width: 1365px) {
  .hotdeals__location {
    bottom: 135px;
  }
}

.hotdeals__location-icon {
  min-width: 10px;
  min-height: 14px;
  max-width: 10px;
  max-height: 14px;
  color: white;
}

.hotdeals__footer {
  padding-block-start: 12px;
  padding-inline: 16px;
  padding-inline-end: 10px;
  padding-block-end: 22px;
}

.hotdeals__data-title {
  letter-spacing: 0.6px;
}

.hotdeals__footer__column {
  display: flex;
  justify-content: space-between;
}

.hotdeals__category {
  display: flex;
  align-items: center;
  margin-block-start: 4px;
}

.hotdeals__category-star {
  width: 22px;
  height: 22px;
  color: #f68521;
}

.hotdeals__data-clock {
  color: white;
  width: 16px;
  height: 16px;
}

.hotdeals__icon-count {
  color: #f68521;
  width: 134px;
  height: 31px;
  margin-inline-end: -35px;
  font-size: 25px;
}

.hotdeals__text-count {
  font-size: 12px;
  font-family: 700;
  font-family: "Open Sans", sans-serif;
}

.hotdeals__footer-column {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 22px;
}

.hotdeals__footer-column--second {
  padding-block-start: 33px;
}

.hotdeals__price {
  font-size: 16px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.6px;
}
.hotdeals__price span {
  font-weight: 700;
}

.hotdeals__body-price {
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
}

.hotdeals__price-old {
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: #666;
  opacity: 0.4;
  text-decoration: line-through;
  letter-spacing: 0.5px;
  margin-block-start: 2px;
}

.hotdeals .swiper__hotdeals-next,
.hotdeals .swiper__hotdeals-prev {
  top: 52.5%;
  width: 48px;
  height: 48px;
  background: rgba(0, 128, 0, 0.2);
  color: green;
  border-radius: 50px;
  padding: 16px;
}
.hotdeals .swiper__hotdeals-next:active,
.hotdeals .swiper__hotdeals-prev:active {
  transform: translateY(2px);
}

.hotdeals .swiper__hotdeals-next {
  right: 10px;
}

.hotdeals .swiper__hotdeals-prev {
  left: 10px;
}

@media (max-width: 600px) {
  .hotdeals {
    padding-inline: 15px;
  }
  .hotdeals__header-title h2 {
    font-size: 16px;
  }
  .hotdeals__clock {
    width: 20px;
  }
  .hotdeals__subtitle {
    text-align: center;
  }
  .hotdeals__data-text,
  .hotdeals__location-text {
    font-size: 14px;
  }
  .hotdeals .swiper__hotdeals-next {
    top: 35%;
    background-color: rgba(255, 255, 255, 0.8);
    width: 36px;
    height: 36px;
    padding: 8px;
    right: 35px !important;
  }
  .hotdeals .swiper__hotdeals-prev {
    top: 35%;
    background-color: rgba(255, 255, 255, 0.8);
    width: 36px;
    height: 36px;
    padding: 8px;
    left: 35px !important;
  }
}
.hotDeals__footer {
  display: flex;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  gap: 8px;
  letter-spacing: 0.5px;
  margin-block-start: 50px;
  margin-inline-start: -2px;
}

@media (max-width: 600px) {
  .hotdeals {
    margin-block-start: 80px;
    padding-inline-start: 12px;
    padding-inline-end: 8px;
  }
  .hotdeals__img {
    min-height: 250px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .hotdeals__header {
    margin: 0;
    gap: 2px;
  }
  .hotdeals__header-title {
    flex-direction: column;
  }
  .hotdeals__clock {
    min-width: 45px;
  }
  .hotdeals__header-title h2 {
    font-size: 26px;
    color: #f15d28;
    text-align: center;
    margin-block-start: 3px;
    line-height: 130%;
  }
  .hotdeals__clock {
    margin-inline-start: -6px;
  }
  .hotdeals__subtitle {
    margin-block-start: 12px;
    margin-inline-start: 1px;
    line-height: 140%;
    padding-inline: 10px;
  }
  .mySwiperHotDeals {
    margin-block-start: 37px;
    height: auto;
  }
  .hotdeals__container {
    margin-block-end: 40px;
  }
  .hotdeals__data {
    top: 165px;
    width: 141px;
    left: 17px;
  }
  .hotdeals__data-text {
    font-size: 14px;
  }
  .hotdeals__data-clock {
    min-width: 16px;
  }
  .hotdeals__location {
    width: 212px;
    top: 205px;
    left: 12px;
    gap: 6px;
  }
  .hotdeals__data-title {
    margin-block-start: 4px;
    margin-inline-start: -1px;
  }
  .hotdeals__price {
    margin-block-start: 2px;
    margin-inline-start: -2px;
  }
  .hotdeals__price-old {
    margin-block-start: 6px;
    margin-inline-start: 2px;
  }
  .hotdeals__category {
    margin-block-start: 6px;
    margin-inline-end: 1px;
  }
  .hotdeals__icon-count {
    margin-block-start: 3px;
  }
  .hotDeals__footer {
    margin-block-start: 10px;
    margin-inline-start: 10px;
  }
  .hotdeals .swiper__hotdeals-next,
  .hotdeals .swiper__hotdeals-prev {
    top: 53%;
    width: 48px;
    height: 48px;
    padding: 16px;
    background-color: #fff;
  }
  .hotdeals .swiper__hotdeals-next {
    right: 18px !important;
  }
}
.hotdeals .swiper__hotdeals-prev {
  left: 22px !important;
}