.hotdeals-wrapper .search {
  top: -98px;
  left: 50%;
}

@media (max-width: 600px) {
  .hotdeals-wrapper .consultation {
    display: none;
  }
  .hotdeals-wrapper #footer {
    position: relative;
    padding-inline-start: 23px;
  }
  .hotdeals-wrapper #footer::before {
    content: "";
    position: absolute;
    background-color: rgba(102, 102, 102, 0.1803921569);
    width: 100%;
    height: 1px;
    top: -1px;
    left: 0;
  }
  .hotdeals-wrapper .footer__location {
    margin-block-start: 13px;
  }
  .hotdeals-wrapper .footer__phone {
    margin-block-start: 11px;
  }
}