.list__hotdeals {
  position: relative;
  margin-block-start: -20px;
  margin-block-end: 48px;
  margin-inline: 98px;
}
@media (max-width: 768px) and (min-width: 601px) {
  .list__hotdeals {
    margin-inline: 0px;
  }
}
@media (max-width: 600px) {
  .list__hotdeals {
    margin-block-start: 20px;
    margin-inline: 0px;
  }
}

.list__hotdeals .hotdeals__header {
  margin-inline-start: 3px;
  margin-block-end: 8px;
}

.hotdeals__header {
  display: flex;
  align-items: center;
  padding-inline: 26px;
}
.hotdeals__header h3 {
  font-size: 14px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}
@media (max-width: 768px) and (min-width: 601px) {
  .hotdeals__header h3 {
    font-size: 12px;
  }
}
@media (max-width: 600px) {
  .hotdeals__header h3 {
    font-size: 10px;
  }
}
@media (max-width: 1200px) {
  .hotdeals__header {
    padding-inline: 0px;
  }
}
@media (max-width: 600px) {
  .hotdeals__header {
    padding-inline: 0px;
  }
}

.list__img {
  display: none;
}

.hotdeals__data,
.hotdeals__from,
.hotdeals__to,
.hotdeals__duration,
.hotdeals__price,
.list__data,
.list__from,
.list__to,
.list__duration,
.list__price {
  width: 100%;
}

.hotdeals__data {
  max-width: 150px;
}
@media (max-width: 1200px) {
  .hotdeals__data {
    max-width: 120px;
  }
}

.list__opendeals .hotdeals__header {
  margin-inline-start: 0px;
}

.hotdeals__from {
  margin-inline-start: 99px;
  max-width: 172px;
  letter-spacing: 0.7px;
}
@media (max-width: 1200px) {
  .hotdeals__from {
    margin-inline-start: 0px;
  }
}

.hotdeals__to {
  margin-inline-end: -10px;
  max-width: 211px;
  letter-spacing: 1px;
}

.hotdeals__render-mob {
  display: none;
}

.hotdeals__duration {
  max-width: 169px;
}

.hotdeals__render {
  margin-block-start: 16px;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  display: flex;
  gap: 6px;
  flex-direction: column;
  min-width: 650px;
}
@media (max-width: 760px) {
  .hotdeals__render {
    min-width: inherit;
  }
}

.list__data {
  max-width: 150px;
  margin-inline-start: -1px;
}

.list__from {
  max-width: 150px;
  margin-inline-start: 103px;
}
@media (max-width: 1200px) {
  .list__from {
    margin-inline-start: 0px;
  }
}

.list__to {
  margin-inline-start: 21px;
  max-width: 200px;
}
@media (max-width: 1200px) {
  .list__to {
    margin-inline-start: 0px;
  }
}

.list__duration {
  max-width: 170px;
  margin-inline-start: 4px;
}
@media (max-width: 1200px) {
  .list__duration {
    text-align: center;
  }
}

.list__price {
  max-width: 90px;
  margin-inline-start: -1px;
}

.list__button {
  width: 100%;
  max-width: 200px;
  text-align: center;
  margin-inline-start: 30px;
  text-transform: uppercase;
  color: #f68521;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: underline;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .list__button {
    margin-inline-start: 0px;
  }
}
@media (max-width: 768px) and (min-width: 601px) {
  .list__button {
    font-size: 12px;
  }
}
@media (max-width: 600px) {
  .list__button {
    font-size: 10px;
  }
}

.list__button-close {
  width: 100%;
  max-width: 200px;
  text-align: center;
  margin-inline-start: 28px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: underline;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .list__button-close {
    margin-inline-start: 0px;
  }
}
@media (max-width: 768px) and (min-width: 601px) {
  .list__button-close {
    font-size: 10px;
  }
}
@media (max-width: 600px) {
  .list__button-close {
    font-size: 10px;
  }
}

.list__select-hotel {
  overflow: hidden;
  position: relative;
}

.list__body {
  position: relative;
  display: flex;
  white-space: nowrap;
  align-items: center;
  width: 100%;
  font-size: 15px;
  padding-block-start: 22px;
  padding-block-end: 21.5px;
}
@media (max-width: 1200px) {
  .list__body {
    justify-content: center;
    gap: 20px;
  }
}
@media (max-width: 768px) and (min-width: 601px) {
  .list__body {
    font-size: 12px;
    gap: 10px;
  }
}
@media (max-width: 600px) {
  .list__body {
    font-size: 10px;
    gap: 5px;
    white-space: wrap;
  }
}

.list__open {
  padding-inline-start: 24px;
}
@media (max-width: 1200px) {
  .list__open .list__body {
    padding-inline-end: 24px;
  }
}
@media (max-width: 600px) {
  .list__open .list__body {
    padding-inline: 10px;
  }
}
@media (max-width: 600px) {
  .list__open {
    padding-inline: 0px;
  }
}

.list__openlist {
  margin-block-start: 20px;
  margin-block-end: 11px;
}
.list__openlist .hotdeals__header {
  padding: 0;
}
.list__openlist .hotdeals__from {
  margin-inline-start: 102px;
}
@media (max-width: 1200px) {
  .list__openlist .hotdeals__from {
    margin-inline-start: 0px;
  }
}
.list__openlist .hotdeals__to {
  margin-inline-start: 4px;
}
@media (max-width: 1200px) {
  .list__openlist .hotdeals__to {
    margin-inline-end: 0px;
  }
}
.list__openlist .hotdeals__duration {
  margin-inline-start: -2px;
}

.list__container {
  position: relative;
  overflow: hidden;
  height: 60px;
}
.list__container.active {
  height: auto;
  overflow: inherit;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
}
.list__container::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  background-color: #666;
  width: 100%;
  height: 1px;
  opacity: 0.2;
}
@media (max-width: 768px) and (min-width: 601px) {
  .list__container::after {
    display: none;
  }
}
@media (max-width: 600px) {
  .list__container::after {
    display: none;
  }
}

.list__container > .list__body {
  padding-inline-start: 24px;
  padding-inline-end: 22px;
}
@media (max-width: 600px) {
  .list__container > .list__body {
    padding-inline: 10px;
  }
}

.list__category {
  display: flex;
  align-items: center;
  gap: 4px;
}

.hotdeals__category-star {
  width: 18px;
  height: 18px;
}

.list__hotel,
.list__category,
.list__food,
.list__tour,
.list__price,
.list__button-open,
.list__button-close,
.list__button-select {
  width: 100%;
}

.list__category {
  font-size: 24px;
  color: #f5c213;
  max-width: 140px;
  margin-inline-start: 70px;
}
@media (max-width: 1200px) {
  .list__category {
    margin-inline-start: 0px;
  }
}

.list__hotel {
  text-decoration: underline;
  color: #255296;
  font-size: 15px;
  max-width: 180px;
}
@media (max-width: 1200px) {
  .list__hotel {
    max-width: 120px;
  }
}

.list__food {
  margin-inline-start: 35px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 200px;
}
@media (max-width: 1200px) {
  .list__food {
    margin-inline-start: 10px;
  }
}

.list__tour {
  max-width: 150px;
  margin-inline-start: -1px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.list__button-open {
  display: flex;
  white-space: nowrap;
  text-align: start;
  border: solid 1px #f68521;
  border-radius: 6px;
  max-width: 200px;
  height: 28px;
  font-size: 12px;
  padding-block-start: 6px;
  text-transform: uppercase;
  margin-inline-start: 28px;
  margin-block-start: -5px;
  padding-inline-start: 7px;
  padding-inline-end: 14px;
  letter-spacing: 0.3px;
}

.list__button-select,
.href__button-select {
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  background-color: #f68521;
  color: white;
  border-radius: 6px;
  width: 100%;
  max-width: 200px;
  height: 29px;
  font-size: 12px;
  padding-block-start: 6px;
  text-transform: uppercase;
  margin-inline-start: 38px;
  padding-inline-start: 14px;
  padding-inline-end: 14px;
  padding-block-start: 6px;
  letter-spacing: 0.3px;
}
.list__button-select.active,
.href__button-select.active {
  background-color: white;
  border: 1px solid #f68521;
  color: black;
  display: flex;
}
@media (max-width: 1200px) {
  .list__button-select,
  .href__button-select {
    margin-inline-start: 0px;
  }
}
@media (max-width: 768px) and (min-width: 601px) {
  .list__button-select,
  .href__button-select {
    padding-inline: 5px;
  }
}
@media (max-width: 600px) {
  .list__button-select,
  .href__button-select {
    padding-inline: 5px;
  }
}

.list__body-close {
  cursor: pointer;
  display: flex;
  white-space: nowrap;
  text-align: start;
  border: solid 1px #f68521;
  border-radius: 6px;
  max-width: 200px;
  height: 28px;
  font-size: 12px;
  padding-block-start: 6px;
  text-transform: uppercase;
  margin-inline-start: 40px;
  margin-block-start: -3px;
  padding-inline-start: 11px;
  padding-inline-end: 14px;
  letter-spacing: 0.3px;
  text-decoration: none;
}
@media (max-width: 1200px) {
  .list__body-close {
    max-width: 100px;
    white-space: wrap;
    text-align: center;
    font-size: 10px;
    height: 100%;
    padding-inline: 10px;
    padding-block: 5px;
    margin-inline-start: 0px;
  }
}

.list__price--open {
  margin-inline-start: 20px;
}

.list__body-category.open::after {
  background-color: inherit;
}

.list__body-select {
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
  height: 66px;
}
.list__body-select.active {
  overflow: inherit;
  height: auto;
}
@media (max-width: 1200px) {
  .list__body-select {
    padding-inline-end: 0px;
  }
}

.list__select {
  position: relative;
  left: -10px;
  width: 1149px;
}
@media (max-width: 1200px) {
  .list__select {
    width: 100%;
    left: inherit;
  }
}
@media (max-width: 1360px) {
  .list__select {
    width: 100%;
  }
}

.list__body-hotel {
  position: relative;
}
.list__body-hotel::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  background-color: #666;
  width: 100%;
  height: 1px;
  opacity: 0.2;
}

.list__body-category {
  position: relative;
  display: flex;
  padding-block: 14px;
  align-items: center;
  padding-inline-start: 2px;
  margin-block-start: 8px;
}
@media (max-width: 1366px) {
  .list__body-category {
    padding-inline-end: 12px;
  }
}
.list__body-category .list__hotel {
  letter-spacing: 0.4px;
}
.list__body-category .list__food,
.list__body-category .list__tour,
.list__body-category .list__price {
  margin-block-start: -2px;
}
.list__body-category::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #666;
  width: 100%;
  height: 1px;
  opacity: 0.2;
}

.list__arrow-open {
  min-width: 24px;
  min-height: 24px;
  margin-block-start: 4px;
  margin-inline-start: 6px;
}

.list__arrow-close {
  min-width: 10px;
  min-height: 10px;
  max-width: 10px;
  max-height: 10px;
  margin-block-start: 4px;
  margin-inline-start: 11px;
}
@media (max-width: 1200px) {
  .list__arrow-close {
    display: none;
  }
}

.list__body-select .list__body-hotel {
  display: flex;
  align-items: center;
}

.list__body-hotel {
  padding-block: 10px;
  margin-block: 8px;
  margin-block-start: 15px;
}
@media (max-width: 1366px) {
  .list__body-hotel {
    padding-inline-end: 10px;
  }
}
.list__body-hotel .list__price {
  margin-inline-start: 20px;
}
@media (max-width: 1200px) {
  .list__body-hotel .list__price {
    margin: 0;
  }
}

.list__body-select.active .list__select-hotel {
  background-color: #f4f6fa;
}

.list__select-hotel {
  display: flex;
  align-items: center;
  padding-block: 20px;
  padding-block-end: 18px;
  border-radius: 6px;
  padding-inline-start: 12px;
}
.list__select-hotel .list__hotel {
  text-decoration: none;
  opacity: 0.5;
  color: #666;
}
@media (max-width: 1200px) {
  .list__select-hotel .list__hotel {
    text-align: center;
    font-size: 12px;
  }
}
@media (max-width: 1200px) {
  .list__select-hotel {
    padding-inline: 10px;
  }
}

@media (max-width: 1200px) {
  .list__openlist .hotdeals__header {
    display: flex;
    justify-content: start;
    gap: 40px;
  }
  .list__opendeals {
    text-align: center;
  }
  .list__opendeals .hotdeals__from,
  .list__opendeals .hotdeals__to {
    max-width: 100px;
  }
  .list__opendeals .hotdeals__duration {
    max-width: 210px;
  }
  .list__opendeals .hotdeals__price {
    text-align: start;
  }
  .list__body-category {
    justify-content: space-between;
  }
  .list__body-category .list__category,
  .list__body-category .list__food,
  .list__body-category .list__tour,
  .list__body-category .list__price--open {
    margin-inline-start: 0px;
  }
  .list__button-select {
    max-width: 100px;
    white-space: wrap;
    font-size: 10px;
  }
  .list__body-category .list__button-select.active {
    font-size: 10px;
    height: 100%;
    padding-inline: 10px;
    padding-block: 5px;
  }
  .list__hotel,
  .list__category,
  .list__food,
  .list__tour,
  .list__price--open {
    font-size: 12px;
    text-align: center;
    margin: 0px;
  }
  .list__select-hotel {
    display: flex;
  }
}
@media (max-width: 600px) {
  .list__food {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .list__duration,
  .hotdeals__duration,
  .list__to,
  .hotdeals__to,
  .hotdeals__from,
  .list__price,
  .list__from,
  .list__data {
    max-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .hotdeals__header {
    padding-inline: 5px;
  }
  .hotdeals__price {
    text-align: start;
  }
  .hotdeals__data {
    max-width: 70px;
  }
  .hotdeals__duration,
  .list__tour,
  .list__duration {
    display: none;
  }
  .list__button {
    max-width: 100px;
  }
  .list__body {
    justify-content: space-between;
    padding-inline: 10px;
    gap: 15px;
    margin-inline-start: 30px;
  }
  .list__hotel,
  .list__category,
  .list__food,
  .list__tour,
  .list__price--open {
    font-size: 10px;
    text-align: center;
    margin: 0px;
  }
  .list__food {
    text-align: start;
  }
  .hotdeals__price {
    max-width: 50px;
  }
  .hotdeals__to {
    margin-inline-start: 5px;
  }
  .hotdeals__price {
    margin-inline-start: 35px;
  }
}
@media (max-width: 1200px) {
  .hotdeals__header {
    text-align: center;
  }
  .hotdeals__price {
    text-align: start;
  }
  .list__body-category {
    padding-inline: 10px;
  }
  .list__open {
    padding: 0;
  }
  .href__button-select {
    max-width: 100px;
  }
  .hotdeals__price {
    max-width: 120px;
  }
  .hotdeals__duration {
    max-width: 220px;
  }
}
@media (max-width: 1000px) and (min-width: 769px) {
  .hotdeals__header {
    text-align: start;
  }
  .hotdeals__to {
    max-width: 100px;
  }
  .hotdeals__duration {
    max-width: 150px;
  }
  .list__body-hotel {
    text-align: start;
  }
  .list__button-close,
  .list__button {
    font-size: 10px;
  }
}
@media (max-width: 768px) and (min-width: 601px) {
  .hotdeals__header {
    text-align: start;
    margin-block-start: 40px;
    padding-inline: 10px;
  }
  .hotdeals__from {
    max-width: 110px;
  }
  .hotdeals__to {
    max-width: 100px;
  }
  .hotdeals__duration {
    max-width: 170px;
  }
}
@media (max-width: 600px) {
  .list__button {
    max-width: 100%;
  }
}
@media (max-width: 680px) {
  .hotdeals__duration {
    max-width: 120px;
  }
}

@media (max-width: 600px) {
  .hotdeals__header {
    justify-content: space-between;
    text-align: start;
    padding-inline: 10px;
    margin-inline-start: 20px;
    gap: 0px;
  }
}

@media (max-width: 400px) {
  .list__button {
    max-width: 60px;
  }
  .list__body {
    margin-inline: 5px;
  }
}
@media (max-width: 1200px) {
  .list__body-hotel,
  .list__select-hotel {
    justify-content: space-between;
    padding-inline: 10px;
    text-align: start;
  }
  .list__opendeals .hotdeals__header {
    justify-content: space-between;
    gap: 20px;
    padding-inline: 10px;
  }
  .list__opendeals .hotdeals__header .hotdeals__price {
    margin-inline-end: 70px;
  }
  .list__opendeals .hotdeals__header .hotdeals__duration {
    max-width: 150px;
  }
  .list__open .list__body {
    padding-inline: 20px;
  }
}
@media (max-width: 600px) {
  .list__open .list__body {
    padding-inline: 10px;
  }
  .list__button,
  .list__button-close {
    max-width: 100px;
  }
  .list__body {
    margin: 0px;
  }
  .hotdeals__category-star {
    max-width: 12px;
    max-height: 12px;
    min-width: 12px;
    min-height: 12px;
  }
  .list__opendeals .hotdeals__to,
  .list__opendeals .list__food {
    display: none;
  }
  .list__category {
    justify-content: center;
  }
  .hotdeals__header {
    text-align: center;
    gap: 10px;
  }
  .hotdeals__data {
    max-width: 50px;
  }
  .list__hotel {
    max-width: 70px;
  }
  .list__select-hotel .list__hotel {
    font-size: 10px;
  }
  .list__body,
  .list__open {
    display: none;
  }
  .list__img {
    display: flex;
  }
  .hotdeals__render-mob {
    padding-inline: 20px;
    display: flex;
    gap: 22px;
    flex-direction: column;
    margin-block-end: 80px;
  }
  .hotdeals__render-mob .list__container {
    box-shadow: -1px 0px 8px 0px rgba(34, 60, 80, 0.2);
    border-radius: 10px;
    margin-block-start: 18px;
    display: flex;
    flex-direction: column;
    height: 309px;
    align-items: center;
  }
  .hotdeals__render-mob .list__container p {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin-block-start: 18px;
    width: 100%;
    margin-inline-start: 106px;
    letter-spacing: 0.5px;
  }
  .hotdeals__render-mob .list__container img {
    height: 100%;
    max-height: 250px;
    width: 100%;
    object-fit: cover;
  }
  .hotdeals__render {
    display: none;
  }
  .hotdeals__icon-value {
    position: absolute;
    width: 83px;
    background-color: #f68521;
    max-height: 31px;
    color: #f68521;
    top: 30px;
    right: 0;
    height: 31px;
  }
  .hotdeals__icon-price {
    margin-inline-start: -11px;
    margin-block-start: 0.5px;
    height: 31px;
  }
}
@media (max-width: 400px) {
  .list__button,
  .list__button-close,
  .href__button-select {
    max-width: 50px;
    font-size: 8px;
    padding-inline: 1px;
  }
  .list__body-close,
  .list__button-select {
    font-size: 8px;
  }
  .list__body {
    gap: 5px;
    justify-content: center;
  }
  .hotdeals__header {
    justify-content: center;
  }
  .list__category,
  .list__food {
    max-width: 50px;
  }
  .list__select-hotel {
    padding-inline: 5px;
  }
  .list__select-hotel .list__hotel {
    font-size: 10px;
    max-width: 80px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .list__body-hotel .list__hotel {
    white-space: wrap;
    max-width: 60px;
    margin-inline-start: 0px;
  }
  .list__body-hotel .list__category {
    max-width: 60px;
    margin-inline-start: 10px;
  }
  .hotdeals__price {
    margin: 0;
  }
  .list__category,
  .list__food {
    max-width: 70px;
  }
  .list__food {
    max-width: 80px;
  }
  .list__body-select.active .list__button-select {
    font-size: 8px;
  }
  .list__select .list__food {
    max-width: 40px;
  }
  .list__select .list__category {
    text-align: start;
    max-width: 30px;
  }
  .list__body-close {
    padding-inline: 5px;
  }
  .href__button-select {
    margin-inline-end: 20px;
  }
  .list__body-category {
    gap: 10px;
  }
  .list__select-hotel {
    gap: 10px;
  }
  .href__button-select {
    margin-inline-end: 5px;
  }
}