.calendar {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  max-height: 278px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  color: #333;
  margin-bottom: 14px;
  margin-inline-start: 2px;
  margin-block-start: 14px;
  letter-spacing: -0.3px;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 22px;
  margin-bottom: 14px;
  font-size: 14px;
  text-transform: lowercase;
  padding-inline: 14px;
  margin-block-start: 0px;
}
@media (max-width: 1365px) {
  .weekdays {
    width: 100%;
    text-align: center;
  }
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 37px);
  flex: 1;
  background: #f8f9fa;
  margin-block-start: 1px;
  margin-block-end: 23px;
}
@media (max-width: 1365px) {
  .days {
    grid-template-columns: repeat(7, 1fr);
  }
}

.day {
  height: 100%;
  min-height: 27px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #b4b4b4;
  border: 0.5px solid #e2e2e2;
  background-color: #f1f1f1;
}

.day__price {
  cursor: pointer;
  display: flex;
  flex-direction: column-reverse;
  height: 54px;
  align-items: center;
  color: black;
  background-color: inherit;
  overflow: hidden;
  opacity: 1;
}
.day__price p {
  font-size: 12px;
  height: 22px;
}

.day__border {
  border: 0.5px solid rgba(102, 102, 102, 0.1803921569);
}

.day__border:hover {
  background-color: #f68521;
  filter: drop-shadow(0 0 3px #f68521);
}
.day__border:hover p {
  color: #fff;
  text-shadow: 0 1px 8px rgba(255, 255, 255, 0.9);
}

.days .day.empty {
  background-color: #fff;
}

.day span {
  margin-block-start: -24px;
}

.bar .swiper__calendar-next,
.bar .swiper__calendar-prev {
  display: none;
  padding: 16px;
  width: 48px;
  height: 48px;
  background-color: rgba(62, 119, 57, 0.1647058824);
  color: #3e7739;
  border-radius: 100%;
  top: 56.5%;
}
.bar .swiper__calendar-next:hover,
.bar .swiper__calendar-prev:hover {
  transform: scale(0.9);
}
.bar .swiper__calendar-next:active,
.bar .swiper__calendar-prev:active {
  transform: translateY(2px);
}
.bar .swiper__calendar-next.open,
.bar .swiper__calendar-prev.open {
  display: block;
}

.calendar__container-title {
  position: relative;
  display: none;
  width: 100%;
  font-size: 24px;
  font-family: "Open Sans", sans-serif;
  margin-block-start: 25px;
  letter-spacing: 0.7px;
  margin-block-end: 10px;
}
.calendar__container-title.open {
  display: flex;
  margin-block-start: 26px;
}
.calendar__container-title::after {
  position: absolute;
  background-color: #666;
  opacity: 0.2;
  width: 100%;
  height: 1px;
  content: "";
  bottom: -5px;
}

.bar .swiper__calendar-prev {
  left: 10px;
}

.bar .swiper__calendar-next {
  right: 10px;
}

@media (max-width: 1000px) {
  .bar .swiper__calendar-next,
  .bar .swiper__calendar-prev {
    padding: 12px;
    width: 36px;
    height: 36px;
    top: 85%;
  }
}