.result-wrapper .search {
  left: 50%;
  top: -98px;
}
.result-wrapper .search .food__title,
.result-wrapper .search .type__title {
  display: flex;
}
.result-wrapper .search .adanced__close {
  margin-block-start: -2px;
}

.result__container {
  padding-inline-start: 98px;
  padding-inline-end: 114px;
  margin-block-start: 35px;
  margin-block-end: 121px;
}

.mySwiperResult {
  max-width: 380px;
  margin: 0;
}

.result__card,
.result__body {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.result__card {
  position: relative;
  flex-direction: column;
  margin-block-end: 80px;
}
.result__card::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #666;
  bottom: -40px;
  opacity: 0.2;
}

.result__img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.mySwiperResult {
  min-width: 350px;
}

.result__info {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  max-width: 280px;
  height: 100%;
  align-self: self-start;
  margin-block-start: 2px;
}

.result__info-title {
  font-size: 18px;
  letter-spacing: 0.4px;
}

.result__town,
.result__items {
  display: flex;
  align-items: center;
  gap: 8px;
}

.result__town {
  border: solid 1px #E2E2E2;
  max-width: 214px;
  border-radius: 6px;
  padding-inline: 10px;
  padding-block: 3px;
  letter-spacing: 0.3px;
  margin-block-start: 14px;
}

.result__icon-location {
  color: #3e7739;
  opacity: 0.6;
  min-width: 10px;
  min-height: 14px;
  max-width: 10px;
  max-height: 14px;
}

.result__header h4 {
  display: none;
}

.result__town-text {
  font-size: 14px;
}

.result__info-description {
  font-size: 14px;
  color: #666;
  opacity: 0.8;
  margin-block-start: 18px;
  letter-spacing: 0.4px;
}

.result_duration-icon {
  min-width: 18px;
  max-width: 18px;
}

.result__body-info {
  display: flex;
  gap: 40px;
}

.result__items {
  margin-block-start: 38px;
  margin-inline-start: 8px;
  letter-spacing: 0.5px;
  white-space: nowrap;
}
.result__items:hover {
  transform: scale(0.9);
}

.price__title,
.place__title,
.type__title,
.food__title,
.duration__title,
.data__title {
  display: none;
}

.clock__search {
  display: none;
}

.result__items-link {
  font-size: 16px;
  color: #666;
  opacity: 0.9;
}

.result__icon-arrow {
  min-width: 24px;
  min-height: 24px;
  max-width: 24px;
  max-height: 24px;
  color: #f68521;
}

.result__condition--mob {
  display: none;
}

.result__proposition.active {
  position: relative;
  box-shadow: inherit;
}
.result__proposition.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 108.5%;
  left: 0;
  top: 0;
  background-color: rgba(37, 82, 150, 0.062745098);
  z-index: -1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
@media (max-width: 1325px) {
  .result__proposition.active::after {
    position: static;
  }
}
@media (max-width: 1325px) {
  .result__proposition.active {
    background-color: rgba(37, 82, 150, 0.062745098);
  }
}

.result__beach-icon {
  min-width: 24px;
  max-width: 24px;
}

.result__condition {
  align-self: flex-start;
  margin-block-start: 7px;
  margin-inline-start: 14px;
}

.result__rating {
  display: flex;
  align-items: center;
  gap: 4px;
}

.result__star {
  width: 18px;
  height: 18px;
  color: #f68521;
}

.result__duration,
.result__food,
.result__package,
.result__beach {
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  white-space: nowrap;
}
.result__duration svg,
.result__food svg,
.result__package svg,
.result__beach svg {
  width: 24px;
  height: 24px;
  color: #3e7739;
}

.open__container.open .dropdown__body--mob {
  display: none;
}

.result__duration {
  margin-block-start: 22px;
  margin-inline-start: 2px;
  letter-spacing: 0.6px;
}

.result__food {
  margin-block-start: 19px;
}

.result__package {
  margin-block-start: 20px;
  letter-spacing: 0.6px;
}

.result__beach {
  margin-block-start: 18px;
}

.result__beach-text {
  margin-block-start: -4px;
  letter-spacing: 0.2px;
  white-space: nowrap;
}

.result__food-text {
  margin-block-start: -4px;
  letter-spacing: 0.2px;
}

.result__proposition {
  margin-inline-start: -2px;
  text-align: center;
  align-self: flex-start;
  box-shadow: -1px 0px 8px 0px rgba(34, 60, 80, 0.2);
  border-radius: 10px;
  padding-inline: 20px;
  padding-block-start: 52px;
  padding-block-end: 20px;
  letter-spacing: 0.5px;
  white-space: nowrap;
}

.result__proposition-text {
  margin-block-start: -2px;
  margin-inline-start: -3px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}
.result__proposition-text strong {
  font-size: 24px;
}
.result__proposition-text span {
  font-size: 24px;
}

.result__proposition-button {
  margin-block-start: 74px;
  color: #fff;
  background-color: #f68521;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 6px;
  width: 160px;
  height: 42px;
}
.result__proposition-button:hover {
  transform: scale(0.9);
}
.result__proposition-button.active {
  background-color: #fff;
  border: solid 1px #f68521;
  color: black;
}

.result__open {
  position: relative;
  width: 100%;
  border-radius: 6px;
  padding-block-start: 22px;
  padding-block-end: 2px;
}
.result__open::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #666;
  bottom: -10px;
  opacity: 0.1;
  margin-inline: 25px;
  width: 95.6%;
}
@media (max-width: 600px) {
  .result__open::after {
    left: 0px;
    margin-inline: 0px;
    width: 100%;
  }
}

.result__header {
  display: flex;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  color: #666;
  font-size: 14px;
  padding-inline-start: 26px;
  gap: 50px;
}
.result__header > div p {
  padding: 0;
}

.result__header-data {
  display: grid;
  grid-template-columns: repeat(1, minmax(132px, 1fr));
}

.result__header-duration {
  display: grid;
  grid-template-columns: repeat(1, minmax(86px, 1fr));
}

.result__header-food {
  display: grid;
  grid-template-columns: repeat(1, minmax(94px, 1fr));
}

.result__header-type {
  display: grid;
  grid-template-columns: repeat(1, minmax(94px, 1fr));
}

.result__header-place {
  display: grid;
  grid-template-columns: repeat(1, minmax(130px, 1fr));
}

.price__info,
.food__info,
.place__info,
.data__info,
.type__info,
.duration__info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.price__info p,
.food__info p,
.place__info p,
.data__info p,
.type__info p,
.duration__info p {
  font-size: 16px;
  letter-spacing: 0.5px;
  padding-block-start: 10px;
  padding-block-end: 20px;
}

.open__container,
.result__body {
  width: 100%;
}

.open__container {
  display: none;
  background-color: rgba(37, 82, 150, 0.062745098);
  padding-block-start: 18px;
  margin-block-start: 20px;
  padding-block-end: 20px;
  border-radius: 10px;
  border-top-right-radius: 0px;
}
.open__container.open {
  display: block;
}
@media (max-width: 1325px) {
  .open__container {
    border-radius: 10px;
  }
}

.swiper__result-next,
.swiper__result-prev {
  width: 25px;
  height: 25px;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  color: #fff;
}

.mySwiperResult .swiper__result-prev {
  top: 54.5%;
  left: 2.2%;
}

.mySwiperResult .swiper__result-next {
  top: 54.5%;
  right: 2.2%;
}

.link__info {
  color: #fff;
  background-color: #f68521;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 6px;
  width: 160px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-start: 40px;
}
.link__info:hover {
  transform: scale(0.9);
}

@media (max-width: 1365px) {
  .link__info {
    margin-inline-end: 10px;
  }
}
@media (max-width: 1300px) {
  .result__header {
    gap: 20px;
  }
}
@media (max-width: 1000px) and (min-width: 769px) {
  .result__container {
    padding-inline: 30px;
  }
  .result__header {
    gap: 10px;
  }
  .price__info,
  .food__info,
  .place__info,
  .data__info,
  .type__info,
  .duration__info {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .price__info p,
  .food__info p,
  .place__info p,
  .data__info p,
  .type__info p,
  .duration__info p {
    font-size: 14px;
    letter-spacing: 0px;
  }
  .link__info {
    margin-inline-start: 80px;
  }
}
@media (max-width: 768px) and (min-width: 601px) {
  .result__container {
    padding-inline: 20px;
  }
  .result__header {
    gap: 10px;
  }
  .price__info,
  .food__info,
  .place__info,
  .data__info,
  .type__info,
  .duration__info {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .price__info p,
  .food__info p,
  .place__info p,
  .data__info p,
  .type__info p,
  .duration__info p {
    font-size: 14px;
    letter-spacing: 0px;
  }
  .result__header-data {
    display: grid;
    grid-template-columns: repeat(1, minmax(70px, 1fr));
  }
  .link__info {
    margin-inline-start: 10px;
  }
}
@media (max-width: 600px) {
  .result__header {
    gap: 0px;
  }
  .price__info,
  .food__info,
  .place__info,
  .data__info,
  .type__info,
  .duration__info {
    gap: 12px;
  }
  .price__info p,
  .food__info p,
  .place__info p,
  .data__info p,
  .type__info p,
  .duration__info p {
    font-size: 12px;
  }
  .result__header-data {
    display: grid;
    grid-template-columns: repeat(1, minmax(70px, 1fr));
  }
  .link__info {
    margin-inline-start: 10px;
    font-size: 12px;
  }
}
@media (max-width: 1200px) {
  .result__body {
    gap: 20px;
    justify-content: center;
  }
  .result__proposition {
    padding-inline: 10px;
  }
  .result__proposition {
    max-width: 150px;
  }
  .result__proposition-button {
    max-width: 100px;
  }
  .result__body-info {
    gap: 20px;
  }
}
@media (max-width: 1000px) and (min-width: 769px) {
  .result__info-title {
    font-size: 16px;
  }
  .result__town-text,
  .result__info-description,
  .result__items-link,
  .result__condition p,
  .result__proposition-button,
  .result__proposition-text {
    font-size: 12px;
  }
  .result__town-text strong,
  .result__info-description strong,
  .result__items-link strong,
  .result__condition p strong,
  .result__proposition-button strong,
  .result__proposition-text strong {
    font-size: 14px;
  }
  .mySwiperResult {
    min-width: 250px;
  }
  .result__proposition {
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 768px) and (min-width: 601px) {
  .result__info-title {
    font-size: 16px;
  }
  .result__town-text,
  .result__info-description,
  .result__items-link,
  .result__condition p,
  .result__proposition-button,
  .result__proposition-text {
    font-size: 12px;
  }
  .result__town-text strong,
  .result__info-description strong,
  .result__items-link strong,
  .result__condition p strong,
  .result__proposition-button strong,
  .result__proposition-text strong {
    font-size: 14px;
  }
  .mySwiperResult {
    min-width: 250px;
  }
  .result__proposition {
    width: 100%;
    max-width: 100%;
  }
  .result__body-info {
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .result__info-title {
    font-size: 16px;
  }
  .result__town-text,
  .result__info-description,
  .result__items-link,
  .result__condition p,
  .result__proposition-button,
  .result__proposition-text {
    font-size: 12px;
  }
  .result__town-text strong,
  .result__info-description strong,
  .result__items-link strong,
  .result__condition p strong,
  .result__proposition-button strong,
  .result__proposition-text strong {
    font-size: 14px;
  }
  .mySwiperResult {
    min-width: 180px;
    max-width: 180px;
  }
  .result__proposition {
    width: 100%;
    max-width: 100%;
    padding-block-start: 12px;
    padding-block-end: 10px;
    margin-inline-start: 0px;
    height: 105px;
  }
  .result__proposition-button {
    margin-block-start: 14px;
  }
  .result__proposition-text br {
    display: none;
    font-size: 16px;
  }
  .result__proposition-text {
    font-size: 16px;
    margin-block-start: 0px;
  }
  .result__body-info {
    flex-direction: column;
  }
  .result__body {
    gap: 10px;
  }
  .result__proposition-button {
    max-width: 162px;
    height: 42px;
    margin-block-start: 11px;
    font-size: 14px;
  }
  .result__condition {
    margin-inline-start: 10px;
    margin-block-start: 0px;
  }
  .result__duration,
  .result__food,
  .result__package,
  .result__beach {
    gap: 5px;
  }
  .result__beach {
    white-space: wrap;
  }
  .bar__sort {
    margin-inline-start: 0px;
  }
  .search__arrow {
    top: 0px;
  }
  .bar__title {
    font-size: 16px;
  }
  .result__header {
    padding-inline-start: 10px;
  }
  .link__info {
    margin-inline-start: 80px;
    font-size: 10px;
  }
  .result__container {
    padding-block-start: 23px;
    padding-block-end: 16px;
  }
}
@media (max-width: 1310px) {
  .link__info {
    width: 100%;
    margin-inline-start: 100px;
  }
  .result__header-place {
    display: none;
  }
}
@media (max-width: 940px) {
  .link__info {
    margin-inline-start: 20px;
  }
}
@media (max-width: 860px) {
  .link__info {
    width: 100%;
    margin-inline-start: 30px;
  }
}
@media (max-width: 650px) {
  .link__info {
    margin-inline-start: 10px;
  }
}
@media (max-width: 600px) {
  .bar__sort .bar__calendar--mob {
    display: flex;
    margin-block-start: 9px;
  }
  .bar__calendar-icon {
    min-width: 25px;
  }
  .result__items {
    display: none;
  }
  .result__info {
    max-width: 100%;
    width: 100%;
  }
  .result__body {
    flex-direction: column;
  }
  .mySwiperResult {
    width: 100%;
    max-width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .result__container {
    margin-block-start: 30px;
    padding-inline-start: 24px;
    padding-inline-end: 16px;
  }
  .result__condition {
    display: none;
  }
  .result__condition--mob {
    display: flex;
    flex-direction: column;
    margin-inline-start: 0px;
    margin-block-start: 13px;
  }
  .result__condition-body {
    display: grid;
    grid-template-columns: repeat(2, 113px);
    margin-block-start: 15px;
    row-gap: 6px;
  }
  .result__condition-body > div {
    margin: 0;
    gap: 12px;
    white-space: nowrap;
  }
  .result__condition-body > div p {
    margin: 0;
    font-size: 14px;
  }
  .result__info-title {
    font-size: 18px;
  }
  .result__body-info {
    gap: 13px;
  }
  .mySwiperResult {
    position: relative;
  }
  .result__town {
    position: absolute;
    top: 141px;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    left: 10px;
    width: 212px;
    height: 32px;
  }
  .result__town-text {
    font-size: 14px;
    color: #fff;
  }
  .result__icon-location {
    color: #fff;
    opacity: 1;
  }
  .result__info-description {
    font-size: 14px;
    margin-block-start: 14px;
  }
  .result__body-info {
    width: 100%;
  }
  .result__card::after {
    position: static;
    background-color: inherit;
  }
  .result__card {
    margin-block-end: 46px;
  }
  .open__container.open {
    margin-block-start: 0;
    border-radius: inherit;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-block-start: 0px;
    padding-block-end: 9px;
  }
  .result__proposition.active {
    border-radius: inherit;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 102px;
  }
  .result__body {
    gap: 12px;
  }
  .result__header > p {
    display: none;
  }
  .result__header {
    flex-direction: column;
    padding-inline-start: 2px;
  }
  .result__header h4 {
    display: flex;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    width: 100%;
    margin-inline-start: 26px;
    letter-spacing: 0.6px;
    margin-block-end: 12px;
  }
  .list__dropdown--low,
  .list__dropdown--price {
    background-color: #fff;
    height: 42px;
  }
  .dropdown__body--mob .list__dropdown--low {
    width: 161px;
    margin-inline-start: 12px;
  }
  .dropdown__body--mob .list__dropdown--price {
    width: 117px;
  }
  .open__container.open .dropdown__body--mob {
    display: flex;
  }
  .result__header-data,
  .result__header-duration,
  .result__header-food,
  .result__header-type,
  .result__header-place,
  .result__header-price {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .result__header.open__header {
    padding-inline-start: 16px;
    padding-inline-end: 34px;
    gap: 5px;
  }
  .data__info,
  .duration__info,
  .food__info,
  .type__info,
  .place__info,
  .price__info {
    width: 107px;
  }
  .data__info p,
  .duration__info p,
  .food__info p,
  .type__info p,
  .place__info p,
  .price__info p {
    font-size: 16px;
    color: black;
  }
  .result__open {
    padding-block-start: 12px;
    padding-block-end: 10px;
  }
  .result__open::after {
    position: static;
    background-color: inherit;
  }
  .data__title {
    display: flex;
  }
  .price__title,
  .place__title,
  .type__title,
  .food__title,
  .duration__title,
  .data__title {
    display: flex;
  }
  .open__header > div p {
    font-weight: 400;
  }
  .type__title,
  .food__title {
    margin: 0;
  }
  .link__info {
    margin: 0;
    margin-block-start: 9px;
    width: 288px;
    margin-inline-start: 16px;
    font-size: 14px;
  }
  .result__card.active {
    margin-block-end: 24px;
  }
  .result-wrapper .consultation {
    margin-block-start: 15px;
  }
  .result-wrapper #footer {
    padding-inline-start: 23px;
    padding-block-end: 81px;
  }
  .result-wrapper .footer__location {
    margin-block-start: 14px;
  }
  .result-wrapper .footer__phone {
    margin-block-start: 11px;
  }
  .result__header-type .type__title,
  .result__header-food .food__title {
    margin: 0;
  }
}
@media (max-width: 360px) {
  .result__condition--mob .result__duration,
  .result__condition--mob .result__package,
  .result__condition--mob .result__food,
  .result__condition--mob .result__beach {
    gap: 18px;
  }
  .result__condition--mob .result__condition-body {
    margin-block-start: 14px;
    row-gap: 7px;
  }
}
@media (max-width: 340px) {
  .dropdown__body--mob {
    padding-inline: 5px;
  }
  .link__info {
    width: 268px;
  }
  .dropdown__body--mob .list__dropdown--low {
    margin-inline-start: 10px;
  }
}
.result-wrapper #footer .footer__body {
  margin-inline-start: 2px;
}
.result-wrapper #footer .footer__imdb {
  margin-inline-end: -2px;
}