<div class="form">
    <div class="form__label">
        Имя (необязательно)
    </div>
    <input class="form__input" type="text">
    <div class="form__label">
        Номер телефона
    </div>
    <input class="form__input" type="text">
    <div class="form__label">
        E-mail
    </div>
    <input class="form__input" type="text">
    <div class="form__label">
        Сообщение (необязательно)
    </div>
    <textarea class="form__textarea"></textarea>
    <button type="submit" class="form__submit">отправить</button>
</div>