<div class="contact">
    <div class="contact__title">
        Контакты
    </div>
    <div class="contact__subtitle">
        Напишите нам
    </div>
    <div class="contact__description">
        Оставьте свой номер телефона или электронную почту и мы свяжемся с вами
    </div>
    <div class="contact__name">
        Clubs Travel OÜ
    </div>
    <div class="contact__list">
        <div class="contact__item">
            <svg>
                <use xlink:href='#icon-mail'></use>
              </svg>
              <a href="mailto:info@clubstravel.ee">info@clubstravel.ee</a>
            
        </div>
        <div class="contact__item">
            <svg>
                <use xlink:href='#icon-phone'></use>
              </svg>
              <div class="contact__item-phone">
                  <a href="tel:+372 555 60 310">+372 555 60 310</a>
                  <span>|</span>
                  <a href="tel:+372 61 30 633">+372 61 30 633</a>
              </div>

        </div>
        <div class="contact__item">
            <svg>
                <use xlink:href='#icon-clock-times'></use>
            </svg>
            Пн-Пт 9:30-18:00, Сб 11:00-15:00
        </div>
        <div class="contact__item">
            <svg>
                <use xlink:href='#icon-map-marker'></use>
            </svg>
            Narva mnt 7D, Tallinn (корпус B) 4 этаж
        </div>
    </div>
</div>