<div class="tab">
    <div class="tab__list">
        <div class="tab__name active">Основное</div>
        <div class="tab__name">Предпочтения</div>
        <div class="tab__name">Контакты</div>
    </div>
    <div class="tab__content">
        <div class="tab__item active">
            <div class="tab__item-content">
                <label class="tab__label">Направление</label>

                <div class="dropdown" data-dropdown>
                    <button type="submit" class="dropdown__header" data-dropdown-button>
                        <span class="dropdown__value">Болгария > Золотые пески</span>
                        <svg class="dropdown__icon">
                          <use xlink:href="#icon-arrowDown"></use>
                        </svg>
                    </button>
                    <div class="dropdown__list">
                        <div class="dropdown__item">Болгария > Золотые пески</div>
                        <div class="dropdown__item">Албена</div>
                    </div>
                </div>
                <label class="tab__label">Дата вылета</label>

                <div class="dropdown" data-dropdown>
                    <button type="submit" class="dropdown__header" data-dropdown-button>
                        <span class="dropdown__value">25.06.2020 - 10.07.2020</span>
                        <svg class="dropdown__icon">
                          <use xlink:href="#icon-arrowDown"></use>
                        </svg>
                    </button>
                    <div class="dropdown__list">
                        <div class="dropdown__item">25.06.2020 - 10.07.2020</div>
                        <div class="dropdown__item">01.07.2020 - 14.07.2020</div>
                    </div>
                </div>
                <label class="tab__label">Гости</label>

                <div class="dropdown" data-dropdown>
                    <button type="submit" class="dropdown__header" data-dropdown-button>
                        <span class="dropdown__value">Взрослых: 2; детей: 5</span>
                        <svg class="dropdown__icon">
                          <use xlink:href="#icon-arrowDown"></use>
                        </svg>
                    </button>
                    <div class="dropdown__list">
                        <div class="dropdown__item">Взрослых: 1; детей: 1</div>
                        <div class="dropdown__item">Взрослых: 2; детей: 5</div>
                    </div>
                </div>
                <div class="tab__people">
                    <div class="tab__people-item">
                    Взрослых x2
                    </div>
                    <div class="tab__people-item">
                    15 лет x1
                    </div>
                    <div class="tab__people-item">
                    3 года x1
                    </div>
                    <div class="tab__people-item">
                    10 лет х3
                    </div>
                </div>
                <label class="tab__label">Длительность тура (дней)</label>

                <div class="counter" data-counter>
                <button type="button" class="counter__btn counter__btn-minus">
                    <svg>
                          <use xlink:href="#icon-minus"></use>
                    </svg>
                </button>
                <span class="counter__value">12</span>
                <button type="button" class="counter__btn counter__btn-plus">
                    <svg>
                          <use xlink:href="#icon-plus"></use>
                    </svg>
                </button>
                </div>
            </div>
            <button type="button" class="tab__next">
                дальше
            </button>
        </div>
        <div class="tab__item ">
            <div class="tab__item-content">
                <div class="tab__label">Желаемая цена на одного человека (€)</div>
            <input type="text" class="tab__item-input">
            <div class="tab__label">Питание</div>
            <div class="dropdown" data-dropdown>
                    <button type="submit" class="dropdown__header" data-dropdown-button>
                        <span class="dropdown__value">Завтрак</span>
                        <svg class="dropdown__icon">
                          <use xlink:href="#icon-arrowDown"></use>
                        </svg>
                    </button>
                    <div class="dropdown__list">
                        <div class="dropdown__item">Все</div>
                        <div class="dropdown__item">Без завтраков</div>
                    </div>
                </div>
            <label class="tab__label">Категория отеля</label>
            <div class="tab__category">
                <svg class="tab__category-item">
                          <use xlink:href="#icon-star-shiny"></use>
                </svg>
                <svg class="tab__category-item">
                          <use xlink:href="#icon-star-shiny"></use>
                </svg>
                <svg class="tab__category-item">
                          <use xlink:href="#icon-star-shiny"></use>
                </svg>
                <svg class="tab__category-item">
                          <use xlink:href="#icon-star-shiny"></use>
                </svg>
                <svg class="tab__category-item">
                          <use xlink:href="#icon-star-shiny"></use>
                </svg>
                <svg class="tab__category-item"> 
                          <use xlink:href="#icon-star-shiny"></use>
                </svg>
            </div>
            <div class="tab__label">Пожелания</div>
            <textarea class="tab__textarea"></textarea>
            </div>
            <button type="button" class="tab__next">
                 дальше                        
            </button>
        </div>
        <div class="tab__item">
            <div class="tab__item-content">
            <div class="tab__label">Имя</div>
            <input type="text" class="tab__item-input">
            <div class="tab__label">Телефон</div>
            <input type="text" class="tab__item-input">
            <div class="tab__label">Эл. почта</div>
            <input type="text" class="tab__item-input">
            </div>
            <button type="submit" class="tab__finish"> подобрать тур</button>
        </div>
    </div>
</div>