<div class="call">
    <div class="call__title">
        Нет времени искать тур?
    </div>
    <div class="call__subtitle">
        Просто скажите нам как должен выглядеть отдых вашей мечты и мы найдём лучший тур для вас!
    </div>
    <div class="call__form">
        <div class="call__form-subtitle">
            Заполните короткую форму запроса на нашем сайте и мы свяжемся с вами в течении 1 часа в рабочее время
        </div>
        <div class="call__form-title">
            Оставьте свой номер телефона и мы вам перезвоним
        </div>
        <div class="call__form-input">
            <input type="text" placeholder="Ваш номер телефона">
            <button type="submit">перезвонить</button>
        </div>
        <div class="call__consultation">
              <p>
                Связаться с нашим консультантом
              </p>
              <div class="call__card">
                <img src="../../../img/consultation/consultation-card.webp" alt="consultation">
                <div class="call__card-info">
                  <div class="call__card-name">
                    Марина Каасик
                  </div>
                  <div class="call__card-position">
                    Специалист по подбору туров
                  </div>
                  <div class="call__contact">
                      <div class="call__card-item">
                        <svg>
                          <use xlink:href="#icon-phone"></use>
                        </svg>
                        
                        +372 6 130 633
                      </div>
                      <div class="call__card-item">
          
                        <svg>
                          <use xlink:href="#icon-mail"></use>
                        </svg>
                        
                        contact@email.ee
                      </div>
                      <div class="call__card-item">
                        <svg>
                          <use xlink:href="#icon-messanger"></use>
                        </svg>
                        
                        Написать в Messenger
                      </div>
                  </div>
      
                </div>
              </div>
            </div>
    </div>
</div>