@use '../base/variables' as *;

.bar {
  padding-inline: 97px;
  padding-inline-end: 95px;
  position: relative;
  &.open {
    margin-block-start: 472px;
    @media (max-width: 1200px) {
      margin-block-start: 572px;
    }
    @media (max-width: 780px) {
     margin-block-start: 680px;
     gap: 20px;
    }
  }
}

.bar,
.bar__calendar,
.bar__sort {
  display: flex;
  align-items: center;
}
.bar__title {
  font-family: $Open;
  font-size: 24px;
  letter-spacing: 0.6px;
  text-wrap: balance;
  margin-block-start: 5px;
}
.bar__calendar {
  margin-inline-start: 40px;
  gap: 12px;
  color: $primaryColor;
  border: solid 1px $primaryColor;
  border-radius: 6px;
  padding-inline-start: 13px;
  padding-inline-end: 16px;
  padding-block: 7px;
  margin-block-start: -1px;
  cursor: pointer;
}
.bar__body {
  display: flex;
}
.bar__calendar-icon {
  min-width: 25px;
  min-height: 25px;
  max-width: 25px;
  max-height: 25px;
  margin-block-start: 2px;
  margin-inline-start: -1px;
}
.bar__calendar-text {
  font-family: $Open;
  letter-spacing: 0.3px;
  font-size: 14px;
}
.bar__sort {
  margin-inline-start: 26px;
  letter-spacing: 0.5px;
}
.bar__sort-text {
  font-family: $Open;
  font-size: 14px;
  color: $colorGrey;
}
.bar__dropdown {
  padding-inline-start: 16px;
  margin-block-start: -3px;
  padding-block: 11px;
  border-radius: 6px;
  border: solid 1px $colorWhiteBorder;
}
.bar__dropdown > div {
  font-family: $Roboto;
  font-size: 16px;
  margin: 0;
}
.bar__dropdown--price {
  margin-inline-start: 12px;
  width: 100%;
  width: 149px;
}
.bar__dropdown--low {
  margin-inline-start: 10px;
  width: 200px;
}

.barprice__button {
  width: 100%;
  text-align: start;
  cursor: pointer;
}
.bar__dropdown .search__arrow {
  right: 6px;
}

@include tablet {
  .bar {
    padding-inline: 20px;
    justify-content: center;
  }
  .bar__dropdown > div,
  .bar__calendar-text,
  .bar__sort-text {
    font-size: 12px;
  }
  .bar__title {
    font-size: 20px;
    max-width: 150px;
  }
  .bar__dropdown--low {
    width: 140px;
  }
  .bar__dropdown--price {
    width: 110px;
  }
  .dropdown-item {
    font-size: 12px;
    padding-block: 4px;
  }
  .result__body-info {
    flex-direction: column;
  }
  .bar__calendar {
    height: 50px;
  }
  .bar__body {
    align-items: center;
  }
}
@include tablet-mini {
  .bar {
    margin-block-start: 40px;
    padding-inline: 20px;
    flex-direction: column;
    gap: 20px;
  }
  .bar__dropdown > div,
  .bar__calendar-text,
  .bar__sort-text {
    font-size: 12px;
  }
  .bar__title {
    font-size: 18px;
  }
  .bar__dropdown--low {
    width: 140px;
  }
  .bar__dropdown--price {
    width: 90px;
  }
  .dropdown-item {
    font-size: 12px;
    padding-block: 4px;
  }
}
@include phone {
  .bar__calendar {
    margin-inline-start: 20px;
    height: 50px;
  }
  .bar {
    padding-inline: 20px;
    flex-direction: column;
    margin-block-start: 40px;
  }
  .bar__dropdown > div,
  .bar__calendar-text,
  .bar__sort-text {
    font-size: 12px;
  }
  .bar__title {
    font-size: 20px;
    max-width: 150px;
  }
  .bar__dropdown--low {
    width: 140px;
  }
  .bar__dropdown--price {
    width: 90px;
  }
  .dropdown-item {
    font-size: 12px;
    padding-block: 4px;
  }
}
