@use '../base/variables' as *;

.bar {
  padding-inline: 97px;
  padding-inline-end: 96px;
  position: relative;
  display: flex;
  flex-direction: column;
  &.open {
    margin-block-start: 472px;
    @media (max-width: 1200px) {
      margin-block-start: 572px;
    }
    @media (max-width: 780px) {
      margin-block-start: 680px;
      gap: 20px;
    }
  }
}

.bar,
.bar__calendar,
.bar__sort {
  display: flex;
  align-items: center;
}
.bar__title {
  font-family: $Open;
  font-size: 24px;
  letter-spacing: 0.6px;
  text-wrap: balance;
}
.bar__calendar {
  position: relative;
  gap: 12px;
  color: $primaryColor;
  border: solid 1px $primaryColor;
  border-radius: 6px;
  padding-inline-start: 13px;
  padding-inline-end: 16px;
  padding-block: 7px;
  margin-block-start: -1px;
  &:hover {
    transform: scale(0.9);
  }
  cursor: pointer;
  &.open {
    border: inherit;
    color: $colorGreen07;
    margin-inline-end: 85px;
    margin-inline-start: 0px;
    &::before {
      position: absolute;
      content: "";
      background-color: $colorGrey;
      width: 1px;
      height: 90%;
      left: -8px;
      opacity: 0.4;
      top: 0;

    }

    @media (max-width: 800px) {
      margin-inline-end: 0px;
    }
  }
}
.bar__hotel {
  gap: 12px;
  color: $primaryColor;
  border: solid 1px $primaryColor;
  border-radius: 6px;
  padding-block: 4px;
  cursor: pointer;
  margin-block-start: -10px;
  padding-inline-start: 14px;
  padding-inline-end: 25px;
  margin-inline-end: 3px;
  margin-block-start: -6px;
  &:hover {
    transform: scale(0.9);
  }
}
.bar__hotel-link {
  cursor: pointer;
  font-family: $Open;
  font-size: 14px;
  margin-block-start: 5px;
  white-space: nowrap;

  letter-spacing: 0.4px;
}

.bar.open .bar__title {
  margin-block-start: -4px;
  margin-inline-start: -1px;
}
.bar__hotel .bar__calendar-icon {
  margin-block-start: 7px;
  margin-inline-end: -4px;
}
.bar-wrapper,
.bar__body {
  width: 100%;

}
.bar__hotel {
  display: none;
  &.open {
    display: flex;
  }
}
.bar__body {
  justify-content: center;
}

.bar__body,
.bar-wrapper {
  display: flex;
  align-items: center;
}
.bar__calendar-text--open {
  display: none;
  font-family: $Open;
  font-size: 24px;
  color: $colorBlack;
  opacity: 1;
  margin-block-start: -5px;
  letter-spacing: 0.6px;
  &.open {
    display: block;
  }
}
.bar__calendar-icon {
  min-width: 25px;
  min-height: 25px;
  max-width: 25px;
  max-height: 25px;
  margin-block-start: 2px;
  margin-inline-start: -1px;
}
.bar__calendar-text {
  font-family: $Open;
  letter-spacing: 0.3px;
  font-size: 14px;
  &.open {
    display: none;
  }
}

.bar__sort {
  margin-inline-start: 22px;
  letter-spacing: 0.5px;
  &.open {
    display: none;
  }
}

.bar__sort-text {
  font-family: $Open;
  font-size: 14px;
  color: $colorGrey;
}
.bar__dropdown {
  padding-inline-start: 16px;
  margin-block-start: -3px;
  padding-block: 11px;
  border-radius: 6px;
  border: solid 1px $colorWhiteBorder;
}
.bar__dropdown > div {
  font-family: $Roboto;
  font-size: 16px;
  margin: 0;
}
.bar__dropdown--price {
  margin-inline-start: 13px;
  width: 100%;
  width: 149px;
}
.bar__dropdown--low {
  margin-inline-start: 11px;
  width: 200px;
}

.barprice__button {
  width: 100%;
  text-align: start;
  cursor: pointer;
}
.bar__dropdown .search__arrow {
  right: 6px;
}
.calendar__container {
  width: 100%;
  display: none;
  height: 300px;
  margin-block-start: 32px;
  &.open {
    display: flex;
  }
}

@include tablet {
  .bar {
    padding-inline: 20px;
    justify-content: center;
  }
  .bar__dropdown > div,
  .bar__calendar-text,
  .bar__sort-text {
    font-size: 12px;
  }
  .bar__title {
    font-size: 20px;
    max-width: 150px;
  }
  .bar__dropdown--low {
    width: 140px;
  }
  .bar__dropdown--price {
    width: 110px;
  }
  .dropdown-item {
    font-size: 12px;
    padding-block: 4px;
  }
  .result__body-info {
    flex-direction: column;
  }
  .bar__calendar {
    height: 50px;
  }
  .bar__body,
  .bar-wrapper {
    align-items: center;
  }
}
@include tablet-mini {
  .bar {
    margin-block-start: 40px;
    padding-inline: 20px;
    flex-direction: column;
    gap: 20px;
  }
  .bar__dropdown > div,
  .bar__calendar-text,
  .bar__sort-text {
    font-size: 12px;
  }
  .bar__title {
    font-size: 18px;
  }
  .bar__dropdown--low {
    width: 140px;
  }
  .bar__dropdown--price {
    width: 90px;
  }
  .dropdown-item {
    font-size: 12px;
    padding-block: 4px;
  }
}
@include phone {
  .bar__calendar {
    margin-inline-start: 20px;
    height: 50px;
  }
  .bar {
    padding-inline: 20px;
    flex-direction: column;
    margin-block-start: 40px;
  }
  .bar__dropdown > div,
  .bar__calendar-text,
  .bar__sort-text {
    font-size: 12px;
  }
  .bar__title {
    font-size: 20px;
    max-width: 150px;
  }
  .bar__dropdown--low {
    width: 140px;
  }
  .bar__dropdown--price {
    width: 90px;
  }
  .dropdown-item {
    font-size: 12px;
    padding-block: 4px;
  }
}

@media (max-width: 1200px) {
  .bar__title,
  .bar__calendar-text--open {
    font-size: 16px;
  }
  .bar-wrapper {
    flex-direction: column;
    gap: 40px;
  }
  .bar__body {
    gap: 20px;
  }
}
@media (max-width: 600px) {
  .bar__body {
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .bar__title {
    max-width: 100%;
  }
}
.bar__body {
  gap: 29px;
  justify-content: flex-start;
}
