@use "../base/variables" as *;

.consultation {
  position: relative;
  width: 100%;
  height: 100%;

  &__cover {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    flex-direction: column;
    width: 100%;
        // height: 570px;
    // position: absolute;
    padding: 80px 128px 98px 205px;

    @include huge {
      padding: 60px 20% 95px;
    }

    @include laptop {
      // padding: 60px 80px 45px 100px;
                      padding: 80px 128px 93px 203px;
    }

    @include table-big {
      padding: 40px 40px 45px;
    }

    @include phone {
      padding: 30px 10px 45px;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 93%;

    @include laptop{
          // width: 99%;
    }

    @include phone {
      width: 100%;
    }
  }

  &__title {
    font-family: $Open;
    font-size: 26px;
    line-height: 35px;
    letter-spacing: 1.28px;
    font-weight: 700;
    color: rgb(255, 255, 255, 1);
    text-transform: uppercase;

    @include laptop{
        letter-spacing: 1.1px;

    }

    @include phone {
      margin-top: 5px;
      padding: 0 50px;
        letter-spacing: 0.5px;
      text-align: center;

    }
  }

  &__text {
    width: 60%;
    margin-top: 16px;
    font-family: $Open;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    font-weight: 400;
    color: rgb(255, 255, 255, 1);
    text-align: center;

    @include phone {
      width: 100%;
      margin-top: 26px;
    }
  }

  &__main {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 96px;
    box-sizing: border-box;

    @include table-big {
      margin-top: 40px;
    }

    @include tablet {
      align-items: center;
      flex-direction: column;
    }

    @include tablet-mini {
      align-items: center;
      flex-direction: column;
    }

    @include phone {
      // align-items: center;
      flex-direction: column;
      margin-top: 3px;
    }
  }

  &__left {
    width: 36%;
    margin-top: 25px;
    font-family: $Open;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0%;
    font-weight: 400;
    color: rgb(255, 255, 255, 1);
    text-align: center;

    @include tablet {
      width: 70%;
    }

    @include tablet-mini {
      width: 70%;
    }

    @include phone {
      width: 100%;
    }
  }

  &__button {
    width: 378px;
    height: 42px;
    margin-top: 36px;
    border: none;
    border-radius: 6px;
    font-family: $Open;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.77px;
    font-weight: 400;
    color: rgb(255, 255, 255, 1);
    text-align: center;
    text-transform: uppercase;
    background: var(--primary, rgb(246, 133, 33, 1));

    @include table-big {
      width: 100%;
    }
  }

  &__center {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4px 0;

    @include tablet {
      flex-direction: row;
      margin: 24px 0;
    }

    @include tablet-mini {
      flex-direction: row;
      margin: 24px 0;
    }

    @include phone {
      justify-content: center;
      flex-direction: row;
      margin: 29px 0;
    }

    span {
      font-family: $Open;
      font-size: 14px;
      line-height: 19px;
      font-weight: 400;
      color: rgb(255, 255, 255, 1);
    }
  }

  &__line {
    opacity: 0.5;
    width: 2px;
    height: 77px;
    background-color: rgb(255, 255, 255, 0.6);

    @include tablet {
      width: 77px;
      height: 2px;
    }

    @include tablet-mini {
      width: 77px;
      height: 2px;
    }

    @include phone {
      width: 77px;
      height: 2px;
    }

    &:nth-child(1) {
      margin-bottom: 12px;

      @include tablet {
        margin-bottom: 0;
        margin-right: 12px;
      }

      @include tablet-mini {
        margin-bottom: 0;
        margin-right: 12px;
      }

      @include phone {
        margin-bottom: 0;
        margin-right: 12px;
      }
    }

    &:nth-child(3) {
      margin-top: 12px;

      @include tablet {
        margin-top: 0;
        margin-left: 12px;
      }

      @include tablet-mini {
        margin-top: 0;
        margin-right: 12px;
      }

      @include phone {
        margin-top: 0;
        margin-right: 12px;
      }
    }
  }

  &__right {
    p {
      font-family: $Open;
      font-size: 18px;
      line-height: 25px;
      font-weight: 400;
      color: rgb(255, 255, 255, 1);

      @include tablet {
        text-align: center;
      }

      @include tablet-mini {
        text-align: center;
      }

      @include phone {
        // text-align: center;
        padding-left: 16px;
      }
    }
  }

  &__card-info {
    margin-top: -10px;
  }

  &__card {
    display: flex;
    gap: 32px;
    margin-top: 25px;

    @include laptop{
      gap: 33px;
      margin-top: 24px;
    }

    @include phone {
      flex-direction: column;
      gap: 24px;
      margin-top: 17px;
      padding-right: 15px;
      padding-left: 17px;

    }

    img {
      height: 152px;

      @include phone {
        width: 88%;
        height: 181px;
      }
    }
  }

  &__card-name {
    margin-bottom: 5px;
    font-family: $Open;
    font-size: 22px;
    line-height: 30px;
    font-weight: 400;
    color: rgb(255, 255, 255, 1);
  }

  &__card-position {
    margin-bottom: 24px;
    margin-left: 1px;
    font-family: $Open;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    color: rgb(255, 255, 255, 1);
  }

  &__card-phone {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 6px;
    font-family: $Open;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: rgb(255, 255, 255, 1);

    svg{
      width: 24px;
      height: 24px;
      color: white;
    }

    @include laptop{
      gap: 10px;
    }

    @include phone {
      gap: 13px;
      margin-bottom: 15px;
    }
  }

  &__card-email {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 9px;
    font-family: $Open;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: rgb(255, 255, 255, 1);

    svg{
      width: 24px;
      height: 24px;
      color: white;
    }

    
    @include laptop{
      gap: 12px;
    }

    @include phone {
      margin-bottom: 16px;
    }
  }

  &__card-massager {
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: $Open;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: rgb(255, 255, 255, 1);

    @include laptop{
      gap: 18px;
    }

    @include phone{
      gap: 15px;
    }

    svg{
      width: 24px;
      height: 24px;
      color: white;
    }
  }
}
