@use '../base/variables' as *;

#footer {
  display: flex;

  padding-block: 82px;
  padding-inline-start: 93px;
  padding-inline-end: 78px;
  @include table-big {
    padding-inline: 60px;
    gap: 40px;
    justify-content: center;
  }
  @include tablet-mini {
    padding-inline: 30px;
    flex-direction: column;
  }
  @include phone {
    padding-inline: 20px;
    flex-direction: column;
    gap: 30px;
  }
}
.footer__body {
  display: flex;
  flex: 1;
  gap: 66px;
  @include tablet {
    gap: 30px;
  }
  @include tablet-mini {
    gap: 30px;
    flex: inherit;
    justify-content: center;
  }
  @include phone {
    gap: 20px;
    flex: inherit;
    justify-content: center;
  }
}

.footer__popular-title,
.footer__contact-title {
  letter-spacing: -0.3px;
  font-size: 16px;
  font-family: $Open;
  font-weight: 400;
  text-transform: uppercase;
  color: $colorGrey;
  @include tablet {
    font-size: 12px;
  }
  @include tablet-mini {
    font-size: 12px;
  }
  @include phone {
    font-size: 10px;
    width: 100%;
    text-align: center;
  }
}

.footer__contact-subtitle {
  font-weight: 700;
  font-size: 16px;
  font-family: $Open;
  margin-block-start: 2px;
  @include tablet {
    font-size: 12px;
  }
  @include tablet-mini {
    font-size: 12px;
  }
  @include phone {
    font-size: 10px;
    width: 100%;
    text-align: center;
  }
}

.footer__country {
  margin-inline-start: -2px;
  display: flex;
  gap: 43px;
  @include tablet {
    gap: 20px;
  }
  @include tablet-mini {
    gap: 20px;
  }
  @include phone {
    gap: 15px;
  }
}
.footer__country__column {
  display: flex;
  flex-direction: column;
  gap: 8px;
  p {
    font-size: 18px;
    font-family: $Open;
    letter-spacing: 0.5px;
    @include tablet {
      font-size: 12px;
    }
    @include tablet-mini {
      font-size: 12px;
    }
    @include phone {
      font-size: 10px;
    }
  }
}

.footer__contact,
.footer__popular {
  display: flex;
  flex-direction: column;
  gap: 25px;
  @include tablet-mini {
    gap: 10px;
  }
  @include tablet {
    gap: 10px;
    justify-content: flex-start;
  }
  @include phone {
    gap: 10px;
  }
}
.footer__contact {
  flex: 1;
  margin-inline-start: 1px;
  @include table-big {
    flex: inherit;
  }
  @include phone {
    justify-content: center;
    align-items: center;
  }
}
.footer__open {
  margin-block-start: 2px;
}
.footer__location {
  margin-block-start: -3px;
}
.footer__open-img {
  margin-block-start: -2px;
}
.footer__phone {
  margin-block-start: -1px;
}
.footer__open,
.footer__location,
.footer__phone,
.footer__email {
  img {
    width: 24px;
    height: 24px;
  }
  @include phone {
    font-size: 10px;
    width: 100%;
    img {
      width: 15px;
      height: 15px;
    }
  }
}

.footer__open,
.footer__location,
.footer__phone,
.footer__email,
.footer__imdb {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  font-family: $Open;

  @include table-big {
    font-size: 12px;
  }
  @include tablet-mini {
    font-size: 12px;
  }
  @include phone {
    font-size: 10px;
  }
}
.footer__email {
  text-decoration: underline;
  color: $colorBlue;
}

.footer__imdb {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 23px;
  &::before {
    position: absolute;
    content: '';
    width: 1px;
    height: 100%;
    background-color: $colorGrey;
    opacity: 0.1;
    left: -64px;
    @include table-big {
      left: -15px;
    }
    @include tablet {
      display: none;
    }
    @include tablet-mini {
      display: none;
    }
  }
  @include tablet-mini {
    gap: 12px;
    justify-content: center;
    align-items: center;
  }
  @include phone {
    gap: 12px;
    justify-content: center;
    align-items: center;
  }
}
.footer__instagram {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-block-start: -1px;
}
#footer .footer__instagram-text {
  letter-spacing: 0.3px;
  color: rgb(226, 88, 111);
}

.footer__phone {
  p {
    text-decoration: underline;
  }
}
.footer__email-text,
.footer__location-text {
  letter-spacing: 0.4px;
}
.footer__number {
  display: flex;
  align-items: center;
  gap: 3px;
  font-family: $Roboto;
  color: $colorBlue;
  white-space: nowrap;
  @include tablet {
    flex-direction: column;
    align-items: flex-start;
    span {
      display: none;
    }
  }
  @include tablet-mini {
    flex-direction: column;
    align-items: flex-start;
    span {
      display: none;
    }
  }
  @include phone {
    flex-direction: column;
    align-items: flex-start;
    span {
      display: none;
    }
  }
}

.footer__imdb-img {
  width: 100%;
  max-width: 332px;
}
.footer__mob {
  display: none;
}

@media (max-width: 600px) {
  #footer {
    padding-block-start: 41px;
    padding-inline: 25px;
  }
  .footer__body {
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
  }
  .footer__popular-title {
    text-align: start;
    font-size: 16px;
    letter-spacing: -0.2px;
  }
  .footer__country__column p {
    font-size: 18px;
    letter-spacing: 0.7px;
  }
  .footer__country {
    margin-block-start: 15px;
    gap: 42px;
  }
  .footer__country__column--second {
    margin-block-start: 2px;
  }
  .footer__contact-title,
  .footer__contact-subtitle {
    text-align: start;
    font-size: 16px;
  }
  .footer__contact-subtitle {
    margin-block-start: 16px;
  }

  .footer__contact > div {
    text-transform: lowercase;
    font-size: 16px;
  }
  .footer__contact > div img {
    min-width: 24px;
    min-height: 24px;
  }
  .footer__open {
    margin-block-start: 10px;
  }
  .footer__number {
    flex-direction: row;
    width: 100%;
    color: $colorBlack;
    margin-block-start: 4px;
    gap: 10px;
  }

  .footer__email {
    margin-block-start: 14px;
    color: $colorBlack;
    letter-spacing: 0.4px;
  }
  .footer__phone p,
  .footer__email {
    text-decoration: none;
  }

  .footer__instagram-text {
    font-size: 16px;
    color: #bb7462;
    letter-spacing: 0.4px;
  }
  .footer__imdb {
    margin-block-start: 32px;
  }
  .footer__instagram {
    width: 100%;
    justify-content: center;
  }
  .footer__imdb-img {
    margin-block-start: 6px;
    width: 332px;
    height: 224px;
    margin-inline-start: 9px;
  }
  .footer__mob {
    display: flex;
    font-family: $Open;
    font-size: 14px;
    color: $colorGrey;
    opacity: 0.5;
    background-color: $colorGrey06;
    margin-block-start: -22px;
    text-align: center;
    padding-block: 15px;
    padding-block-end: 13px;
    padding-inline: 30px;
    justify-content: center;
    margin-block-end: 40px;
  }
  .footer__phone {
    margin-block-start: 1px;
  }
  .footer__phone-img{
    margin-block-start: 2px;
  }
  .footer__open-text{
    letter-spacing: 0.2px;
    margin-block-start: 2px;
  }
}

@media (max-width: 360px) {
  #footer {
    padding-block-start: 41px;
   
  }
  .footer__country {
    margin-inline-start: -1px;

  }
  .footer__mob-text {
    margin-inline-start: 9px;
    letter-spacing: 0.1px;

  }
  .footer__body {
    align-items: start;
  }
  .footer__instagram {
    justify-content: start;
  }
}

@media (max-width: 359px) {
  .footer__imdb-img {
    width: 260px;
    height: 200px;
  }
}
