@use "../base/variables" as *;

header {
  padding-inline: 98px;
  color: $colorGrey;
  font-family: $Open;
  font-size: 12px;
  font-weight: 400;
  @media (max-width: 1240px) {
    padding-inline: 60px;
  }
  @include tablet {
    padding-inline: 20px;
  }
  @include tablet-mini {
    padding-inline: 15px;
    font-size: 10px;
  }
  @include phone {
    padding-inline: 15px;
    font-size: 8px;
  }
}

.topbar__contact,
.profile__body,
.phone__body,
.email__body,
.topbar__items,
.topbar {
  display: flex;
  align-items: center;
}

.topbar {
  position: relative;
  justify-content: flex-end;
  line-height: 100%;
  padding-block: 8px;
  gap: 48px;

  @include tablet-mini {
    gap: 12px;
  }
  @include phone {
    gap: 12px;
    justify-content: flex-end;
    &::after {
      position: absolute;
      content: "";
      height: 1px;
      width: 100%;
      left: 0;
      bottom: 0;
      background-color: $colorGrey;
      opacity: 0.1;
    }
  }
}
.topbar__list {
  width: 221px;
  margin-inline-end: -25px;
  @include phone {
    display: none;
  }
}
.topbar__items {
  position: relative;
  gap: 24px;
  @include tablet-mini {
    justify-content: center;
  }
  @include phone {
    justify-content: flex-start;
    gap: 8px;
  }

  &::after {
    position: absolute;
    content: "";
    height: 24px;
    width: 1px;
    right: 0px;
    background-color: $colorGrey;
    opacity: 0.1;
    @include tablet-mini {
      right: 17px;
    }
    @include phone {
      right: 14px;
    }
  }
}

.email__body {
  position: relative;
  gap: 24px;
  &::after {
    position: absolute;
    content: "";
    height: 24px;
    width: 1px;
    right: -24px;
    background-color: $colorGrey;
    opacity: 0.1;
    @include phone {
      right: -10px;
    }
  }
}

.topbar__contact {
  margin-inline-end: 1px;
  gap: 24px;
  img {
    width: 16px;
    height: 16px;
  }
  @include tablet-mini {
    gap: 12px;
  }
  @include phone {
    gap: 8px;
    img {
      width: 12px;
      height: 12px;
    }
  }
}
.phone__body,
.email__body {
  gap: 8px;
  white-space: nowrap;
  @include phone {
    gap: 4px;
  }
}

.profile__body {
  gap: 24px;
  img {
    width: 24px;
    height: 24px;
  }
  @include phone {
    gap: 8px;
    img {
      width: 16px;
      height: 16px;
    }
  }
}

.logo {
  position: relative;
  top: -40px;
  left: -48px;
  z-index: 10;
  @include tablet {
    left: 0;
    top: -20px;
  }
  @include tablet-mini {
    left: -10px;
    top: -20px;
  }
  @include phone {
    left: 10px;
    top: -15px;
  }
}

.logo__img {
  position: absolute;
  top: 11px;
  left: 48px;
  z-index: 4;
  width: 82px;
  height: 114px;
  @include tablet {
    width: 60px;
    height: 80px;
    left: 16px;
  }
  @include tablet-mini {
    width: 40px;
    height: 50px;
    left: 8px;
    top: 20px;
  }
  @include phone {
    width: 40px;
    height: 50px;
    left: 8px;
    top: 20px;
  }
}

.logo__background {
  position: absolute;
  width: 189px;
  height: 154px;
  @include tablet {
    width: 100px;
    height: 115px;
  }
  @include tablet-mini {
    width: 60px;
    height: 90px;
  }
  @include phone {
    width: 60px;
    height: 90px;
  }
}

.nav {
  display: flex;
  justify-content: flex-end;
  font-family: $Open;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: $colorBlue;
  &__items {
    display: flex;
    align-items: center;
    gap: 24px;
    white-space: nowrap;
    @include table-big {
      font-size: 12px;
      gap: 12px;
    }
    @include tablet {
      font-size: 10px;
      gap: 10px;
    }
    @include tablet-mini {
      font-size: 10px;
      gap: 5px;
    }
    @include phone {
      display: none;
    }
  }
  &__link {
    display: flex;
    align-items: center;
  }
}

.nav__list {
  position: relative;
  padding-block: 18px;
  &::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    left: 0;
    top: 0;
    background-color: $colorGrey;
    opacity: 0.1;
    @include phone {
      display: none;
    }
  }
}

.nav__link--company,
.nav__link--sale {
  display: flex;
  font-weight: 600;
  cursor: pointer;
  color: $primaryColor;
  transition: color 0.3s;
  &:hover {
    color: $colorOrange;
  }
}
.nav__link--company {
  gap: 6px;
}

.sale,
.clock {
  @include tablet-mini {
    width: 18px;
    height: 18px;
  }
  @include phone {
    max-width: 18px;
    max-height: 18px;
    min-height: 18px;
    min-width: 18px;
  }
}
// BURGER
.burger {
  position: relative;
  cursor: pointer;
  margin-inline-end: 20px;
  display: none;
  z-index: 100;
  @include phone {
    display: flex;
  }
}
.burger__img {
  width: 24px;
  height: 24px;
}
.burger__menu {
  position: fixed;
  visibility: hidden;
  display: flex;
  justify-content: center;
  top: 0;
  opacity: 0;
  left: 50%;
  transform: translate(-50%);
  background: linear-gradient(
    to right,
    rgb(37, 174, 233, 0.5),
    rgb(81, 177, 250, 0.5),
    rgb(162, 162, 224, 0.5)
  );
  backdrop-filter: blur(4px);
  z-index: 99;
  width: 100%;
  height: auto;
  padding: 70px;
  &.open {
    opacity: 1;
    visibility: visible;
  }
}
.burger__body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  white-space: nowrap;
  color: black;
  width: 100%;
  max-width: 350px;
  .nav__link {
    font-size: 10px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    &:active {
      transform: translateY(2px);
    }
  }
  .nav__link--sale {
    gap: 8px;
  }
}
