@use '../base/variables' as *;

.list__hotdeals {
  position: relative;
  margin-block-start: -22px;
  margin-block-end: 65px;
  margin-inline: 98px;
  @include tablet-mini {
    margin-inline: 0px;
  }

  @include phone {
    margin-block-start: 20px;
    margin-inline: 0px;
  }
}

.list__hotdeals .hotdeals__header {
  margin-inline-start: 3px;
  margin-block-end: 8px;
}

.hotdeals__header {
  display: flex;
  align-items: center;
  padding-inline: 26px;
  h3 {
    font-size: 14px;
    font-weight: 700;
    font-family: $Open;
    @include tablet-mini {
      font-size: 12px;
    }
    @include phone {
      font-size: 10px;
    }
  }

  @include table-big {
    padding-inline: 0px;
  }
  @include phone {
    padding-inline: 0px;
  }
}
.list__img {
  display: none;
}

.hotdeals__data,
.hotdeals__from,
.hotdeals__to,
.hotdeals__duration,
.hotdeals__price,
.list__data,
.list__from,
.list__to,
.list__duration,
.list__price {
  width: 100%;
}

.hotdeals__data {
  max-width: 150px;
  @include table-big {
    max-width: 120px;
  }
}
.list__opendeals .hotdeals__header {
  margin-inline-start: 0px;
}
.hotdeals__from {
  margin-inline-start: 99px;
  max-width: 172px;
  letter-spacing: 0.7px;
  @include table-big {
    margin-inline-start: 0px;
  }
}
.hotdeals__to {
  margin-inline-end: -10px;
  max-width: 211px;
  letter-spacing: 1px;
}
.hotdeals__render-mob {
  display: none;
}
.hotdeals__duration {
  max-width: 169px;
}
.hotdeals__render {
  margin-block-start: 16px;
  font-size: 15px;
  font-family: $Open;
  display: flex;
  flex-direction: column;
  min-width: 650px;
  @media (max-width: 760px) {
    min-width: inherit;
  }
}
.list__data {
  max-width: 150px;
  margin-inline-start: -1px;
}
.list__from {
  max-width: 150px;
  margin-inline-start: 103px;
  @include table-big {
    margin-inline-start: 0px;
  }
}
.list__to {
  margin-inline-start: 21px;
  max-width: 200px;
  @include table-big {
    margin-inline-start: 0px;
  }
}
.list__duration {
  max-width: 170px;
  margin-inline-start: 2px;
  @include table-big {
    text-align: center;
  }
}
.list__price {
  max-width: 90px;
}
.list__button {
  width: 100%;
  max-width: 200px;
  text-align: center;
  margin-inline-start: 30px;
  text-transform: uppercase;
  color: $primaryColor;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: underline;
  cursor: pointer;
  @include table-big {
    margin-inline-start: 0px;
  }
  @include tablet-mini {
    font-size: 12px;
  }
  @include phone {
    font-size: 10px;
  }
}

.list__button-close {
  width: 100%;
  max-width: 200px;
  text-align: center;
  margin-inline-start: 28px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: underline;
  cursor: pointer;
  @include table-big {
    margin-inline-start: 0px;
  }
  @include tablet-mini {
    font-size: 10px;
  }
  @include phone {
    font-size: 10px;
  }
}
.list__select-hotel {
  overflow: hidden;
  position: relative;
}
.list__body {
  position: relative;
  display: flex;
  white-space: nowrap;
  align-items: center;
  width: 100%;
  font-size: 15px;
  padding-block-start: 22px;
  padding-block-end: 21.5px;
  @include table-big {
    justify-content: center;
    gap: 20px;
  }
  @include tablet-mini {
    font-size: 12px;
    gap: 10px;
  }
  @include phone {
    font-size: 10px;
    gap: 5px;
    white-space: wrap;
  }
}
.list__open {
  padding-inline-start: 24px;
  box-shadow:
    0 -1px 3px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.1);
  .list__body {
    @include table-big {
      padding-inline-end: 24px;
    }
    @include phone {
      padding-inline: 10px;
    }
  }
  @include phone {
    padding-inline: 0px;
  }
}

.list__openlist {
  margin-block-start: 20px;
  margin-block-end: 11px;
  .hotdeals__header {
    padding: 0;
  }
  .hotdeals__from {
    margin-inline-start: 102px;
    @include table-big {
      margin-inline-start: 0px;
    }
  }
  .hotdeals__to {
    margin-inline-start: 4px;
    @include table-big {
      margin-inline-end: 0px;
    }
  }
  .hotdeals__duration {
    margin-inline-start: -2px;
  }
}
.list__container {
  position: relative;
  overflow: hidden;
  height: 60px;
  &.active {
    height: auto;
    overflow: inherit;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    background-color: $colorGrey;
    width: 100%;
    height: 1px;
    opacity: 0.2;
    @include tablet-mini {
      display: none;
    }
    @include phone {
      display: none;
    }
  }
}
.list__container > .list__body {
  padding-inline-start: 24px;
  padding-inline-end: 22px;
  @include phone {
    padding-inline: 10px;
  }
}
.list__category {
  display: flex;
  align-items: center;
  gap: 4px;
}
.hotdeals__category-star {
  width: 18px;
  height: 18px;
}
.list__hotel,
.list__category,
.list__food,
.list__tour,
.list__price,
.list__button-open,
.list__button-close,
.list__button-select {
  width: 100%;
}
.list__category {
  font-size: 24px;
  color: #f5c213;
  max-width: 140px;
  margin-inline-start: 70px;
  @include table-big {
    margin-inline-start: 0px;
  }
}
.list__hotel {
  text-decoration: underline;
  color: $colorBlue;
  font-size: 15px;
  max-width: 180px;
  @include table-big {
    max-width: 120px;
  }
}
.list__food {
  margin-inline-start: 35px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 200px;
  @include table-big {
    margin-inline-start: 10px;
  }
}
.list__tour {
  max-width: 150px;
  margin-inline-start: -1px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.list__button-open {
  display: flex;
  white-space: nowrap;
  text-align: start;
  border: solid 1px $primaryColor;
  border-radius: 6px;
  max-width: 200px;
  height: 28px;
  font-size: 12px;
  padding-block-start: 6px;
  text-transform: uppercase;
  margin-inline-start: 28px;
  margin-block-start: -5px;
  padding-inline-start: 7px;
  padding-inline-end: 14px;
  letter-spacing: 0.3px;
}
.list__button-select,
.href__button-select {
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  background-color: $primaryColor;
  color: white;
  border-radius: 6px;
  width: 100%;
  max-width: 200px;
  height: 28px;
  font-size: 12px;
  padding-block-start: 6px;
  text-transform: uppercase;
  margin-inline-start: 38px;
  margin-block-start: 4px;
  padding-inline-start: 7px;
  padding-inline-end: 14px;
  letter-spacing: 0.3px;
  &.active {
    background-color: white;
    border: 1px solid $primaryColor;
    color: black;
    display: flex;
  }
  @include table-big {
    margin-inline-start: 0px;
  }
  @include tablet-mini {
    padding-inline: 5px;
  }
  @include phone {
    padding-inline: 5px;
  }
}

.list__body-close {
  cursor: pointer;
  display: flex;
  white-space: nowrap;
  text-align: start;
  border: solid 1px $primaryColor;
  border-radius: 6px;
  max-width: 200px;
  height: 28px;
  font-size: 12px;
  padding-block-start: 6px;
  text-transform: uppercase;
  margin-inline-start: 40px;
  margin-block-start: -3px;
  padding-inline-start: 11px;
  padding-inline-end: 14px;
  letter-spacing: 0.3px;
  text-decoration: none;
  @include table-big {
    max-width: 100px;
    white-space: wrap;
    text-align: center;
    font-size: 10px;
    height: 100%;
    padding-inline: 10px;
    padding-block: 5px;
    margin-inline-start: 0px;
  }
}
.list__price--open {
  margin-inline-start: 20px;
}
.list__body-select {
  display: flex;
  flex-direction: column-reverse;
  overflow: hidden;
  height: 66px;
  &.active {
    overflow: inherit;
    height: auto;
  }
  @include table-big {
    padding-inline-end: 0px;
  }
}

.list__select {
  position: relative;
  left: -10px;
  width: 1149px;

  @include table-big {
    width: 100%;
    left: inherit;
  }
  @media (max-width: 1360px) {
    width: 100%;
  }
}

.list__body-category {
  position: relative;
  display: flex;
  padding-block: 12px;
  align-items: center;
  padding-inline-start: 2px;
  margin-block-start: 8px;
  @media (max-width: 1366px) {
    padding-inline-end: 12px;
  }
  .list__hotel {
    letter-spacing: 0.4px;
  }
  .list__food,
  .list__tour,
  .list__price {
    margin-block-start: -2px;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    background-color: $colorGrey;
    width: 100%;
    height: 1px;
    opacity: 0.2;
  }
}

.list__body-select.active .list__body-category {
  &::before {
    content: '';
    position: absolute;
    top: 3px;
    left: 0;
    background-color: $colorGrey;
    width: 100%;
    height: 1px;
    opacity: 0.2;
  }
}

.list__arrow-open {
  min-width: 24px;
  min-height: 24px;
  margin-block-start: 4px;
  margin-inline-start: 6px;
}
.list__arrow-close {
  min-width: 10px;
  min-height: 10px;
  max-width: 10px;
  max-height: 10px;
  margin-block-start: 5px;
  margin-inline-start: 11px;
  @include table-big {
    display: none;
  }
}

.list__body-select {
  .list__body-hotel {
    display: flex;
    align-items: center;
  }
}

.list__body-hotel {
  padding-block: 13px;
  margin-block: 12px;
  @media (max-width: 1366px) {
    padding-inline-end: 10px;
  }
  .list__price {
    margin-inline-start: 20px;
    @include table-big {
      margin: 0;
    }
  }
}
.list__body-select.active .list__select-hotel {
  background-color: $backgroundGrey;
}
.list__select-hotel {
  display: flex;
  align-items: center;
  padding-block: 12px;
  padding-block-end: 23px;
  border-radius: 6px;
  padding-inline-start: 12px;

  .list__hotel {
    text-decoration: none;
    opacity: 0.5;
    color: $colorGrey;
    @include table-big {
      text-align: center;
      font-size: 12px;
    }
  }

  @include table-big {
    padding-inline: 10px;
  }
}

@include table-big {
  .list__openlist {
    .hotdeals__header {
      display: flex;
      justify-content: start;
      gap: 40px;
    }
  }
  .list__opendeals {
    text-align: center;
    .hotdeals__from,
    .hotdeals__to {
      max-width: 100px;
    }
    .hotdeals__duration {
      max-width: 210px;
    }
    .hotdeals__price {
      text-align: start;
    }
  }
  .list__body-category {
    justify-content: space-between;
    .list__category,
    .list__food,
    .list__tour,
    .list__price--open {
      margin-inline-start: 0px;
    }
  }
  .list__button-select {
    max-width: 100px;
    white-space: wrap;
    font-size: 10px;
  }
  .list__body-category {
    .list__button-select.active {
      font-size: 10px;
      height: 100%;
      padding-inline: 10px;
      padding-block: 5px;
    }
  }
  .list__hotel,
  .list__category,
  .list__food,
  .list__tour,
  .list__price--open {
    font-size: 12px;
    text-align: center;
    margin: 0px;
  }
  .list__select-hotel {
    display: flex;
  }
}

@include phone {
  .list__food {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .list__duration,
  .hotdeals__duration,
  .list__to,
  .hotdeals__to,
  .hotdeals__from,
  .list__price,
  .list__from,
  .list__data {
    max-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .hotdeals__header {
    padding-inline: 5px;
  }
  .hotdeals__price {
    text-align: start;
  }

  .hotdeals__data {
    max-width: 70px;
  }
  .hotdeals__duration,
  .list__tour,
  .list__duration {
    display: none;
  }
  .list__button {
    max-width: 100px;
  }
  .list__body {
    justify-content: space-between;
    padding-inline: 10px;
    gap: 15px;
    margin-inline-start: 30px;
  }
  .list__hotel,
  .list__category,
  .list__food,
  .list__tour,
  .list__price--open {
    font-size: 10px;
    text-align: center;
    margin: 0px;
  }

  .list__food {
    text-align: start;
  }
  .hotdeals__price {
    max-width: 50px;
  }
  .hotdeals__to {
    margin-inline-start: 5px;
  }
  .hotdeals__price {
    margin-inline-start: 35px;
  }
}

////////////////////////////////////
@include table-big {
  .hotdeals__header {
    text-align: center;
  }
  .hotdeals__price {
    text-align: start;
  }

  .list__body-category {
    padding-inline: 10px;
  }
  .list__open {
    padding: 0;
  }
  .href__button-select {
    max-width: 100px;
  }
  .hotdeals__price {
    max-width: 120px;
  }
  .hotdeals__duration {
    max-width: 220px;
  }
}
/////////////////////////////////////////////
@include tablet {
  .hotdeals__header {
    text-align: start;
  }
  .hotdeals__to {
    max-width: 100px;
  }
  .hotdeals__duration {
    max-width: 150px;
  }
  .list__body-hotel {
    text-align: start;
  }
  .list__button-close,
  .list__button {
    font-size: 10px;
  }
}
//////////////////////////////////////
@include tablet-mini {
  .hotdeals__header {
    text-align: start;
    margin-block-start: 40px;
    padding-inline: 10px;
  }

  .hotdeals__from {
    max-width: 110px;
  }
  .hotdeals__to {
    max-width: 100px;
  }
  .hotdeals__duration {
    max-width: 170px;
  }
}
/////////////////////////////////////
@include phone {
  .list__button {
    max-width: 100%;
  }
}
.hotdeals__duration {
  @media (max-width: 680px) {
    max-width: 120px;
  }
}
.hotdeals__header {
  @media (max-width: 600px) {
    justify-content: space-between;
    text-align: start;
    padding-inline: 10px;
    margin-inline-start: 20px;
    gap: 0px;
  }
}

@media (max-width: 400px) {
  .list__button {
    max-width: 60px;
  }
  .list__body {
    margin-inline: 5px;
  }
}

@include table-big {
  .list__body-hotel,
  .list__select-hotel {
    justify-content: space-between;
    padding-inline: 10px;
    text-align: start;
  }
  .list__opendeals {
    .hotdeals__header {
      justify-content: space-between;
      gap: 20px;
      padding-inline: 10px;
      .hotdeals__price {
        margin-inline-end: 70px;
      }
      .hotdeals__duration {
        max-width: 150px;
      }
    }
  }
  .list__open {
    .list__body {
      padding-inline: 20px;
    }
  }
}

@include phone {
  .list__open {
    .list__body {
      padding-inline: 10px;
    }
  }
  .list__button,
  .list__button-close {
    max-width: 100px;
  }
  .list__body {
    margin: 0px;
  }

  .hotdeals__category-star {
    max-width: 12px;
    max-height: 12px;
    min-width: 12px;
    min-height: 12px;
  }
  .list__opendeals {
    .hotdeals__to,
    .list__food {
      display: none;
    }
  }
  .list__category {
    justify-content: center;
  }
  .hotdeals__header {
    text-align: center;
    gap: 10px;
  }
  .hotdeals__data {
    max-width: 50px;
  }
  .list__hotel {
    max-width: 70px;
  }
  .list__select-hotel .list__hotel {
    font-size: 10px;
  }
  .list__body,
  .list__open {
    display: none;
  }
  .list__img {
    display: flex;
  }
  .hotdeals__render-mob {
    padding-inline: 20px;
    display: flex;
    gap: 22px;
    flex-direction: column;
    margin-block-end: 80px;
    .list__container {
      box-shadow: -1px 0px 8px 0px rgba(34, 60, 80, 0.2);
      border-radius: 10px;
      margin-block-start: 18px;
      display: flex;
      flex-direction: column;
      height: 309px;
      align-items: center;
      p {
        font-family: $Open;
        font-size: 16px;
        margin-block-start: 18px;
        width: 100%;
        margin-inline-start: 106px;
        letter-spacing: 0.5px;
      }
      img {
        height: 100%;
        max-height: 250px;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  .hotdeals__render {
    display: none;
  }
  .hotdeals__icon-price {
    position: absolute;
    width: 220px;
    height: 31px;
    color: $primaryColor;
    right: -27px;
    top: 30px;
  }
}
@media (max-width: 400px) {
  .list__button,
  .list__button-close,
  .href__button-select {
    max-width: 50px;
    font-size: 8px;
    padding-inline: 1px;
  }
  .list__body-close,
  .list__button-select {
    font-size: 8px;
  }
  .list__body {
    gap: 5px;
    justify-content: center;
  }
  .hotdeals__header {
    justify-content: center;
  }
  .list__category,
  .list__food {
    max-width: 50px;
  }
  .list__select-hotel {
    padding-inline: 5px;
    .list__hotel {
      font-size: 10px;
      max-width: 80px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .list__body-hotel {
    .list__hotel {
      white-space: wrap;
      max-width: 60px;
      margin-inline-start: 0px;
    }
    .list__category {
      max-width: 60px;
      margin-inline-start: 10px;
    }
  }
  .hotdeals__price {
    margin: 0;
  }
  .list__category,
  .list__food {
    max-width: 70px;
  }

  .list__food {
    max-width: 80px;
  }
  .list__body-select.active {
    .list__button-select {
      font-size: 8px;
    }
  }
  .list__select {
    .list__food {
      max-width: 40px;
    }
    .list__category {
      text-align: start;
      max-width: 30px;
    }
  }
  .list__body-close {
    padding-inline: 5px;
  }
  .href__button-select {
    margin-inline-end: 20px;
  }
  .list__body-category {
    gap: 10px;
  }

  .list__select-hotel {
    gap: 10px;
  }
  .href__button-select {
    margin-inline-end: 5px;
  }
  .list__category {
  }
}
