@use '../base/variables' as *;
@use '../base/mixins' as *;

.calendar {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  max-height: 278px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  color: #333;
  margin-bottom: 14px;
  line-height: 100%;
  margin-inline-start: 2px;
  margin-block-start: 17px;
  letter-spacing: -0.3px;
}

.weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 22px;
  margin-bottom: 16px;
  font-size: 14px;
  text-transform: lowercase;
  padding-inline: 14px;
  margin-block-start: 3px;
  @media (max-width: 1365px) {
    width: 100%;
    text-align: center;
  }
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 37px);
  flex: 1;
  background: #f8f9fa;
  margin-block-start: 1px;
  margin-block-end: 23px;
  @media (max-width: 1365px) {
    grid-template-columns: repeat(7, 1fr);
  }
}

.day {
  height: 100%;
  min-height: 27px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: $Open;
  font-size: 14px;
  color: $colorCalendarNumber;
  border: 0.5px solid $colorBackgrounBorder;
  background-color: $colorBackgrounNumber;
}

.day__price {
  cursor: pointer;
  display: flex;
  flex-direction: column-reverse;
  height: 54px;
  align-items: center;
  justify-content: center;
  color: $colorBlack;
  background-color: inherit;
  overflow: hidden;
  opacity: 1;

  p {
    font-size: 12px;
  }
}
.day__border {
  border: 0.5px solid $colorGrey06;
}

.day__border:hover {
  background-color: $primaryColor;
  filter: drop-shadow(0 0 3px $primaryColor);

  p {
    color: $colorWhite;
    text-shadow: 0 1px 8px rgba(255, 255, 255, 0.9);
  }
}

.days .day.empty {
  background-color: $colorWhite;
}

.day span {
  margin-block-start: -24px;
}

.bar {
  .swiper__calendar-next,
  .swiper__calendar-prev {
    display: none;
    padding: 16px;
    width: 48px;
    height: 48px;
    background-color: $colorGreen02;
    color: $colorGreen;
    border-radius: 100%;
    top: 56.5%;
    &:hover {
      transform: scale(0.9);
    }

    &:active {
      transform: translateY(2px);
    }
    &.open {
      display: block;
    }
  }
}
.calendar__container-title {
  position: relative;
  display: none;
  width: 100%;
  font-size: 24px;
  font-family: $Open;
  margin-block-start: 25px;
  letter-spacing: 0.7px;
  margin-block-end: 10px;
  &.open {
    display: flex;
  }
  &::after {
    position: absolute;
    background-color: $colorGrey;
    opacity: 0.2;
    width: 100%;
    height: 1px;
    content: '';
    bottom: -5px;
  }
}
.bar .swiper__calendar-prev {
  left: 10px;
}
.bar .swiper__calendar-next {
  right: 10px;
}

@media (max-width: 1000px) {
  .bar {
    .swiper__calendar-next,
    .swiper__calendar-prev {
      padding: 12px;
      width: 36px;
      height: 36px;
      top: 105%;
    }
  }
}
