@use '../base/variables' as *;

.search {
  position: relative;
  top: -97px;
  left: 49.6%;
  transform: translate(-50%);
  background-color: white;
  padding-block-start: 15px;
  padding-block-end: 19px;
  filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));
  border-radius: 10px;
  width: 100%;
  max-width: 1170px;
  z-index: 15;
  @include table-big {
    left: 50%;
  }
  @include tablet-mini {
    top: 0px;
  }
  @include phone {
    top: 0px;
    left: 50%;
  }
}

.search__header,
.search__footer {
  display: flex;
  align-items: center;
}
.search__header {
  gap: 5px;
  padding-block-end: 13px;
  padding-inline: 32px;
}
.search__footer {
  position: relative;
  gap: 8px;
  padding-inline: 32px;
  padding-block-start: 17px;
  margin-block-start: -1px;
  align-items: center;
  line-height: 120%;
  cursor: pointer;
}

.clock__search {
  color: $colorOrange;
  width: 24px;
  height: 24px;
  &.none {
    display: none;
  }
}
.advanced__search {
  color: $primaryColor;
  font-size: 14px;
  font-family: $Open;
}

.search__title {
  font-size: 18px;
  font-weight: 700;
  font-family: $Open;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  line-height: 120%;
  margin-block-start: 3px;
  margin-inline-start: 1px;
  @media (max-width: 1365px) {
    margin-block-start: 0px;
    margin-inline-start: 0px;
    line-height: 100%;
  }
}

.search__body {
  display: flex;
  background: linear-gradient(#fccb04, #ee901b);
  padding-block: 15px;
  padding-inline: 32px;
  height: 90px;
  @include tablet {
    height: 75px;
  }
  @include tablet-mini {
    height: 75px;
    padding-inline: 10px;
  }
  @include phone {
    height: 75px;
    padding-inline: 10px;
  }
}
label {
  font-family: $Open;
  font-size: 13px;
  color: $colorGrey;
  line-height: 100%;
  margin-block-start: 1px;
  @include tablet {
    font-size: 10px;
  }
  @include tablet-mini {
    font-size: 10px;
  }
  @include phone {
    font-size: 10px;
  }
}

.destinations__option {
  font-size: 14px;
  margin-block-start: 25px;
  padding-inline: 20px;
}

.departure p:first-of-type {
  font-family: $Open;
  font-size: 13px;
  color: $colorGrey;
  @include tablet {
    font-size: 10px;
  }
  @include tablet-mini {
    font-size: 10px;
  }
  @include phone {
    font-size: 10px;
  }
}

.destinations,
.duration,
.departure,
.guests {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-inline-start: 16px;
  padding-inline-end: 14px;
  padding-block-start: 9px;
  padding-block-end: 11px;
  @include tablet {
    padding-inline: 10px;
    padding-block: 5px;
  }
  @include tablet-mini {
    padding-inline: 10px;
    padding-block: 5px;
  }
  @include phone {
    padding-inline: 10px;
    padding-block: 5px;
  }
}
.dropdown-menu {
  position: relative;
  z-index: 9999;
  .dropdown-item {
    @include phone {
      font-size: 10px;
    }
  }
}
.destinations {
  max-width: 259px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  @include tablet-mini {
    max-width: 120px;
  }
  @include phone {
    min-width: 125px;
  }
}
.dropdown {
  font-family: $Roboto;
  font-size: 16px;
  line-height: 120%;
  margin-block-start: 8px;
  @include tablet {
    font-size: 12px;
  }
  @include tablet-mini {
    font-size: 10px;
  }
  @include phone {
    font-size: 10px;
  }
}

.duration {
  max-width: 180px;
  @include tablet-mini {
    max-width: 150px;
  }
  @include phone {
    display: none;
  }
}
.departure {
  white-space: nowrap;
  max-width: 180px;
  @include tablet-mini {
    max-width: 100px;
  }
}
.guests {
  max-width: 316px;
  @include tablet-mini {
    max-width: 100%;
  }
  @include phone {
    display: none;
  }
}

#destinations,
#duration,
#departure,
#guests,
.search__data {
  border: none;
  outline: none;
  background-color: transparent;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.search__footer-img {
  width: 16px;
  height: 16px;
}
.departure__static {
  font-family: $Roboto;
  font-size: 16px;
  color: black;
  @include tablet {
    font-size: 12px;
    margin-block-start: 1px;
  }
  @include tablet-mini {
    font-size: 10px;
    margin-block-start: 4px;
  }
  @include phone {
    font-size: 10px;
    margin-block-start: 3px;
  }
}

.search__arrow {
  position: absolute;
  width: 24px;
  height: 24px;
  right: -6px;
  bottom: -3px;
  @include tablet {
    bottom: -5px;
    right: -14px;
  }
  @include tablet-mini {
    bottom: -2px;
    width: 16px;
    height: 16px;
    right: -7px;
  }
  @include phone {
    bottom: 5px;
    right: 0px;
    width: 16px;
    height: 16px;
  }
}

.search__submit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: #13882d;
  width: 100%;
  max-width: 171px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  color: white;
}
.destinations__button,
.duration__button,
.guests__button {
  width: 100%;
  text-align: start;
  position: relative;
  z-index: 2;
}
.dropdown-item {
  cursor: pointer;
}
.search__submit-img {
  width: 16px;
  height: 16px;
  @include phone {
    width: 10px;
    height: 10px;
  }
}
#searchSubmit {
  font-family: $Open;
  font-size: 14px;
  @include phone {
    font-size: 10px;
  }
}

.search__calendar {
  position: absolute;
  cursor: pointer;
  color: $colorGrey;
  top: 28px;
  right: 8px;
  width: 24px;
  height: 24px;
  @include tablet {
    top: 19px;
    width: 18px;
    height: 18px;
  }
  @include tablet-mini {
    top: 25px;
    width: 14px;
    height: 14px;
    right: 2px;
  }
  @include phone {
    display: none;
  }

  &:hover {
    color: $primaryColor;
  }
  &:active {
    transform: translateY(2px);
  }
}
.search__data {
  max-width: 120px;
  padding: 0px;
  text-transform: lowercase;
  cursor: pointer;
}

// КАЛЕНДАРЬ
.form-control:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}
.flatpickr-calendar {
  @include tablet-mini {
    left: 46% !important;
    transform: translate(-50%);
  }
  @include phone {
    left: 20% !important;
  }
  @media (max-width: 440px) {
    left: 6% !important;
    max-width: 305px !important;
  }
  @media (max-width: 350px) {
    left: 1% !important;
  }
}
.flatpickr-day {
  @include tablet-mini {
  }
  @include phone {
    font-size: 10px;
    width: 100% !important;
  }
}
.flatpickr-weekday {
  @include phone {
    font-size: 10px;
    width: 100% !important;
  }
}
.flatpickr-current-month {
  @include phone {
    flex-direction: column !important;
  }
}
// рассширеный поиск

.advanced__menu {
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  max-width: 1170px;
  height: auto;
  background-color: white;
  font-family: $Open;
  top: 15px;
  z-index: 2000;
  &.open {
    opacity: 1;
    visibility: visible;
  }
}

.advanced__header {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  padding-inline-start: 34px;
  padding-inline-end: 32px;
}
.adanced__title {
  font-size: 18px;
  font-weight: 400;
  color: black;
  &::after {
    position: absolute;
    content: '';
    background-color: black;
    opacity: 0.1;
    width: 100%;
    max-width: 790px;
    height: 1px;
    top: 12px;
    left: 241px;
    @include table-big {
      display: none;
    }
  }
}
.adanced__close {
  display: flex;
  gap: 8px;
  flex-direction: row-reverse;
  font-size: 14px;
  img {
    width: 20px;
    height: 20px;
  }
}

.advanced__body {
  display: flex;
  padding-inline-start: 32px;
  margin-block-start: 34px;
}
.type {
  max-width: 176px;
  max-height: 174px;
}

.type__title {
  font-size: 14px;
  font-weight: 700;
  margin-block-end: 16px;
}

.type__caption {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-block-start: 12px;
  img {
    width: 16px;
    height: 16px;
  }
}
.type__body {
  position: relative;
  z-index: 30;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.tour__package-title {
  margin-block-end: 3px;
  font-family: $Open;
  font-size: 14px;
  font-weight: 700;
}

.tour__package {
  display: flex;
  flex-direction: column;
  max-width: 170px;
  gap: 16px;
  margin-inline-start: 112px;
  max-height: 100px;
}
.tour__region {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-inline-start: 151px;
}
.tour__body {
  display: flex;
  align-items: center;
  gap: 8px;
  label {
    font-size: 14px;
  }
}

.tour__body {
  position: relative;
  label {
    cursor: pointer;
  }
}
.tour__img {
  position: absolute;
  top: 0;
  color: grey;
  opacity: 0.4;
  z-index: 2;
  cursor: pointer;
}
.tour__body input {
  position: relative;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.tour__body input:checked ~ .tour__img {
  color: rgb(12, 172, 73);
  opacity: 1;
}
.tour__package-excursions--second {
  margin-block-start: 40px;
}
.rater-star {
  color: #ffe489;
  font-size: 25px;
  &.active {
    color: #f5c213;
  }
}
.rater {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.tour__package-regions {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* две колонки */
  column-gap: 138px;
  row-gap: 16px;
  white-space: nowrap;
  margin-inline-start: 2px;
}

.tour__package-regions .tour__body:nth-child(n + 12) {
  grid-column: 1;
}

.tour__package-tour {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-inline-start: 3px;
}

.tour__body--package {
  display: flex;
  height: 19px;
  align-items: flex-start;
}
.advanced__column {
  position: relative;
  display: flex;
  padding-inline-start: 32px;
  padding-inline-end: 34px;
  margin-block-end: 25px;
  &::after {
    position: absolute;
    content: '';
    background-color: $colorGrey;
    width: 100%;
    max-width: 1098px;
    height: 1px;
    bottom: -24px;
    opacity: 0.2;
    @include table-big {
      max-width: 90%;
    }
  }
}
.advanced__food {
  margin-block-start: -58px;
  max-width: 200px;
}
.food__body {
  margin-inline-start: 2px;
  max-width: 180px;
}
.food__title {
  font-size: 14px;
  font-weight: 700;
  margin-block-end: 19px;
  margin-inline-start: -2px;
}
.food__render {
  display: flex;
  flex-direction: column;
  gap: 12px;
  label {
    height: 18px;
  }
  .tour__img {
    margin-block-start: 2px;
  }
  .tour__body {
    gap: 9px;
  }
}
.type__caption-text {
  font-size: 14px;
}
.advanced__fly {
  margin-inline-start: 113px;
  margin-block-start: -151px;
}
.advance__fly {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-inline-start: 3px;
  .tour__img {
    margin-block-start: 2px;
    margin-inline-start: -1px;
  }
}
.advanced__fly-title {
  font-size: 14px;
  font-family: $Open;
  font-weight: 700;
  margin-block-end: 19px;
}

.advanced__pointer-title {
  font-size: 14px;
  font-family: $Open;
  font-weight: 700;
}
.advanced__pointer {
  margin-inline-start: -85px;
  margin-block-start: -3px;
}

$min: 200;
$max: 3000;
$color: #ff8c00;

.price-range {
  position: relative;
  width: 100%;
  width: 231px;
  margin-block-start: 14px;
  user-select: none;
  font-family: $Open;
  &::before {
    content: '';
    position: absolute;
    background-color: #cecece;
    width: 3px;
    height: 20px;
    top: 28px;
  }
  &::after {
    content: '';
    position: absolute;
    background-color: #cecece;
    width: 3px;
    height: 20px;
    right: -3px;
    top: 28px;
  }
  span {
    font-size: 14px;
  }
}

.labels {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 16px;
  color: #555;

  &.top {
    margin-bottom: 14px;
    padding-inline: 12px;
    padding-inline-end: 33px;
    padding-block-start: 3px;
  }
  &.bottom {
    margin-top: 13px;
  }

  .label {
    font-weight: 500;
  }
}

.slider {
  position: relative;
  height: 2px;
  background: cecece;
}

.track,
.range {
  position: absolute;
  height: 100%;
  border-radius: 3px;
}

.track {
  width: 100%;
  background: cecece;
}

.range {
  background: $color;
  left: 0;
  right: 0;
  z-index: 1;
}

.thumb {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background: $color;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  cursor: grab;
  z-index: 2;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.1s;

  &:active {
    cursor: grabbing;
    transform: translate(-50%, -50%) scale(1.1);
  }

  &.left {
    left: 0%;
  }
  &.right {
    left: 100%;
  }
}

.advanced__footer {
  white-space: nowrap;
  display: flex;
  align-items: center;
  margin-block-start: 49px;
  margin-block-end: 24px;
  padding-inline: 31px;
}

.advanced__footer-title,
.advanced__category,
.advanced__tour {
  font-size: 14px;
  color: $colorGrey;
  display: flex;
  padding-inline-end: 24px;
  gap: 8px;
}

.advanced__tour {
  display: flex;
  align-items: center;
  margin-inline-start: 80px;
  margin-block-start: -3px;
}
.advanced__category {
  display: flex;
  align-items: center;
  margin-block-start: -3px;
}
#render__category {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.selected__rating {
  border: 1px solid e2e2e2;
  padding-inline: 11px;
  padding-block-start: 2px;
  padding-block-end: 4px;
  border-radius: 5px;
  font-size: 12px;
  height: 22px;
  text-align: center;
}

#render__tour {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  gap: 8px;
  input {
    display: none;
  }
  label {
    border: 1px solid #e2e2e2;
    padding-inline: 9.5px;
    padding-block-start: 2px;
    padding-block-end: 4px;
    border-radius: 5px;
    font-size: 12px;
    height: 22px;
  }
  .tour__img {
    display: none;
  }
}

@include table-big {
  .tour__package-regions {
    column-gap: 20px;
  }
  .advanced__body {
    justify-content: center;
    padding-inline: 10px;
  }
  .tour__region,
  .tour__package,
  .advanced__fly {
    margin: 0;
  }
  .advanced__body {
    justify-content: center;
    gap: 50px;
  }
  .advanced__column {
    justify-content: center;
    gap: 50px;
    margin-block-start: 70px;
    padding-inline: 10px;
  }
  .tour__package-regions {
    gap: 10px;
  }
  .advanced__footer {
    flex-direction: column;
    gap: 20px;
  }
  .advanced__category {
    gap: 20px;
  }
}
.advanced__pointer {
  margin: 0px;
}

@include tablet-mini {
  .tour__region {
    margin: 0;
  }
}
@include phone {
  .advanced__pointer,
  .tour__package {
    display: none;
  }
  .advanced__column {
    justify-content: center;
    gap: 20px;
    p,
    label {
      font-size: 12px;
    }
  }
  .advanced__body {
    gap: 5px;
    padding-inline: 0px;
    p,
    label {
      font-size: 12px;
    }
  }
  .tour__package-regions {
    gap: 10px;
    column-gap: 0px;
    place-items: start;
    max-width: 170px;
  }
  .type {
    max-width: 110px;
  }
  .tour__region {
  }
  .advanced__footer {
    p,
    label {
      font-size: 10px;
    }
  }
  .departure,
  .destinations {
    max-width: 80px;
  }
  .search__body {
    justify-content: center;
    padding-inline-start: 25px;
  }
  .adanced__title,
  .adanced__close {
    align-items: center;
    font-size: 12px;
    img {
      width: 10px;
      height: 10px;
    }
  }
  .tour__body__region {
    max-width: 80px;
    white-space: wrap;
    place-items: center;
    height: 100%;
    .tour__img {
      height: 100%;
    }
  }
  .search__title {
    font-size: 16px;
  }
}

