@use '../base/variables' as *;

.swiper {
  display: block;
  width: 100%;
  max-width: 100%;
}

.slider__header {
  max-width: 100%;
}

.hero__slider-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-wrapper {
  max-width: 100%;
}

.swiper-header-next,
.swiper-header-prev {
  position: absolute;
  z-index: 50;
  width: 48px;
  height: 48px;
  padding: 16px;
  border-radius: 50px;
  color: white;
  background-color: rgb(255, 255, 255, 0.2);

  &:active {
    transform: translateY(2px);
  }
}

.mySwiper .swiper-header-next {
  top: 45.5%;
  right: 20px;
}

.mySwiper .swiper-header-prev {
  top: 45.3%;
  left: 20px;
  svg {
    transform: rotate(180deg);
  }
}

@include phone {
  .swiper-button-next,
  .swiper-button-prev {
    width: 24px;
    height: 24px;
    padding: 8px;
    svg {
      margin-block-start: -5px;
    }
  }

  .swiper-button-next {
    right: 5px !important;
  }

  .swiper-button-prev {
    left: 5px !important;
  }
}
