@use '../base/variables' as *;

.summertours {
  position: relative;
  padding-inline: 93px;
}
.summer__header {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-align: center;
  margin-block-start: 2px;
  margin-inline-start: 24px;
  margin-block-end: 38px;
}
.summer__header-title {
  font-family: $Open;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 1.2px;
  margin-inline-start: -20px;
}
.summer__header-subtitle {
  font-family: $Open;
  font-weight: 400;
  font-size: 14px;
  color: $colorGrey;
  opacity: 0.7;
  margin-inline-start: -26px;
}

.summer__card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: $Open;
  box-shadow: -1px 0px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 4px 8px rgba(34, 60, 80, 0.2);
  border-radius: 10px;
  padding-block-end: 16px;
  height: 364px;
  margin-block-end: 40px;
}

.summer__img {
  object-fit: cover;
  max-width: 100%;
  height: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.summer__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 16px;
  white-space: nowrap;
  gap: 10px;
}
.summer__footer-location {
  min-width: 20px;
  min-height: 20px;
  max-width: 20px;
  max-height: 20px;
  color: $colorGreen;
  opacity: 0.6;
}
.summertours {
  .swiper__summer-next,
  .swiper__summer-prev {
    display: none;
  }
}
.summer__footer-price {
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;

  letter-spacing: 0.5px;
  span {
    font-weight: 700;
  }
}
.summer__link {
  margin-inline: 16px;
  text-align: center;
  text-transform: uppercase;
  color: $colorWhite;
  background-color: $primaryColor;
  border-radius: 6px;
  padding-block-start: 12px;
  padding-block-end: 10px;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 14px;
  cursor: pointer;
  &:hover {
    transform: scale(0.9);
  }
}
.summer__town {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-inline-start: 2px;
  letter-spacing: 0.5px;
}

.summer__town-text {
  font-size: 16px;
}

.summer__all {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-block-end: 100px;
  &:hover {
    transform: scale(0.9);
  }
}

.summer__all-link {
  color: $colorGrey;
  font-family: $Open;
  letter-spacing: 0.3px;
  margin-inline-start: -2px;
}
.summer__all-img {
  width: 24px;
  height: 24px;
  color: #f68521;
}

@include tablet {
  .summer__town-text,
  .summer__footer-price,
  .summer__link {
    font-size: 12px;
  }
  .summer__footer {
    justify-content: center;
    gap: 5px;
  }
}

@include phone {
  .summertours {
    padding-inline: 15px;
  }
}

@media (max-width: 600px) {
  .summertours {
    padding-inline-start: 11px;
    padding-inline-end: 9px;
  }
  .summer__header-subtitle {
    margin-block-start: -2px;
    margin-inline-start: -22px;
  }
  .summer__img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .summer__header {
    margin-block-end: 40px;
  }
  .summer__town-text {
    margin-inline-start: 2px;
  }
  .summer__all {
    margin-block-end: 79px;
    gap: 9px;
    margin-inline-start: 2px;
  }

  .summertours {
    .swiper__summer-next,
    .swiper__summer-prev {
      display: block;
      position: absolute;
      z-index: 50;
      top: 38.5%;
      width: 48px;
      height: 48px;
      padding: 18px;
      right: 18px !important;
      border-radius: 100%;
      background-color: $colorWhite;
      color: $colorGreen;
      svg {
        margin-top: -3px;
      }
    }
    .swiper__summer-prev {
      left: 22px !important;
      svg {
        transform: rotate(180deg);
      }
    }
  }
  .summer__all-link {
    letter-spacing: 0.4px;
  }
}
