@use '../base/variables' as *;

.wintertours {
  position: relative;
  padding-inline: 93px;
  margin-block-start: 104px;
}
.winter__header {
  display: flex;
  flex-direction: column;
  gap: 14px;
  text-align: center;
  margin-block-start: 2px;
  margin-inline-start: 24px;
  margin-block-end: 39px;
}
.winter__header-title {
  font-family: $Open;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 2.8px;
}
.winter__header-subtitle {
  font-family: $Open;
  font-weight: 400;
  font-size: 14px;
  color: $colorGrey;
  opacity: 0.7;
  margin-inline-start: -26px;
}

.winter__card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-family: $Open;
  box-shadow: -1px 0px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 4px 8px rgba(34, 60, 80, 0.2);
  border-radius: 10px;
  padding-block-end: 16px;
  height: 364px;
  margin-block-end: 40px;
}

.winter__img {
  object-fit: cover;
  max-width: 100%;
  height: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius:10px;
}
.winter__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 16px;
  gap: 20px;
  white-space: nowrap;
}
.winter__footer-location {
  min-width: 20px;
  min-height: 20px;
  max-width: 20px;
  max-height: 20px;
  color: $colorGreen;
  opacity: 0.6;
}
.winter__footer-price {
  font-size: 16px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 0.5px;
  span {
    font-weight: 700;
  }
}
.winter__link {
  margin-inline: 16px;
  text-align: center;
  text-transform: uppercase;
  color: $colorWhite;
  background-color: $primaryColor;
  border-radius: 6px;
  padding-block-start: 12px;
  padding-block-end: 10px;
  font-weight: 400;
  letter-spacing: 0.5px;
  font-size: 14px;
  cursor: pointer;
  &:hover {
    transform: scale(0.9);
  }
}
.winter__town {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-inline-start: 2px;
  letter-spacing: 0.5px;
}

.winter__town-text {
  font-size: 16px;
}

.winter__all {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-block-end: 104px;
  &:hover {
    transform: scale(0.9);
  }
}
.wintertours {
  .swiper__winter-next,
  .swiper__winter-prev {
    display: none;
  }
}

.winter__all-link {
  color: $colorGrey;
  font-family: $Open;
  letter-spacing: 0.3px;
  margin-inline-start: -2px;
}
.winter__all-img {
  width: 24px;
  height: 24px;
  color: #f68521;
}

@include tablet {
  .winter__town-text,
  .winter__footer-price,
  .winter__link {
    font-size: 12px;
  }
}

@include phone {
  .wintertours {
    padding-inline: 15px;
  }
}

@media (max-width: 600px) {
  .winter__header{
    gap: 14px;
    margin-block-end: 39px;
  }
  .winter__footer-price {
    margin-block-start: -2px;
    margin-inline-end: 1px;
  }
  .wintertours {
    margin-block-start: 84px;
    padding-inline-start: 11px;
    padding-inline-end: 8px;
  }
  .winter__header-title {
    letter-spacing: 2px;
    margin-inline-start: -15px;
  }
  .winter__header-subtitle {
    margin-inline-start: -20px;
  }
  .winter__img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
   
  }
  .winter__town-text {
    margin-inline-start: 2px;
  }
  .winter__all {
    margin-block-end: 84px;
  }
  .winter__header-subtitle {
    margin-inline-start: -25px;
  }
  .winter__link {
    margin-block-start: -1px;
  }

  .wintertours {
    .swiper__winter-next,
    .swiper__winter-prev {
      display: block;
      position: absolute;
      top: 42.6%;
      width: 48px;
      height: 48px;
      padding: 18px;
      right: 18px !important;
      border-radius: 100%;
      background-color: $colorWhite;
      color: $colorGreen;
    }
    .swiper__winter-prev {
      left: 22px !important;
    }
  }
}
