<div>
  <div class="profile__order-card">
    <div class="profile__list-number"><p>{{orderNumber}}</p></div>
    <div class="profile__list-price"><p>{{orderPrice}}</p></div>
    <div class="profile__list-email"><p>{{orderEmail}}</p></div>
    <div class="profile__list-status {{statusClass}}"><p>{{orderStatus}}</p></div>
    <div class="profile__list-data"><p>{{orderDate}}</p></div>
  </div>

  <div class="profile__order-card profile__order-card--mob">
    <div class="profile__order-header profile__order-header--mob">
      <div class="profile__order-number"><p>Номер заказа</p></div>
      <div class="profile__order-price"><p>Сумма</p></div>
      <div class="profile__order-email"><p>E-mail</p></div>
      <div class="profile__order-status"><p>Cтатус</p></div>
      <div class="profile__order-data"><p>Дата</p></div>
    </div>
    <div class="profile__order-info--mob">
      <div class="profile__list-number"><p>{{orderNumber}}</p></div>
      <div class="profile__list-price"><p>{{orderPrice}}</p></div>
      <div class="profile__list-email"><p>{{orderEmail}}</p></div>
      <div class="profile__list-status {{statusClass}}"><p>{{orderStatus}}</p></div>
      <div class="profile__list-data"><p>{{orderDate}}</p></div>
    </div>
  </div>
</div>
