<section data-component="profile" class="profile">
  <div class="profile__vector">
    <img src="../../../img/header/vectorProfile.png" alt="" />
  </div>
 
  <div class="profile__body profile">
    <div class="profile__user">
      <form id="uploadForm">
        <input type="file" id="avatar" accept="image/*" />
        <br />
   
      </form>
      <div class="profile__img">
        <img id="preview" src="" alt="Предпросмотр фото" style="width: 126px; display: none; margin-top: 10px;" />
      </div>

      <h4 class="profile__username"></h4>
    
      <div class="profile__order">
        <svg class="hotdeals__clock">
          <use xlink:href="#icon-count"></use>
        </svg>

        <p>Мои заказы</p>
      </div>
      <div class="profile__paymant">
        <svg class="hotdeals__clock">
          <use xlink:href="#icon-paymant"></use>
        </svg>
        <p>История платежей</p>
      </div>
      <div class="profile__settings">
        <svg class="hotdeals__clock">
          <use xlink:href="#icon-settings"></use>
        </svg>
        <p>Настройки</p>
      </div>
    
        <div class="profile__logout">
          <svg class="profile__logout-icon">
            <use xlink:href="#icon-profileExit"></use>
          </svg>
          <p>Выход</p>
        </div>
      </a>
          <div class="profile__political"><p>Политика конфиденциальности</p>
        <p>Политика использования</p></div>
    </div>
   
    <div class="profile__list">
      <h4 class="profile__title">Заказы</h4>
       <div class="profile__body-box">
      <div class="profile__order-header">
        <div class="profile__order-number"><p>Номер заказа</p></div>
        <div class="profile__order-price"><p>Сумма</p></div>
        <div class="profile__order-email"><p>E-mail</p></div>
        <div class="profile__order-status"><p>Cтатус</p></div>
        <div class="profile__order-data"><p>Дата</p></div>
      </div>
      <div class="profile__order-render">
       
      </div>
      </div>
    </div>

  </div>
  
</section>
