<div data-component="listHotDeals" class="list__hotdeals">
  <div class="hotdeals__header">
    <h3 class="hotdeals__data">Дата</h3>
    <h3 class="hotdeals__from">Откуда</h3>
    <h3 class="hotdeals__to">Куда</h3>
    <h3 class="hotdeals__duration">Длительность</h3>
    <h3 class="hotdeals__price">Цена</h3>
  </div>
  <div id="hotdeals__render"></div>
</div>