<!-- 
<div class="list__container">
  <div class="list__body">
    <p class="list__data">{{data}}</p>
    <p class="list__from">{{from}}</p>
    <p class="list__to">{{to}}</p>
    <p class="list__duration">{{duration}} дней</p>
    <p class="list__price">от <strong>{{price}}€</strong>/чел.</p>
    <p class="list__button">Открыть</p>
  </div>

  
  <div class="list__open">
    <div class="list__body">
      <p class="list__data">{{data}}</p>
      <p class="list__from">{{from}}</p>
       <p class="list__to">{{to}}</p>
      <p class="list__duration">{{duration}} дней</p>
      <p class="list__price">от <strong>{{price}}€</strong>/чел.</p>
      <p class="list__button-close">Закрыть</p>
    </div>

    <div class="list__openlist">
      <div class="list__opendeals">
        <div class="hotdeals__header">
          <h3 class="hotdeals__data">Отель</h3>
          <h3 class="hotdeals__from">Категория</h3>
          <h3 class="hotdeals__to">Питание</h3>
          <h3 class="hotdeals__duration">Состав тура</h3>
          <h3 class="hotdeals__price">Цена</h3>
        </div>
      
        {{#each openList}}
          <div class="list__body-select">

          
            <div class="list__body-category">
              <p class="list__hotel">{{hotel}}</p>
              <p class="list__category">{{category}}</p>
              <p class="list__food">{{food}}</p>
              <p class="list__tour">{{tour}}</p>
              <p class="list__price list__price--open">от <strong>{{price}}€</strong>/чел.</p>
              <p class="list__button-select" data-default="Выбрать">Выбрать</p>
            </div>


            <div class="list__body-hotel">
              <p class="list__hotel">{{hotel}}</p>
              <p class="list__category">{{category}}</p>
              <p class="list__food">{{food}}</p>
              <p class="list__tour">{{tour}}</p>
              <p class="list__price list__price--open">от <strong>{{price}}€</strong>/чел.</p>
              <p class="list__body-close">
                Скрыть предложения
                <svg class="list__arrow-close">
                  <use xlink:href="#icon-arrowClose"></use>
                </svg>
              </p>
            </div>

          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div> -->