<div data-component="resultCalendar" class="calendar swiper-slide">
  <div class="header">{{month}}</div>
  <div class="weekdays">
    <div>Пн</div>
    <div>Вт</div>
    <div>Ср</div>
    <div>Чт</div>
    <div>Пт</div>
    <div>Сб</div>
    <div>Вс</div>
  </div>

  <div class="days">
    <!-- 1-я строка -->
    <div class="day empty"></div>
    <div class="day empty"></div>
    <div class="day empty"></div>
    <div class="day empty"></div>
    <div class="day">1</div>
    <div class="day">2</div>
    <div class="day">3</div>

    <!-- 2-я -->
    <div class="day">4</div>
    <div class="day">5</div>
    <div class="day">6</div>
    <div class="day">7</div>
    <div class="day">8</div>
    <div class="day">9</div>
    <div class="day">10</div>

    <!-- 3-я -->
    <div class="day">11</div>
    <div class="day">12</div>
    <div class="day">13</div>
    <div class="day">14</div>
    <div class="day">15</div>
    <div class="day">16</div>
    <div class="day">17</div>

    <!-- 4-я -->
    <div class="day">
      <span>18</span>
    </div>
    <div class="day"><span>19</span></div>
    <div class="day"><span>20</span></div>
    <div class="day"><span>21</span></div>
    <div class="day"><span>22</span></div>
    <div class="day"><span>23</span></div>
    <div class="day day__price day__border">
      <p class="day__price">{{price}}€</p>
     <p>24</p>
    </div>

    <!-- 5-я -->
    <div class="day"><span>25</span></div>
    <div class="day"><span>26</span></div>
    <div class="day"><span>27</span></div>
    <div class="day"><span>28</span></div>
    <div class="day"><span>29</span></div>
    <div class="day"><span>30</span></div>
    <div class="day day__price day__border">
      <p class="day__price">{{secondPrice}}€</p>
      <p>31</p>
    </div>
  </div>
</div>
