<section data-component='consultation' class='consultation'>
  <div class='consultation__cover'>
    <img src='/img/consultation/consultation-bg.webp' />
  </div>
  <div class='consultation__content'>
    <div class='consultation__header'>
      <div class='consultation__title'>
        НЕТ ВРЕМЕНИ ИСКАТЬ ТУР?
      </div>
      <div class='consultation__text'>
        Просто скажите нам как должен выглядеть отдых вашей мечты и мы найдём лучший тур для вас!
      </div>
    </div>
    <div class='consultation__main'>
      <div class='consultation__left'>
        <p>
          Заполните короткую форму запроса на нашем сайте и мы свяжемся с вами в течении 1 часа в рабочее время
        </p>
        <button class='consultation__button'>ЗАПОЛНИТЬ ЗАЯВКУ НА ПОИСК ТУРА </button>
      </div>
      <div class='consultation__center'>
        <div class='consultation__line'>

        </div>
        <span>
          или
        </span>
        <div class='consultation__line'>
        </div>
      </div>
      <div class='consultation__right'>
        <p>
          Свяжитесь с нашим консультантом
        </p>
        <div class='consultation__card'>
          <img src='/img/consultation/consultation-card.webp' alt='Консультант' />
          <div class='consultation__card-info'>
            <div class='consultation__card-name'>
              Марина Каасик
            </div>
            <div class='consultation__card-position'>
              Специалист по подбору туров
            </div>
            <div class='consultation__card-phone'>
              <svg>
                <use xlink:href='#icon-phone'></use>
              </svg>

              +372 6 130 633
            </div>
            <div class='consultation__card-email'>

              <svg>
                <use xlink:href='#icon-mail'></use>
              </svg>

              contact@email.ee
            </div>
            <div class='consultation__card-massager'>
              <svg>
                <use xlink:href='#icon-messanger'></use>
              </svg>

              Написать в Messenger
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>