<footer data-component='footer' id='footer'>
  <div class='footer__body'>
    <div class='footer__popular'>
      <h3 class='footer__popular-title'>Популярные направления</h3>
      <div class='footer__country'>
        <div class='footer__country__column footer__country__column--first'>
          <p>Египет</p>
          <p>АОЭ</p>
          <p>Тайланд</p>
          <p>Болгария</p>
          <p>Тенерифе</p>
        </div>
        <div class='footer__country__column footer__country__column--second'>
          <p>Бали</p>
          <p>Грузия</p>
          <p>Греция</p>
          <p>Турция</p>
          <p>Кипр</p>
        </div>
      </div>

    </div>
    <div class='footer__contact'>
      <h3 class='footer__contact-title'>Контакты</h3>
      <h4 class='footer__contact-subtitle'>Clubs Travel OÜ</h4>
      <div class='footer__open'>
        <img src='/img/footer/clock.png' alt='clock' class='footer__open-img' />
        <p class='footer__open-text'>Пн-Пт 9:30-18:00, Сб 11:00-15:00</p>
      </div>
      <div class='footer__location'>
        <img src='/img/footer/location.png' alt='location' class='footer__location-img' />
        <p class='footer__location-text'>Narva mnt 7D, Tallinn (корпус B) 4 этаж</p>
      </div>
      <div class='footer__phone'>
        <img src='/img/footer/phone.png' alt='phone' class='footer__phone-img' />
        <div class='footer__number'>
          <p class='footer__phone-text'>+372 555 60 310</p>
          <span> | </span>
          <p class='footer__phone-text'>+372 61 30 633</p>
        </div>
      </div>
      <div class='footer__email'>
        <img src='/img/footer/email.png' alt='email' class='footer__email-img' />
        <p class='footer__email-text'>info@clubstravel.ee</p>
      </div>
    </div>
  </div>
  <div class='footer__imdb'>
    <div class='footer__instagram'>
      <img src='/img/footer/instagram.webp' alt='instagram' class='footer__instagram-icon' />
      <p class='footer__instagram-text'>@booking.clubstravel.ee</p>
    </div>
    <img src='/img/footer/IMDb.webp' alt='IMDb' class='footer__imdb-img' />
  </div>

</footer>
<div class='footer__mob'>
  <p class='footer__mob-text'>©2020 Clubstravel. All Rights Reserved</p>
</div>