<header data-component='header' id='header'>
  <div class='topbar'>
    <ul class='topbar__list'>
      <li class='topbar__items'>
        <a href='' class='topbar__link'>
          Страховки
        </a>
        <a href='' class='topbar__link'>
          Визы
        </a>
        <a href='' class='topbar__link'>
          Контакты
        </a>
      </li>
    </ul>
    <div class='topbar__contact'>
      <div class='phone__body'>
        <img src='/img/header/phone.png' alt='phone' class='phone__body-img' />
        <p class='phone__body-text'>+372 6 130 633</p>
      </div>
      <div class='email__body'>
        <img src='/img/header/email.png' alt='email' class='email__body-img' />
        <p class='email__body-text'>contact@email.ee</p>
      </div>

    </div>
    <div class='profile__body'>
      <img src='/img/header/profile.png' alt='profile' class='profile__body-img' />
      <img src='/img/header/flag.png' alt='flag' class='profile__body-img profile__body-img--flag' />
    </div>
  </div>
  <a class='link__logo' href='/'>
    <div class='logo'>
      <img src='/img/header/logo.jpg' alt='logo' class='logo__img' />
      <img src='/img/header/logo.svg' alt='logo' class='logo__img--mob' />
      <img src='/img/header/logoBackground.png' alt='backgroundLogo' class='logo__background' />
    </div>
  </a>

  <nav class='nav'>
    <ul class='nav__list'>
      <div class='burger'>
        <img src='/img/header/burger.svg' alt='burger' class='burger__img' />
      </div>
      <img src='/img/header/profile.svg' alt='profile' class='profile__body-img profile__body-img--none' />

      <div class='burger__menu'>
        <div class='burger__body'>
          <a href='' class='nav__link'>
            Поиск тура
          </a>
          <a href='' class='nav__link'>
            Направления
          </a>
          <a href='/html/pages/company.html' class='nav__link nav__link--company'>
            <svg class='sale'>
              <use xlink:href='#icon-sale'></use>
            </svg>

            кампании
          </a>
          <a href='' class='nav__link nav__link--sale'>
            <svg class='clock'>
              <use xlink:href='#icon-clock'></use>
            </svg>

            Горящие предложения
          </a>
          <a href='' class='nav__link'>
            Запрос тура
          </a>
          <a href='' class='nav__link'>
            авиабилеты
          </a>
        </div>
      </div>

      <li class='nav__items'>
        <a href='' class='nav__link'>
          Поиск тура
        </a>
        <a href='' class='nav__link'>

          Направления
        </a>
        <a href='/html/pages/company.html' class='nav__link nav__link--company'>
          <svg class='sale'>
            <use xlink:href='#icon-sale'></use>
          </svg>

          кампании
        </a>
        <a href='/html/pages/hotdeals.html' class='nav__link nav__link--sale'>
          <svg class='clock'>
            <use xlink:href='#icon-clock'></use>
          </svg>
          Горящие предложения
        </a>
        <a href=' /html/pages/tourRequest.html' class='nav__link'>
          Запрос тура
        </a>
        <a href='/html/pages/oneHotel.html' class='nav__link'>
          авиабилеты
        </a>
      </li>
    </ul>
  </nav>
  <a class='link__logo--mob' href='/'>
    <div class='logo'>
      <img src='/img/header/logo.mob.svg' alt='logo' class='logo__img--mob' />
      <img src='/img/header/logoBackground.png' alt='backgroundLogo' class='logo__background--mob' />
    </div>
  </a>
</header>