   <div data-component="imgHeader" class="hero">
      {{!-- <img src="/img/header/hero.webp" alt="Slide 1" class="slider__img" loading="lazy" />
      <img src="/img/header/hero-mobile.webp" alt="Slide 1" class="slider__img" loading="lazy" /> --}}
      <picture>
      <source
         srcset="
            /img/header/hero-mobile.webp 1x,
            /img/header/hero-mobile.webp 2x"
         media="(max-width: 768px)">

      <source
         srcset="
            /img/header/hero.webp 1x,
            /img/header/hero.webp 2x">

      <img
         src="/img/header/hero.webp"
         alt="Slide 1"
         class="slider__img"
         width="1367"
         height="360"
         fetchpriority="high"
         decoding="async">
   </picture>


   </div>