<div class='preload loading'>

  <div class='loader'>
    <svg class='loader__svg'>
      <use xlink:href='#icon-preloadIcon'></use>
    </svg>
    <p>Загружаем туры</p>
    <div class='dot__body'>
      <div class='dot'></div>
      <div class='dot'></div>
      <div class='dot'></div>

    </div>

  </div>
</div>