<div data-component='search' class='search'>
  <div class='search__header'>
    <svg class='clock__search {{svgClock}}'>
      <use xlink:href='#icon-clock'></use>
    </svg>
    <h2 class='search__title'>{{title}}</h2>

  </div>
  <form class='search__body'>

    <div class='destinations'>
      <label for='destinations'>Направление</label>
      <div class='dropdown'>
        <button
          class='destinations__button'
          type='button'
          id='dropdownDestinations'
          data-bs-toggle='dropdown'
          aria-expanded='false'
        >
          Все направления
        </button>
        <ul class='dropdown-menu' aria-labelledby='dropdownDestinations'>
          <li class='dropdown-item'>Все направления</li>
          <li class='dropdown-item'>Египет</li>
          <li class='dropdown-item'>АОЭ</li>
          <li class='dropdown-item'>Тайланд</li>
        </ul>
        <img class='search__arrow' src='/img/search/arrow.png' alt='arrow' />
      </div>
    </div>

    <div class='duration'>
      <label for='duration'>Длительность тура</label>
      <div class='dropdown'>
        <button
          class='duration__button'
          type='button'
          id='dropdownDuration'
          data-bs-toggle='dropdown'
          aria-expanded='false'
        >
          1 неделя
        </button>
        <ul class='dropdown-menu' aria-labelledby='dropdownDuration'>
          <li class='dropdown-item'>1 неделя</li>
          <li class='dropdown-item'>2 недели</li>
          <li class='dropdown-item'>3 недели</li>
          <li class='dropdown-item'>1 месяц</li>
        </ul>
        <img class='search__arrow' src='/img/search/arrow.png' alt='arrow' />
      </div>
    </div>

    <div class='departure'>
      <p>Дата вылета</p>
      <input type='text' class='search__data departure__static' />
      <svg class='search__calendar'>
        <use xlink:href='#icon-calendar'></use>
      </svg>

    </div>

    <div class='guests'>
      <label for='guests'>Гости</label>
      <div class='dropdown'>
        <button
          class='guests__button'
          type='button'
          id='dropdownGuests'
          data-bs-toggle='dropdown'
          aria-expanded='false'
        >
          Взрослых: 2; детей: 1
        </button>
        <ul class='dropdown-menu' aria-labelledby='dropdownGuests'>
          <li class='dropdown-item'>Взрослых: 2; детей: 1</li>
          <li class='dropdown-item'>Взрослых: 2; детей: 2</li>
          <li class='dropdown-item'>Взрослых: 2; детей: 3</li>
          <li class='dropdown-item'>Взрослых: 2; детей: 4</li>
        </ul>
        <img class='search__arrow' src='/img/search/arrow.png' alt='arrow' />
      </div>
    </div>
<a class="search__submit-link" href='/html/pages/resultSearch.html'>
    <div class='search__submit'>
      <img src='/img/search/icon.png' alt='icon' class='search__submit-img' />
      
        {{!-- <button id='searchSubmit' type='submit'> --}}
          НАЙТИ
        {{!-- </button> --}}
      </a>
    </div>
  </form>

  <div class='search__footer'>
    <img src='/img/search/search.png' alt='' class='search__footer-img' />
    <p class='advanced__search'>Расширенный поиск</p>
    <div class='advanced__menu'>
      <div class='advanced__header'>
        <h3 class='adanced__title'>Расширенный поиск</h3>
        <p class='adanced__close'>Закрыть
          <img src='/img/search/iconClose.png' alt='iconClose' />
        </p>
      </div>
      <div class='advanced__body'>
        <div class='type'>
          <h2 class='type__title'>Категория размещения</h2>
          <div class='type__body'>

            <div class='rater' data-input='hotelRating'>
              <span class='rater-star' data-value='2'>★★</span>
              <span class='rater-star' data-value='3'>★★★</span>
              <span class='rater-star' data-value='4'>★★★★</span>
              <span class='rater-star' data-value='5'>★★★★★</span>
            </div>

            <input type='hidden' id='hotelRating' name='hotelRating' value='' />

          </div>

          <div class='type__caption'>
            <img src='/img/search/home.png' alt='home' class='type__caption-img' />
            <p class='type__caption-text'>Апартаменты</p>
          </div>
        </div>

        <div class='tour__package'>
          <h3 class='tour__package-title'>Состав тура</h3>
          <div class='tour__body tour__body--package'>
            <div class='tour__package-tour'></div>
          </div>

        </div>
        <div class='tour__region'>
          <h3 class='tour__package-title'>Регион</h3>
          <div class='tour__body tour__body--region'>
            <div class='tour__package-regions'></div>
          </div>
        </div>

      </div>

      <div class='advanced__column'>
        <div class='advanced__food'>
          <div class='food__body'>
            <h3 class='food__title'>Питание</h3>
            <div class='food__render'></div>
          </div>

        </div>

        <div class='advanced__fly'>
          <h3 class='advanced__fly-title'>Вылет из</h3>
          <div class='advance__fly'></div>
        </div>
        <div class='advanced__pointer'>
          <h3 class='advanced__pointer-title'>Цена на одного человека</h3>

          <div class='price-range'>
            <div class='labels top'>
              <span class='label left-value'>400€</span>
              <span class='label right-value'>2000€</span>
            </div>

            <div class='slider'>
              <div class='track'></div>
              <div class='range'></div>
              <div class='thumb left' tabindex='0'></div>
              <div class='thumb right' tabindex='0'></div>
            </div>

            <div class='labels bottom'>
              <span class='label'>200€</span>
              <span class='label'>3000€</span>
            </div>
          </div>

        </div>

      </div>
      <div class='advanced__footer'>
        <p class='advanced__footer-title'>Активные фильтры:</p>
        <div class='advanced__category'><p>Категория размещения отеля</p>
          <div id='render__category'></div>
        </div>
        <div p class='advanced__tour'><p>Состав тура</p>
          <div id='render__tour'></div>

        </div>

      </div>
    </div>
  </div>
</div>