<div data-component='sliderHeader' class='slider__header'>
  <img class='vector__home' src='/img/header/homeVector.png' alt='vectorHome' />
  <div class='swiper mySwiper'>
    <div class='swiper-wrapper'>
      <div class='swiper-slide'>
        <img src='/img/header/heroSlider.webp' alt='hero' loading='lazy' />
      </div>
      <div class='swiper-slide'>
        <img src='/img/header/heroSlider.webp' alt='hero' loading='lazy' />
      </div>
    </div>
    <div class='swiper-button-next swiper-header-next'></div>
    <div class='swiper-button-prev swiper-header-prev'></div>
  </div>
</div>