@use '../base/variables' as *;
@use "../base/mixins" as *;

.content{
    position: relative;

    &__cover{
        height: 689px;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__text{
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        text-align: center;
        transform: translate(-50%, -50%);
    }

    &__title{
        font-family: $Open;
        font-size: 84px;
        line-height: 114px;
        font-weight: 700;
        color: rgb(255, 255, 255, 1);
    }

    &__subtitle{
        margin-top: 13px;
        margin-bottom: 46px;
        font-family: $Open;
        font-size: 24px;
        line-height: 33px;
        font-weight: 400;
        color: rgb(255, 255, 255, 1);
    }

    &__description{
        margin-bottom: 15px;
        font-family: $Open;
        font-size: 14px;
        line-height: 19px;
        font-weight: 400;
        color: rgb(255, 255, 255, 1);
    }

    &__list{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    &__link{
        font-family: $Open;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0%;
        font-weight: 400;
        color: rgb(255, 255, 255, 1);
        text-decoration-line: underline;
    }
}

picture{
    width: 100%;
    height: 100%;
}