@use '../base/variables' as *;
@use "../base/mixins" as *;


.content{
    position: relative;

    &__cover{
        width: 100%;
        height: 100%;

        img{
            width: 100%;
            height: 100%;
        }
    }

    .cover-regist{
        height: 895px;
    }

    &__item{
        display: none;

        &.active{
            display: block;
        }
    }

    &__wrapper{
        position: absolute;
        top: 50.7%;
        left: 50%;
        z-index: 1;
        transform: translate(-50%, -50%);
    }

    .wrapper-refistration{
            top: 49.8%;
    }

    &__link{
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;
        margin-top: 16px;
        font-family: $Open;
        font-size: 14px;
        line-height: 19px;
        font-weight: 400;
        color: rgb(255, 255, 255, 1);
        text-align: center;
        text-decoration-line: underline;
    }

}

.card{
    width: 427px;
        height: 514px;
        padding: 32px 28px;
        border-radius: 10px;
        background: rgb(255, 255, 255, 1);
        box-shadow: 0 5px 10px 0 rgb(0, 0, 0, 0.1);

    &__title{
        opacity: 0.5;
        margin-bottom: 32px;
        font-family: $Open;
        font-size: 14px;
        line-height: 19px;
        font-weight: 400;
        color: rgb(85, 85, 85, 1);
        text-align: center;
    }

    &__social{
        button{
            width: 100%;
            height: 42px;
        }
        display: flex;
        flex-direction: column;
        gap: 14px;
        margin-bottom: 32px;
    }

    &__facebuce{
        border-radius: 6px;
        font-family: $Open;
        font-size: 14px;
        line-height: 19px;
        font-weight: 400;
        color: rgb(255, 255, 255, 1);
        background: rgb(57, 81, 133, 1);
        box-shadow: 0 1px 5px 0 rgb(0, 0, 0, 0.15);
    }

    &__google{
        border-radius: 6px;
        font-family: $Open;
        font-size: 14px;
        line-height: 19px;
        font-weight: 400;
        color: var(--text, rgb(34, 34, 34, 1));
        background: rgb(255, 255, 255, 1);
        box-shadow: 0 1px 5px 0 rgb(0, 0, 0, 0.15);
    }

    &__line{
        display: flex;
        align-items: center;
        margin-bottom: 32px;
        padding: 0 38px;
        font-family: $Open;
        font-size: 14px;
        line-height: 19px;
        font-weight: 400;
        color: rgb(85, 85, 85, 1);

        span{
            display: inline-block;
            width: 124px;
            height: 2px;
            background: rgb(202, 202, 202, 1);

            &:nth-child(1){
                margin-right: 10px;
            }

            &:nth-child(2){
                margin-left: 10px;
            }
        }
    }

    &__label{
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
        margin-right: 10px;
        margin-left: 13px;
        font-family: $Open;
        font-size: 13px;
        line-height: 100%;
        font-weight: 400;
        color: rgb(136, 136, 136, 1);

        button{
            font-family: $Open;
            font-size: 13px;
            line-height: 18px;
            font-weight: 400;
            color: var(--blue, rgb(37, 82, 150, 1));
            text-decoration-line: underline;
        }
    }

    &__input{
        width: 100%;
        height: 42px;
        margin-bottom: 16px;
        border: 1px solid rgb(226, 226, 226, 1);
        border-radius: 6px;
        box-sizing: border-box;
        background: rgb(255, 255, 255, 1);
    }

    &__btns{
        display: flex;
        gap: 19px;
        margin-top: auto;

        button{
            width: 47%;
            height: 42px;
        }

    }

    &__login{
        border-radius: 6px;
        font-family: $Open;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.6px;
        font-weight: 400;
        color: rgb(255, 255, 255, 1);
        text-transform: uppercase;
        background: $colorOrange;
    }

    &__registration{
        border: 1px solid var(--primary, rgb(246, 133, 33, 1));
        border-radius: 6px;
        box-sizing: border-box;
        font-family: $Open;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.6px;
        font-weight: 400;
        color: var(--text, rgb(34, 34, 34, 1));
        text-transform: uppercase;
    }

    &__reset{
        width: 100%;
        height: 42px;
        margin-top: auto;
        border-radius: 6px;
        font-family: $Open;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.6px;
        font-weight: 400;
        color: rgb(255, 255, 255, 1);
        text-transform: uppercase;
        background: var(--primary, rgb(246, 133, 33, 1));
    }
}

.card-registration{
    height: 593px;

    @include phone{
        width: 323px;
    }
}

.card-reset{
    height: 290px;
    padding: 32px 28px 30px;

    @include phone{
        width: 320px;
    }

    .card__title{
        margin-bottom: 34px;
        padding: 0 10px;
    }
}

.reset{
    height: 509px;

    .content__wrapper{
            top: 51.7%;
    }
}

.authorization{
    height: 800px;

    @include phone{
        height: 812px;
    }

    .card{
        @include phone{
            width: 323px;
                padding: 32px 21px;
        }

        &__label{
            @include phone{
                margin-bottom: 7px;
                margin-right: -1px;
                margin-left: 12px;

            }
        }
    }

    .content__wrapper{
        @include phone{
        top: 51.5%;

        }
    }
}