@use '../base/variables' as *;

.hotdeals-wrapper .search {
  top: -98px;
  left: 50%;
}

@media (max-width: 600px) {
  .hotdeals-wrapper {
    .consultation {
      display: none;
    }
    #footer {
      position: relative;
      padding-inline-start: 23px;
      &::before {
        content: '';
        position: absolute;
        background-color: $colorGrey06;
        width: 100%;
        height: 1px;
        top: -1px;
        left: 0;
      }
    }
    .footer__location {
      margin-block-start: 13px;
    }
    .footer__phone {
      margin-block-start: 11px;
    }
  }
}
