@use "../base/variables" as *;
@use "../base/mixins" as *;

.hotel {
  position: relative;

  &__card {
    position: absolute;
    top: -126px;
    right: 0;
    left: 98px;
    width: 304px;
    height: 85px;
    padding: 14px 14px 0 19px;
    border-radius: 8px;
    box-sizing: border-box;
    background: rgb(255, 255, 255, 1);

    @include tablet{
      left: 40px;
    }

    @include phone{
      top: -92px;
      left: 18px;
      width: 300px;
      height: 74px;
      padding: 11px 15px 13px 19px;
    }
  }

  &__card-name {
    position: relative;
    display: flex;
    align-items: center;
    gap: 11px;
    font-family: $Open;
    font-size: 26px;
    line-height: 35px;
    font-weight: 700;
    color: var(--text, rgb(34, 34, 34, 1));

    @include phone{
      gap: 9px;
    }
  }

  &__card-more {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 12px;

    svg {
      width: 100%;
      height: 100%;

      use{
        width: 100%;
        height: 100%;
      }
    }
  }

  &__card-stars {
    display: flex;
    gap: 4px;
    margin-top: -11px;
  
  }

  &__card-star{
      width: 18px;
      height: 18px;
      color: $orange;
  }

  

  &__card-location {
    display: flex;
    align-items: center;
    gap: 9px;
    margin-top: 4px;
    font-family: $Open;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    color: var(--text, rgb(34, 34, 34, 1));

    @include phone{
      margin-top: -3px;
    }
  }

  &__gallery-list {
    display: flex;
    gap: 16px;
    margin-top: 19px;
    padding-left: 2px;

    @include phone{
      gap: 5px;
      margin-top: 8px;
    }
  }

  &__content-top {
    display: flex;
    gap: 69px;
    padding: 40px 100px 22px;

    @include huge{
      padding: 40px 20%
    }

    @include big{
      padding:40px 15%;
    }

    @include laptop{
        padding: 40px 100px 22px;

      
    }

    @include table-big{
      gap: 40px;
      padding: 40px 60px;
    }

    @include tablet{
      gap: 20px;
      padding: 40px 20px;
    }

    @include tablet-mini{
      flex-direction: column-reverse;
    }

    @include phone{
      flex-direction: column-reverse;
      gap: 32px;
      padding: 0;

    }
  }

  &__content-center {
    display: flex;
    gap: 67px;
    padding: 0 100px 0 97px;

    @include huge{
      padding: 0 20%
    }

    @include big{
      padding:0 15%;
    }

    @include laptop{
    padding: 0 100px 0 97px;
      
    }

    @include table-big{
      padding: 0 60px
    }

    @include tablet{
      gap: 5px;
      padding: 0 5px;
    }

    @include tablet-mini{
      flex-direction: column;
      gap: 30px;
      margin-top: 25px;
      padding: 0 20px;;
    }

    @include phone{
      flex-direction: column;
      gap: 63px;
      margin-top: 25px;
      padding: 0;
      
    }
  }

  &__gallery-main{
    width: 100%;
    height: 499px;

    img{
      width: 100%;
      height: 100%;
      border-radius: 8px;
      object-fit: cover;
    }

    @include table-big{
      height: 80%;
    }

    @include tablet{
      height: 60%;
    }
  }

  &__gallery-item{
    width: 100%;
    // height: 100%;
    height: 97px;

    @media (width >=1500px) {
      height: 130px;
    }

    @include tablet{
      height: 75px;
    }

    @include phone{
      height: 43px;
    }

    img{
      width: 100%;
      height: 100%;
      border-radius: 8px;
      object-fit: cover;
    }
  }

  &__gallery{
    @media (width >= 1750px) {
      width: 70%;
    }

    @include phone{
      padding: 0 23px 0 17px;
    }
  }

  &__offer{
    max-width: 371px;
    // width: 30%;
    min-width: 371px;
    margin-top: -70px;
    padding: 24px;
    border-radius: 10px;
    box-sizing: border-box;
    background: rgb(255, 255, 255, 1);
    box-shadow: 0 5px 10px 0 rgb(0, 0, 0, 0.1);

    @include tablet{
      max-width: 300px;
      min-width: 300px;
      padding: 10px;
    }

    @include tablet-mini{
      max-width: 100%;
      min-width: 100%;
      margin-top: -40px;
      border-radius: none;
    }

    @include phone{
      max-width: 100%;
      min-width: 100%;
      margin-top: 0;
      padding: 29px 18px 24px 21px;
      border-radius: none;
    }
  }

  &__offer-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    font-family: $Open;
    font-size: 20px;
    line-height: 27px;
    font-weight: 400;
    color: rgb(34, 34, 34, 1);
    
    button{
      font-family: $Open;
      font-size: 14px;
      line-height: 19px;
      font-weight: 400;
      color: $primaryColor;
    }
  }

  &__offer-date{
    display: flex;
    align-items: center;
    gap: 17px;

    svg{
      width: 18px;
      height: 18px;
      color:$colorGrean;
    }

    span{
    font-family: $Open;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
      color: rgb(34, 34, 34, 1);
    }
  }

  &__offer-raise{
    display: flex;
    align-items: center;
    gap: 17px;
    margin-top: 15px;

    svg{
      width: 18px;
      height: 18px;
      color:$colorGrean;
    }

    span{
    font-family: $Open;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
      color: rgb(34, 34, 34, 1);
    }
  }

  &__offer-food{
    display: flex;
    align-items: center;
    gap: 17px;
    margin-top: 18px;

    svg{
      width: 18px;
      height: 18px;
      color:$colorGrean;
    }

    span{
      font-family: $Open;
      font-size: 16px;
      line-height: 22px;
      font-weight: 400;
      color: rgb(34, 34, 34, 1);
    }
  }

  &__offer-houses{
    display: flex;
    align-items: center;
    gap: 17px;
    margin-top: 15px;

    svg{
      width: 18px;
      height: 18px;
      color:$colorGrean;
    }

    span{
    font-family: $Open;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
      color: rgb(34, 34, 34, 1);
    }
  }

  &__offer-price{
    margin-top: 25px;
    font-family: $Open;
    font-size: 24px;
    line-height: 33px;
    font-weight: 400;
  }

  &__offer-description{
    margin-top: 8px;
    font-family: $Open;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: rgb(153, 153, 153, 1);
  }

  &__offer-people{
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-top: 2px;

    @include phone{
          margin-top: 10px;
    margin-left: -6px;
    }
  }

  &__offer-item{
    padding: 2px 10px;
    border: 1px solid rgb(226, 226, 226, 1);
    border-radius: 6px;
    box-sizing: border-box;
    font-family: $Open;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: var(--text, rgb(34, 34, 34, 1));
    background: rgb(255, 255, 255, 1);
    box-shadow: 0 2px 3px 0 rgb(0, 0, 0, 0.1);

  }

  &__offer-total{
    display: flex;
    margin-top: 31px;
    font-family: $Open;
    font-size: 16px;
    line-height: 33px;
    font-weight: 400;

    @include phone{
          margin-top: 30px;
    margin-left: -6px;
    }

    span{
      margin-top: -4px;
      margin-left: 8px;
      font-size: 24px;
      color: $colorGrean;
    }
  }

  &__offer-button{
    cursor: pointer;
    width: 100%;
    margin-top: 11px;
    padding: 12px 80px;
    border-radius: 6px;
    font-family: $Open;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.6px;
    font-weight: 400;
    color: rgb(255, 255, 255, 1);
    text-transform: uppercase;
    background: var(--primary, rgb(246, 133, 33, 1));

    @include phone{
          margin-top: 10px;
    margin-left: -4px;
    }

  }

  &__offer-policy {
  display: flex;
  margin-top: 17px;
  font-family: $Open;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: rgb(153, 153, 153, 1);

  svg {
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    margin-right: 8px;
  }

  div {
    flex: 1;

    span{
      color: rgb(85, 85, 85, 1);
    }
  }
  }

  &__title{
    font-family: $Open;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    color: rgb(34, 34, 34, 1);
  }

  &__description{
    margin-top: 16px;
    font-family: $Open;
    font-size: 14px;
    line-height: 150%;
    font-weight: 400;
    color: rgb(85, 85, 85, 1);
  }

  &__info-list{
    display: flex;
    gap: 76px;
    margin-top: 47px;

    @include phone{
      flex-direction: column;
      gap: 32px;
      
    }

  }

  &__column{
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__info{
    padding: 0 23px 0 17px;
  }

  &__info-item{
    max-width: 292px;
  }

  &__info-title{
    font-family: $Open;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    color: rgb(34, 34, 34, 1);
  }

  &__info-text{
    margin-top: 16px;
    font-family: $Open;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    color: rgb(85, 85, 85, 1);
  }

  &__info-ul{
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-top: 16px;

    li {
      position: relative;
      padding-left: 17px;
      font-family: $Open;
      font-size: 14px;
      line-height: 19px;
      font-weight: 400;
      color: rgb(85, 85, 85, 1);
      list-style: none;
    }

    li::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 0;
      width: 8px;
      height: 1px;
      background: #999;
    }

  }

  &__advantages {
    margin-top: 26px;
        padding: 19px 10px 25px 22px;
  border: 3px solid var(--primary, rgb(246, 133, 33, 1));
  border-radius: 8px;
    box-sizing: border-box;
  background: rgb(255, 255, 255, 1);

  @include phone{
    margin-top: 0;
    margin-right: 29px;
        margin-left: 11px;
        padding: 15px 10px 20px 17px
  }
  }

  &__advantages-list{
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: 23px;

    @include phone{
      margin-top: 12px;

    }
  }

  &__advantages-item{
    display: flex;
    align-items: center;
    gap: 12px;

    @include phone{
      align-items: start;
    }

    svg{
      width: 24px;
      height: 24px;
    }
     font-family: $Open;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    color: var(--text, rgb(34, 34, 34, 1));

    @include phone{
      font-size: 14px;
    }
  }

  &__contact{
    width: 371px;
    height: auto;
    margin-top: 47px;
    padding: 24px;
    border-radius: 10px;
    background: rgb(255, 255, 255, 1);
    box-shadow: 0 5px 10px 0 rgb(0, 0, 0, 0.1);

    svg{
      width: 24px;
      height: 24px;
      color: $colorGrean;
    }

    @include tablet-mini{
      margin-right: auto;
      margin-left: auto;
    }

    @include phone{
      width: 100%;
     margin-top: 64px;
     padding: 15px 15px 23px;
    }
  }

  &__advantages-title{
    font-family: $Open;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    color: var(--text, rgb(34, 34, 34, 1));

    @include phone{
      font-size: 16px;
    }
  }



  &__contact-title{
    font-family: $Open;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    color: rgb(34, 34, 34, 1);
  }

  &__contact-name{
    margin-top: 18px;
    font-family: $Open;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;

    b{
      font-size: 18px;
    }
  }

  &__contact-img{
    width: 100%;
    height: auto;
    margin-top: 14px;
  }

  &__contact-phone,
  &__contact-email,
  &__contact-message,
  &__contact-time{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 16px;
    font-family: $Open;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: rgb(34, 34, 34, 1);
  }

  &__contact-time{
    font-size: 14px;
  }
}

.hotel__card-pin{
    width: 10px;
    height: 14px;
  }

.guests {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 32px;
  background-color: white;

  @include phone{
    margin-top: 22px;
    margin-left: -4px;
  }

  label{
font-family: $Open;
font-size: 16px;
line-height: 22px;
font-weight: 400;
    color: rgb(85, 85, 85, 1);
  }
 
}

.dropdown {
  display: flex;
  margin-top: 8px;
  padding: 8px 8px 12px 16px;
  border: 1px solid rgb(226, 226, 226, 1);
  border-radius: 6px;
  box-sizing: border-box;
  font-family: $Roboto;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: rgb(34, 34, 34, 1);
  background: rgb(255, 255, 255, 1);

  @include tablet {
    font-size: 12px;
  }

  @include tablet-mini {
    font-size: 10px;
  }

  @include phone {
        padding: 8px 5px 7px 14px;
    font-size: 10px;

  }
}

.guests__button {
  position: relative;
  z-index: 2;
  width: 100%;
    font-family: $Open;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
  color: rgb(34, 34, 34, 1);
  text-align: start;
}

