@use '../base/variables' as *;

.hotel {
  position: relative;

  &__card {
    position: absolute;
    top: -126px;
    right: 0;
    left: 98px;
    width: 304px;
    height: 85px;
    padding: 14px 14px 0 19px;
    border-radius: 8px;
    box-sizing: border-box;
    background: rgb(255, 255, 255, 1);
  }

  &__card-name {
    position: relative;
    display: flex;
    align-items: center;
    gap: 13px;
    font-family: "Open Sans";
    font-size: 26px;
    line-height: 35px;
    font-weight: 700;
    color: var(--text, rgb(34, 34, 34, 1));
  }

  &__card-more {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 12px;
    height: 12px;

    svg {
      width: 12px;
      height: 12px;
    }
  }

  &__card-stars {
    display: flex;
    gap: 4px;
    margin-top: -11px;
  }

  &__card-location {
    display: flex;
    align-items: center;
    gap: 9px;
    margin-top: 4px;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    color: var(--text, rgb(34, 34, 34, 1));
  }

  &__gallery-list {
    display: flex;
    gap: 16px;
    margin-top: 16px;
  }

  &__content-top {
    display: flex;
    padding: 40px 100px;
  }

  &__content-center {
    display: flex;
    padding: 0 100px 0 97px;
  }
}
