@use '../base/variables';
@use "../base/mixins" as *;

.content{
    display: flex;
    justify-content: space-between;
    padding: 0 111px 0 98px;
}

.call{
    max-width: 521px;
    margin-top: 21px;

    &__title{
        font-family: "Open Sans";
        font-size: 36px;
        line-height: 49px;
        font-weight: 700;
        color: rgb(34, 34, 34, 1);
    }

    &__subtitle{
        width: 90%;
        margin-top: 16px;
        font-family: "Open Sans";
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        color: rgb(34, 34, 34, 1);
    }

    &__form-subtitle{
        opacity: 0.5;
        margin-top: 32px;
        font-family: "Open Sans";
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        color: rgb(34, 34, 34, 1);

    }

    &__form-title{
        margin-top: 31px;
        font-family: "Open Sans";
        font-size: 18px;
        line-height: 25px;
        font-weight: 400;
        color: var(--text, rgb(34, 34, 34, 1));
    }

    &__form-input{
        display: flex;
        margin-top: 17px;

        input{
            width: 100%;
            padding-left: 15px;
            border: 1px solid rgb(226, 226, 226, 1);
            border-radius: 6px 0 0 6px;
            box-sizing: border-box;
            font-family: Roboto;
            font-size: 14px;
            line-height: 16px;
            font-weight: 400;
            color: rgb(136, 136, 136, 1);
            background: rgb(255, 255, 255, 1);
        }

        button{
            min-width: 170px;
            height: 42px;
            border-radius: 0 6px 6px 0;
            font-family: "Open Sans";
            font-size: 14px;
            line-height: 19px;
            letter-spacing: 0.6px;
            font-weight: 400;
            color: rgb(255, 255, 255, 1);
            text-transform: uppercase;
            background:rgb(246, 133, 33, 1);
        }
    }

    &__consultation{
        margin-top: 30px;
        font-family: "Open Sans";
        font-size: 18px;
        line-height: 25px;
        font-weight: 400;
        color: rgb(34, 34, 34, 1);
    }
    
    &__card{
        display: flex;
        gap: 32px;
        margin-top: 16px;

        img{
            width: 52%;
            height: 181px;
            object-fit: cover;
        }

    }

    &__card-name{
        font-family: "Open Sans";
        font-size: 22px;
        line-height: 30px;
        font-weight: 400;
        color: rgb(34, 34, 34, 1);
    }

    &__card-position{
        margin-top: 5px;
        margin-bottom: 24px;
        font-family: "Open Sans";
        font-size: 14px;
        line-height: 19px;
        font-weight: 400;
        color: rgb(85, 85, 85, 1);
    }

    &__contact{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__card-item{
        display: flex;
        gap: 12px;
        font-family: "Open Sans";
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        color: rgb(34, 34, 34, 1);

        svg{
            width: 24px;
            height: 24px;
            color: #3E7739;
        }
    }
}

.tab{
    margin-top: -40px;
    border-radius: 10px;
    box-sizing: border-box;
    background: rgb(255, 255, 255, 1);
    box-shadow: 0 5px 10px 0 rgb(0, 0, 0, 0.1);

    &__list{
        display: flex;
    }

    &__name{
        opacity: 0.2;
        padding: 20px 35px;
        font-family: "Open Sans";
        font-size: 14px;
        line-height: 125%;
        font-weight: 400;
        color: rgb(34, 34, 34, 1);
        background: rgb(196, 196, 196, 1);

        &:nth-child(2){
            padding: 20px 23px;
        }
    }
}