@use '../base/variables' as *;
@use "../base/mixins" as *;

body{
    @include huge{
        padding: 0 20%;
    }

    @include big{
        padding:  0 15%;
    }

    @include desktop{
        padding: 0 10%;
    }

    @include laptop{
        padding: 0;
    }

    @include phone{
        padding: 0;
    }
}

// .hero{
//     img{
//         width: 100%;

//         @include phone{
//             height: 360px;
//         }
//     }
// }

.content{
    display: flex;
    justify-content: space-between;
    padding: 0 111px 77px 98px;


    @include laptop{
        padding: 0 111px 77px 98px;
    }

    @include table-big{
        padding: 0 20px 80px;
    }

    @include tablet{
        align-items: center;
        flex-direction: column;
        padding: 0 80px 80px;
    }

    @include tablet-mini{
        align-items: center;
        flex-direction: column;
        padding: 0 45px 80px;
    }

    @include phone{
        align-items: center;
        flex-direction: column;
        padding: 0 17px 80px 23px;
    }
}

.call{
    max-width: 521px;
    margin-top: 21px;

    @include table-big{
        max-width: 503px;
    }

    @include phone{
        margin-top: 29px;

    }

    &__title{
        font-family: $Open;
        font-size: 36px;
        line-height: 49px;
        font-weight: 700;
        color: rgb(34, 34, 34, 1);

        @include phone{
            line-height: 39px;
        }
    }

    &__subtitle{
        width: 90%;
        margin-top: 16px;
        font-family: $Open;
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        color: rgb(34, 34, 34, 1);

        @include phone{
            margin-top: 25px;
            
        }
    }

    &__form-subtitle{
        opacity: 0.5;
        margin-top: 32px;
        font-family: $Open;
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        color: rgb(34, 34, 34, 1);

        @include phone{
            margin-top: 13px;
        }
    }

    &__form-title{
        margin-top: 31px;
        font-family: $Open;
        font-size: 18px;
        line-height: 25px;
        font-weight: 400;
        color: var(--text, rgb(34, 34, 34, 1));

        @include phone{
            margin-top: 16px;
        }
    }

    &__form-input{
        display: flex;
        margin-top: 17px;

        @include phone{
            flex-direction: column;
        }

        input{
            width: 100%;
            padding-left: 15px;
            border: 1px solid rgb(226, 226, 226, 1);
            border-radius: 6px 0 0 6px;
            box-sizing: border-box;
            font-family: $Roboto;
            font-size: 14px;
            line-height: 16px;
            font-weight: 400;
            color: rgb(136, 136, 136, 1);
            background: rgb(255, 255, 255, 1);

            @include phone{
                margin-bottom: 14px;
                padding: 12px 15px;
            }
        }

    }

    &__form-phone{
        min-width: 170px;
            height: 42px;
            border-radius: 0 6px 6px 0;
            font-family: $Open;
            font-size: 14px;
            line-height: 19px;
            letter-spacing: 0.6px;
            font-weight: 400;
            color: rgb(255, 255, 255, 1);
            text-transform: uppercase;
            background:rgb(246, 133, 33, 1);

            @include phone{
                border-radius: 6px;
            }
    }

    &__form-btn{
        display: none;
        height: 42px;
        margin-top: 22px;
        border: 1px solid var(--primary, rgb(246, 133, 33, 1));
        border-radius: 6px;
        box-sizing: border-box;
        font-family: $Open;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.6px;
        font-weight: 400;
        color: var(--text, rgb(34, 34, 34, 1));
        background: rgb(255, 255, 255, 1);

        @include phone{
            display: block;
        }
    }

    &__consultation{
        margin-top: 30px;
        font-family: $Open;
        font-size: 18px;
        line-height: 25px;
        font-weight: 400;
        color: rgb(34, 34, 34, 1);

        @include phone{
            margin-top: 25px;
        }
    }
    
    &__card{
        display: flex;
        gap: 32px;
        margin-top: 16px;

        @include phone{
            flex-direction: column;
            gap: 23px;
        }

        img{
            width: 52%;
            height: 181px;
            object-fit: cover;

            @include phone{
                width: 100%;
            }
        }

    }

    &__card-name{
        font-family: $Open;
        font-size: 22px;
        line-height: 30px;
        font-weight: 400;
        color: rgb(34, 34, 34, 1);
    }

    &__card-position{
        margin-top: 5px;
        margin-bottom: 24px;
        font-family: $Open;
        font-size: 14px;
        line-height: 19px;
        font-weight: 400;
        color: rgb(85, 85, 85, 1);
    }

    &__contact{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__card-item{
        display: flex;
        gap: 12px;
        font-family: $Open;
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        color: rgb(34, 34, 34, 1);

        svg{
            width: 24px;
            height: 24px;
            color: #3E7739;
        }
    }
}

.tab{
    display: flex;
    flex-direction: column;
    max-height: 542px;
    margin-top: -40px;
    border-radius: 10px;
    box-sizing: border-box;
    background: rgb(255, 255, 255, 1);
    box-shadow: 0 5px 10px 0 rgb(0, 0, 0, 0.1);

    @include tablet{
        margin-top: 38px;
    }

    @include tablet-mini{
        margin-top: 38px;
    }

    @include phone{
        width: 100%;
        height: 517px;
        margin-top: 38px;
    }

    &__list{
        display: flex;
    }

    &__content{
        flex: 1;
        padding: 17px 24px 24px;

        @include phone{
                padding: 11px 16px 16px;
        }
    }

    &__item{
        display: none;
        justify-content: space-between;
        flex-direction: column;
        height: 100%;

        &.active{
            display: flex;
        }
    }



    &__item-input{
        width: 100%;
        margin-bottom: 16px;
        padding: 12px 16px;
        border: 1px solid rgb(226, 226, 226, 1);
        border-radius: 6px;
        box-sizing: border-box;
        background: rgb(255, 255, 255, 1);
    }

    &__name{
        opacity: 0.2;
        padding: 20px 35px;
        font-family: $Open;
        font-size: 14px;
        line-height: 125%;
        font-weight: 400;
        color: rgb(34, 34, 34, 1);
        background: rgb(196, 196, 196, 1);

        @include phone{
            display: none;
            width: 100%;
            font-size: 18px;
            text-align: center;
        }

        &:nth-child(2){
            padding: 20px 23px;
        }

        &.active{
            opacity: 1;
            display: block;
            color: rgb(34, 34, 34, 1);             
            background: white;
        }
    }

    &__label {
        margin-bottom: 8px;
        padding-left: 12px;
        font-family: $Open;
        font-size: 13px;
        line-height: 100%;
        font-weight: 400;
        color: rgb(136, 136, 136, 1);
    }

    &__people{
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
        margin-top: -1px;
        margin-bottom: 20px;
    }

    &__people-item{
        padding: 2px 10px;
        border: 1px solid rgb(226, 226, 226, 1);
        border-radius: 6px;
        box-sizing: border-box;
        font-family: $Open;
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;
        color: var(--text, rgb(34, 34, 34, 1));

        @include phone{
                padding: 2px 7px;
        }
    }
    
    &__category{
        display: flex;
        gap: 4px;
        margin-top: 12px;
        margin-bottom: 24px;
        padding-left: 15px;

        svg{
            opacity: 0.5;
            width: 18px;
            height: 18px;
            color: $orange;

            &.active{
                opacity: 1;
            }
        }
    }

    &__textarea{
        width: 100%;
        height: 100px;
        border: 1px solid rgb(226, 226, 226, 1);
        border-radius: 6px;
        box-sizing: border-box;
        background: rgb(255, 255, 255, 1);
        
    }

    &__next{
        width: 100%;
        height: 42px;
        // margin-top: 58px;
        border: 1px solid var(--primary, rgb(246, 133, 33, 1));
        border-radius: 6px;
        box-sizing: border-box;
        text-transform: uppercase;
        // background: $orange-bold;
    }

    &__finish{
        height: 42px;
        border-radius: 6px;
        font-family: $Open;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.6px;
        font-weight: 400;
        color: rgb(255, 255, 255, 1);
        text-align: center;
        text-transform: uppercase;
        background: $orange-bold;
    }
}

.dropdown {
  position: relative;
    margin-bottom: 8px;
  font-family: sans-serif;

    @include phone{
        margin-bottom: 11px;
    }

  &__header {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 11px 14px;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    font-family: $Roboto;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: rgb(34, 34, 34, 1);
    background: #fff;

    @include phone{
        padding: 7px 12px;
    }

    svg{
        width: 24px;
        height: 24px;
    }
    }

    &__icon {
    width: 12px;
    height: 12px;
    transition: transform 0.25s ease;
    }

    &__list {
    overflow: hidden;
    opacity: 0;
    position: absolute;
    left: 0;
    z-index: 10;
    width: 100%;
    max-height: 0;
    margin-top: 6px;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 6px 15px rgb(0,0,0,0.08);
    transition: all 0.25s ease;
    }

    &__item {
        cursor: pointer;
        padding: 12px 14px;
        transition: background 0.15s;
    }

    &__item:hover {
        background: #f3f3f3;
    }
}

.dropdown.open .dropdown__icon {
  transform: rotate(180deg);
}

.dropdown.open .dropdown__list {
  opacity: 1;
  max-height: 240px;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
        padding: 9px 3px;
border: 1px solid rgb(226, 226, 226, 1);
border-radius: 6px;
    box-sizing: border-box;
background: rgb(255, 255, 255, 1);

    @include phone{
        padding: 9px;
    }

    &__btn {
        width: 16px;
        height: 16px;
        box-sizing: border-box;

        svg{
            width: 16px;
            height: 16px;
            color: rgb(246, 133, 33, 1);
        }
    }

    &__btn:hover {
        opacity: 0.6;
    }

    &__value {
        font-family: $Roboto;
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
        color: rgb(34, 34, 34, 1);
    }

}

