<header data-component="header" id="header">
  <div class="topbar">
    <ul class="topbar__list">
      <li class="topbar__items">
        <a href="" class="topbar__link">
          Страховки
        </a>
        <a href="" class="topbar__link">
          Визы
        </a>
        <a href="" class="topbar__link">
          Контакты
        </a>
      </li>
    </ul>
    <div class="topbar__contact">
      <div class="phone__body">
        <img src="/img/header/phone.png" alt="phone" class="phone__body-img" />
        <p class="phone__body-text">+372 6 130 633123</p>
      </div>
      <div class="email__body">
        <img src="/img/header/email.png" alt="email" class="email__body-img" />
        <p class="email__body-text">contact@email.ee</p>
      </div>

    </div>
    <div class="profile__body">
      <img src="/img/header/profile.png" alt="profile" class="profile__body-img" />
      <img
        src="/img/header/flag.png"
        alt="flag"
        class="profile__body-img profile__body-img--flag"
      />
    </div>
  </div>
  <a href="/">
    <div class="logo">
      <img src="/img/header/logo.jpg" alt="logo" class="logo__img" />
      <img src="/img/header/logoBackground.png" alt="backgroundLogo" class="logo__background" />
    </div>
  </a>
  <nav class="nav">
    <ul class="nav__list">
      <div class="burger">
        <img src="/img/header/burger.png" alt="burger" class="burger__img" />
      </div>

      <div class="burger__menu">
        <div class="burger__body">
          <a href="" class="nav__link">
            Поиск тура
          </a>
          <a href="" class="nav__link">
            Направления
          </a>
          <a href="" class="nav__link nav__link--company">
            <svg
              class="sale"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M19.0056 11.9876L20.2933 9.76211L18.0674 8.4755V5.90997H15.5027L14.2166 3.68415L11.9891 4.97171L9.76197 3.68328L8.47492 5.90997H5.91039V8.4745L3.68404 9.76136L4.97239 11.988L3.68379 14.215L5.90939 15.5014V18.066H8.47492L9.76178 20.2923L11.988 19.0042L14.216 20.292L15.5015 18.066H18.0664V15.5014L20.2929 14.2145L19.0056 11.9876ZM13.8984 21.841L11.9884 20.737L10.0804 21.841C9.92639 21.93 9.75339 21.976 9.57939 21.976C9.40406 21.975 9.23201 21.9283 9.08017 21.8407C8.92833 21.753 8.80192 21.6273 8.71339 21.476L7.60939 19.566H5.40939C5.14417 19.566 4.88982 19.4606 4.70228 19.2731C4.51475 19.0855 4.40939 18.8312 4.40939 18.566V16.367L2.49939 15.263C2.27059 15.1293 2.10394 14.9105 2.03575 14.6545C1.96756 14.3984 2.00338 14.1257 2.13539 13.896L3.23939 11.988L2.13539 10.08C2.06927 9.96633 2.02625 9.84075 2.00882 9.71043C1.99138 9.58012 1.99986 9.44764 2.03378 9.32061C2.0677 9.19358 2.12638 9.07451 2.20646 8.97023C2.28653 8.86595 2.38642 8.77853 2.50039 8.71297L4.41039 7.60897V5.40997C4.41039 5.14476 4.51575 4.8904 4.70328 4.70287C4.89082 4.51533 5.14517 4.40997 5.41039 4.40997H7.60939L8.71339 2.49997C8.846 2.2703 9.06442 2.10271 9.32059 2.03407C9.57677 1.96544 9.84971 2.00137 10.0794 2.13397L11.9894 3.23897L13.8994 2.13497C14.013 2.06891 14.1386 2.02605 14.2689 2.00889C14.3992 1.99172 14.5316 2.00059 14.6584 2.03497C14.9141 2.10448 15.1322 2.27189 15.2654 2.50097L16.3684 4.40997H18.5674C18.8326 4.40997 19.087 4.51533 19.2745 4.70287C19.462 4.8904 19.5674 5.14476 19.5674 5.40997V7.60997L21.4774 8.71397C21.7069 8.84675 21.8743 9.06524 21.9427 9.3214C22.0112 9.57756 21.9751 9.85041 21.8424 10.08L20.7384 11.988L21.8414 13.896C21.9072 14.0097 21.95 14.1353 21.9673 14.2655C21.9846 14.3958 21.9761 14.5282 21.9422 14.6551C21.9083 14.7821 21.8497 14.9011 21.7698 15.0054C21.6899 15.1097 21.5902 15.1972 21.4764 15.263L19.5664 16.367V18.566C19.5664 18.8312 19.461 19.0855 19.2735 19.2731C19.086 19.4606 18.8316 19.566 18.5664 19.566H16.3674L15.2644 21.476C15.1314 21.7053 14.9129 21.8725 14.6569 21.9409C14.4008 22.0093 14.128 21.9734 13.8984 21.841Z"
                fill="currentColor"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M9.48839 6.97797C9.88635 6.9781 10.268 7.13632 10.5493 7.41781C10.8306 7.6993 10.9885 8.08101 10.9884 8.47897C10.9883 8.87693 10.83 9.25853 10.5486 9.53984C10.2671 9.82114 9.88535 9.9791 9.48739 9.97897C9.08943 9.97884 8.70783 9.82062 8.42652 9.53913C8.14522 9.25764 7.98726 8.87593 7.98739 8.47797C7.98752 8.08001 8.14574 7.69841 8.42723 7.41711C8.70872 7.1358 9.09043 6.97784 9.48839 6.97797ZM9.78839 16.578L8.18839 15.379L14.1884 7.37897L15.7884 8.57797L9.78839 16.578ZM14.4884 16.978C14.2913 16.9779 14.0962 16.939 13.9142 16.8636C13.7322 16.7881 13.5668 16.6775 13.4275 16.5381C13.2882 16.3987 13.1778 16.2333 13.1024 16.0512C13.0271 15.8692 12.9883 15.674 12.9884 15.477C12.9885 15.2799 13.0273 15.0848 13.1028 14.9028C13.1783 14.7208 13.2888 14.5554 13.4282 14.4161C13.5676 14.2768 13.7331 14.1663 13.9151 14.091C14.0972 14.0157 14.2923 13.9769 14.4894 13.977C14.8873 13.9771 15.269 14.1353 15.5503 14.4168C15.8316 14.6983 15.9895 15.08 15.9894 15.478C15.9893 15.8759 15.831 16.2575 15.5496 16.5388C15.2681 16.8201 14.8863 16.9781 14.4884 16.978Z"
                fill="currentColor"
              />
            </svg>

            кампании
          </a>
          <a href="" class="nav__link nav__link--sale">
            <svg
              class="clock"
              xmlns="http://www.w3.org/2000/svg"
              width="28"
              height="24"
              viewBox="0 0 28 24"
              fill="none"
            >
              <path
                d="M15.4287 19.9999C13.5722 19.9999 11.7917 19.2624 10.479 17.9496C9.16621 16.6369 8.42871 14.8564 8.42871 12.9999C8.42871 11.1434 9.16621 9.36289 10.479 8.05013C11.7917 6.73738 13.5722 5.99988 15.4287 5.99988C17.2852 5.99988 19.0657 6.73738 20.3785 8.05013C21.6912 9.36289 22.4287 11.1434 22.4287 12.9999C22.4287 14.8564 21.6912 16.6369 20.3785 17.9496C19.0657 19.2624 17.2852 19.9999 15.4287 19.9999ZM22.4587 7.38988L23.8787 5.96988C23.4287 5.45988 22.9787 4.99988 22.4687 4.55988L21.0487 5.99988C19.4987 4.73988 17.5487 3.99988 15.4287 3.99988C13.0418 3.99988 10.7526 4.94809 9.06475 6.63592C7.37692 8.32374 6.42871 10.6129 6.42871 12.9999C6.42871 15.3868 7.37692 17.676 9.06475 19.3638C10.7526 21.0517 13.0418 21.9999 15.4287 21.9999C20.4287 21.9999 24.4287 17.9699 24.4287 12.9999C24.4287 10.8799 23.6887 8.92988 22.4587 7.38988ZM14.4287 13.9999H16.4287V7.99988H14.4287V13.9999ZM18.4287 0.999878H12.4287V2.99988H18.4287V0.999878Z"
                fill="currentColor"
              />
              <rect x="2.74268" y="15.0854" width="2.74286" height="2.05714" fill="currentColor" />
              <rect x="1.37158" y="8.22827" width="4.11429" height="2.05714" fill="currentColor" />
              <rect y="11.6569" width="4.8" height="2.05714" fill="currentColor" />
            </svg>
            Горящие предложения
          </a>
          <a href="" class="nav__link">
            Запрос тура
          </a>
          <a href="" class="nav__link">
            авиабилеты
          </a>
        </div>
      </div>

      <li class="nav__items">
        <a href="" class="nav__link">
          Поиск тура
        </a>
        <a href="" class="nav__link">

          Направления
        </a>
        <a href="" class="nav__link nav__link--company">
          <svg
            class="sale"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M19.0056 11.9876L20.2933 9.76211L18.0674 8.4755V5.90997H15.5027L14.2166 3.68415L11.9891 4.97171L9.76197 3.68328L8.47492 5.90997H5.91039V8.4745L3.68404 9.76136L4.97239 11.988L3.68379 14.215L5.90939 15.5014V18.066H8.47492L9.76178 20.2923L11.988 19.0042L14.216 20.292L15.5015 18.066H18.0664V15.5014L20.2929 14.2145L19.0056 11.9876ZM13.8984 21.841L11.9884 20.737L10.0804 21.841C9.92639 21.93 9.75339 21.976 9.57939 21.976C9.40406 21.975 9.23201 21.9283 9.08017 21.8407C8.92833 21.753 8.80192 21.6273 8.71339 21.476L7.60939 19.566H5.40939C5.14417 19.566 4.88982 19.4606 4.70228 19.2731C4.51475 19.0855 4.40939 18.8312 4.40939 18.566V16.367L2.49939 15.263C2.27059 15.1293 2.10394 14.9105 2.03575 14.6545C1.96756 14.3984 2.00338 14.1257 2.13539 13.896L3.23939 11.988L2.13539 10.08C2.06927 9.96633 2.02625 9.84075 2.00882 9.71043C1.99138 9.58012 1.99986 9.44764 2.03378 9.32061C2.0677 9.19358 2.12638 9.07451 2.20646 8.97023C2.28653 8.86595 2.38642 8.77853 2.50039 8.71297L4.41039 7.60897V5.40997C4.41039 5.14476 4.51575 4.8904 4.70328 4.70287C4.89082 4.51533 5.14517 4.40997 5.41039 4.40997H7.60939L8.71339 2.49997C8.846 2.2703 9.06442 2.10271 9.32059 2.03407C9.57677 1.96544 9.84971 2.00137 10.0794 2.13397L11.9894 3.23897L13.8994 2.13497C14.013 2.06891 14.1386 2.02605 14.2689 2.00889C14.3992 1.99172 14.5316 2.00059 14.6584 2.03497C14.9141 2.10448 15.1322 2.27189 15.2654 2.50097L16.3684 4.40997H18.5674C18.8326 4.40997 19.087 4.51533 19.2745 4.70287C19.462 4.8904 19.5674 5.14476 19.5674 5.40997V7.60997L21.4774 8.71397C21.7069 8.84675 21.8743 9.06524 21.9427 9.3214C22.0112 9.57756 21.9751 9.85041 21.8424 10.08L20.7384 11.988L21.8414 13.896C21.9072 14.0097 21.95 14.1353 21.9673 14.2655C21.9846 14.3958 21.9761 14.5282 21.9422 14.6551C21.9083 14.7821 21.8497 14.9011 21.7698 15.0054C21.6899 15.1097 21.5902 15.1972 21.4764 15.263L19.5664 16.367V18.566C19.5664 18.8312 19.461 19.0855 19.2735 19.2731C19.086 19.4606 18.8316 19.566 18.5664 19.566H16.3674L15.2644 21.476C15.1314 21.7053 14.9129 21.8725 14.6569 21.9409C14.4008 22.0093 14.128 21.9734 13.8984 21.841Z"
              fill="currentColor"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M9.48839 6.97797C9.88635 6.9781 10.268 7.13632 10.5493 7.41781C10.8306 7.6993 10.9885 8.08101 10.9884 8.47897C10.9883 8.87693 10.83 9.25853 10.5486 9.53984C10.2671 9.82114 9.88535 9.9791 9.48739 9.97897C9.08943 9.97884 8.70783 9.82062 8.42652 9.53913C8.14522 9.25764 7.98726 8.87593 7.98739 8.47797C7.98752 8.08001 8.14574 7.69841 8.42723 7.41711C8.70872 7.1358 9.09043 6.97784 9.48839 6.97797ZM9.78839 16.578L8.18839 15.379L14.1884 7.37897L15.7884 8.57797L9.78839 16.578ZM14.4884 16.978C14.2913 16.9779 14.0962 16.939 13.9142 16.8636C13.7322 16.7881 13.5668 16.6775 13.4275 16.5381C13.2882 16.3987 13.1778 16.2333 13.1024 16.0512C13.0271 15.8692 12.9883 15.674 12.9884 15.477C12.9885 15.2799 13.0273 15.0848 13.1028 14.9028C13.1783 14.7208 13.2888 14.5554 13.4282 14.4161C13.5676 14.2768 13.7331 14.1663 13.9151 14.091C14.0972 14.0157 14.2923 13.9769 14.4894 13.977C14.8873 13.9771 15.269 14.1353 15.5503 14.4168C15.8316 14.6983 15.9895 15.08 15.9894 15.478C15.9893 15.8759 15.831 16.2575 15.5496 16.5388C15.2681 16.8201 14.8863 16.9781 14.4884 16.978Z"
              fill="currentColor"
            />
          </svg>

          кампании
        </a>
        <a href="/html/pages/hotdeals.html" class="nav__link nav__link--sale">
          <svg
            class="clock"
            xmlns="http://www.w3.org/2000/svg"
            width="28"
            height="24"
            viewBox="0 0 28 24"
            fill="none"
          >
            <path
              d="M15.4287 19.9999C13.5722 19.9999 11.7917 19.2624 10.479 17.9496C9.16621 16.6369 8.42871 14.8564 8.42871 12.9999C8.42871 11.1434 9.16621 9.36289 10.479 8.05013C11.7917 6.73738 13.5722 5.99988 15.4287 5.99988C17.2852 5.99988 19.0657 6.73738 20.3785 8.05013C21.6912 9.36289 22.4287 11.1434 22.4287 12.9999C22.4287 14.8564 21.6912 16.6369 20.3785 17.9496C19.0657 19.2624 17.2852 19.9999 15.4287 19.9999ZM22.4587 7.38988L23.8787 5.96988C23.4287 5.45988 22.9787 4.99988 22.4687 4.55988L21.0487 5.99988C19.4987 4.73988 17.5487 3.99988 15.4287 3.99988C13.0418 3.99988 10.7526 4.94809 9.06475 6.63592C7.37692 8.32374 6.42871 10.6129 6.42871 12.9999C6.42871 15.3868 7.37692 17.676 9.06475 19.3638C10.7526 21.0517 13.0418 21.9999 15.4287 21.9999C20.4287 21.9999 24.4287 17.9699 24.4287 12.9999C24.4287 10.8799 23.6887 8.92988 22.4587 7.38988ZM14.4287 13.9999H16.4287V7.99988H14.4287V13.9999ZM18.4287 0.999878H12.4287V2.99988H18.4287V0.999878Z"
              fill="currentColor"
            />
            <rect x="2.74268" y="15.0854" width="2.74286" height="2.05714" fill="currentColor" />
            <rect x="1.37158" y="8.22827" width="4.11429" height="2.05714" fill="currentColor" />
            <rect y="11.6569" width="4.8" height="2.05714" fill="currentColor" />
          </svg>
          Горящие предложения
        </a>
        <a href="/html/pages/oneHotel.html" class="nav__link">
          Запрос тура
        </a>
        <a href="" class="nav__link">
          авиабилеты
        </a>
      </li>
    </ul>
  </nav>
</header>