<div data-component='sliderHeader' class='swiper mySwiper'>
  <div class='swiper-wrapper'>
    <div class='swiper-slide'>
      <img class='hero__slider-img' src='/img/header/heroSlider.png' alt='hero' />
    </div>
    <div class='swiper-slide'>
      <img class='hero__slider-img' src='/img/header/heroSlider.png' alt='hero' />
    </div>
    <div class='swiper-slide'><img src='/img/header/heroSlider.png' alt='hero' /></div>
  </div>
  <div class='swiper-button-next'></div>
  <div class='swiper-button-prev'></div>
  <div class='swiper-pagination'></div>
</div>