<section class="content"> 
    <form class="content__item  authorization" id="loginForm">
        <div class="content__cover">
        <img src="../../../img/authorization/authorization-bg.webp" alt="">
    </div>
    <div class="content__wrapper">
        <div class="card">
            <div class="card__title">
                Войдите используя соц. сети
            </div>
            <div class="card__social">
                <button type="button" class="card__facebuce">Войти с помощью Facebook</button>
                <button type="button" class="card__google">Войти с помощью Google</button>
            </div>
            <div class="card__line">
                <span></span>
     или 
    <span></span>
            </div>
            <div class="card__label">
                E-mail
            </div>
            <input type="text" id="identifier" name="identifier" class="card__input">
            <div class="card__label" style="margin-top: -2px;">
                Пароль 
                <button type="button" data-tab="reset" class="tab">Забыли пароль?</button>
            </div>
            <input type="password" id="passwordLogin" name="password" class="card__input">
            <div class="card__btns">
                <button data-tab="register" type="button" class="card__registration tab">
                    Регистрация
                </button>
                <button type="submit" class="card__login">
                    Вход
                </button>
            </div>
        </div>
        <div class="content__link">
           <a href="">Политика конфиденциальности</a> 
           <a href="">Политика использования</a>
        </div>
    </div>
    </form>
    <form class="content__item register" id="registerForm">
        <div class="content__cover cover-regist">
        <img src="../../../img/authorization/authorization-bg.webp" alt="">
    </div>
        <div class="content__wrapper wrapper-refistration">
        <div class="card card-registration">
            <div class="card__title">
                Зарегистрируйтесь используя соц. сети
            </div>
            <div class="card__social">
                <button type="button" class="card__facebuce">Войти с помощью Facebook</button>
                <button type="button" class="card__google">Войти с помощью Google</button>
            </div>
            <div class="card__line">
                <span></span>
     или 
    <span></span>
            </div>
            <div class="card__label">
                E-mail
            </div>
            <input type="email" id="email" name="email" class="card__input">
            <div class="card__label">
                Пароль
            </div>
            <input type="password" id="password" name="password" class="card__input">
            <div class="card__label">
                Повторите пароль
            </div>
            <input type="password" name="passwordRepeat" class="card__input">
            <div class="card__btns">
                <button data-tab="authorization" type="button" class="card__registration tab">
                  Вход  
                </button>
                <button type="submit" class="card__login">
                    Регистрация
                </button>
            </div>
            
        </div>
        <div class="content__link">
           <a href="">Политика конфиденциальности</a> 
           <a href="">Политика использования</a>
        </div>
    </div>
    </form>
    <div class="content__item  reset">
        <div class="content__cover cover-reset">
            <img src="../../../img/authorization/authorization-bg.webp" alt="">
        </div>
        <div class="content__wrapper">
            <div class="card card-reset">
                <div class="card__title">
                    Мы отправим специальную ссылку на указанный электронный адрес, перейдя по которой вы сможете задать новый пароль.
                </div>
                <div class="card__label">
                E-mail
            </div>
            <input type="text" class="card__input" id="emailReset">
             
                <button type="button" id="reset" class="card__reset">
                    отправить
                </button>
           
            </div>
        </div>
    </div>
     <form class="content__item newPassword" id="newPasswordForm">
        <div class="content__cover cover-regist">
        <img src="../../../img/authorization/authorization-bg.webp" alt="">
    </div>
        <div class="content__wrapper wrapper-refistration">
        <div class="card card-registration">
            <div class="card__title">
                новий пароль
            </div>
            
            <div class="card__line">
                <span></span>
     или 
    <span></span>
            </div>
           
            <div class="card__label">
                Пароль
            </div>
            <input type="password" id="newPassword" name="password" class="card__input">
            <div class="card__label">
                Повторите пароль
            </div>
            <input type="password" id="passwordRepeat" name="passwordRepeat" class="card__input">
            <div class="card__btns">
                <button type="submit" class="card__registration">
                  Змінити пароль 
                </button>
               
            </div>
            
        </div>
        <div class="content__link">
           <a href="">Политика конфиденциальности</a> 
           <a href="">Политика использования</a>
        </div>
    </div>
    </form>
</section>