   {{!-- <div class="hotel__gallery">
    <div class="hotel__gallery-main">
      <img src="/img/oneHotel/hotel1.webp" />
    </div>
    <div class="hotel__gallery-list">
      <div class="hotel__gallery-item">
        <img src="/img/oneHotel/hotel2.webp" />

      </div>
      <div class="hotel__gallery-item">
        <img src="/img/oneHotel/hotel3.webp" />
      </div>
        <div class="hotel__gallery-item">
        <img src="/img/oneHotel/hotel4.webp" /> 
        </div>
        <div class="hotel__gallery-item">
         <img src="/img/oneHotel/hotel5.webp" />

        </div>  
    </div>
  </div> --}}

<div class="hotel__gallery">
  <div class="hotel__gallery-main">
    <a data-fancybox="hotel" href="/img/oneHotel/hotel1.webp">
      <img src="/img/oneHotel/hotel1.webp" />
    </a>
  </div>

  <div class="hotel__gallery-list">

    <div class="hotel__gallery-item">
      <a data-fancybox="hotel" href="/img/oneHotel/hotel1.webp">
        <img src="/img/oneHotel/hotel1.webp" />
      </a>
    </div>

    <div class="hotel__gallery-item">
      <a data-fancybox="hotel" href="/img/oneHotel/hotel1.webp">
        <img src="/img/oneHotel/hotel1.webp" />
      </a>
    </div>

    <div class="hotel__gallery-item">
      <a data-fancybox="hotel" href="/img/oneHotel/hotel1.webp">
        <img src="/img/oneHotel/hotel1.webp" />
      </a>
    </div>

    <div class="hotel__gallery-item">
      <a data-fancybox="hotel" href="/img/oneHotel/hotel1.webp">
        <img src="/img/oneHotel/hotel1.webp" />
      </a>
    </div>

  </div>
</div>
