<div data-component="oneHotelContact" class="hotel__contacts">
   <div class="hotel__advantages">
        <div class="hotel__advantages-title">
            ПОЧЕМУ БРОНИРОВАТЬ ТУР У НАС?
        </div>
        <div class="hotel__advantages-list">
            <div class="hotel__advantages-item">
                
                <svg>
                    <use xlink:href='#icon-check-bold'></use>
                </svg>
                
                Только отобранные отели
            </div>
            <div class="hotel__advantages-item">
                <svg>
                    <use xlink:href='#icon-check-bold'></use>
                </svg>
                Все туроператоры на одном сайте
            </div>
            <div class="hotel__advantages-item">
                <svg>
                    <use xlink:href='#icon-check-bold'></use>
                </svg>
                Прозрачно и безопасно
            </div>
            <div class="hotel__advantages-item">
                <svg>
                    <use xlink:href='#icon-check-bold'></use>
                </svg>
                Без наценок
            </div>
        </div>
   </div>
    <div class="hotel__contact">
        <div class="hotel__contact-title">
          ЕСТЬ ВОПРОСЫ ПО ОТЕЛЮ
       <br> ИЛИ <b>ХОТИТЕ ПОДОБРАТЬ ТУР?</b>
        </div>
        <div class="hotel__contact-name">
            Вам поможет наш кон сультант
            <br>
           <b>
            Марина Каасик
           </b> 

        </div>
        <div class="hotel__contact-img">
            <img src="/img/oneHotel/contact.webp" alt="">
        </div>
        <div class="hotel__contact-phone">
            <svg>
                <use xlink:href='#icon-phone'></use>
            </svg>
            +372 <b>6 130 633</b>
        </div>
        <div class="hotel__contact-email">
            <svg>
                <use xlink:href='#icon-mail'></use>
            </svg>
            contact@email.ee
        </div>
        <div class="hotel__contact-message">
            <svg>
                <use xlink:href='#icon-messanger'></use>
            </svg>
            Написать в Messenger
        </div>
        <div class="hotel__contact-time">
            <svg>
                <use xlink:href='#icon-clock-time'></use>
            </svg>
            <span>
            Пн - Пт <b>10.00 - 18.00</b>
            </span>
        </div>
    </div>
</div>