<div class="hotel__info-wrapper">
<div class="hotel__title">{{title}}</div>

    <div class="hotel__description">{{description}}</div>

    <div class="hotel__info-list">
      
      <div class="hotel__column">
          <div class="hotel__info-item">
            <div class="hotel__info-title">{{itemTitle}}</div>
            <div class="hotel__info-text">{{itemDescription}}</div>
          </div>

          {{leftList}}
      </div>
      
      <div class="hotel__column">
          {{rightList}}
      </div>
    </div>
</div>