   {{!-- <div class="hotel__gallery">
    <div class="hotel__gallery-main">
      <img src="/img/oneHotel/hotel1.webp" />
    </div>
    <div class="hotel__gallery-list">
      <div class="hotel__gallery-item">
        <img src="/img/oneHotel/hotel2.webp" />

      </div>
      <div class="hotel__gallery-item">
        <img src="/img/oneHotel/hotel3.webp" />
      </div>
        <div class="hotel__gallery-item">
        <img src="/img/oneHotel/hotel4.webp" /> 
        </div>
        <div class="hotel__gallery-item">
         <img src="/img/oneHotel/hotel5.webp" />

        </div>  
    </div>
  </div> --}}

<div class="hotel__gallery">
  <div class="hotel__gallery-main">
    <a aria-label="hotelImg" data-fancybox="hotel" >
      {{!-- <img src="/img/oneHotel/hotel1.webp" /> --}}

      <picture>
      <source
         srcset="
            /img/oneHotel/hotel1-mobile.webp 1x,
            /img/oneHotel/hotel1-mobile.webp 2x"
         media="(max-width: 768px)">

      <source
         srcset="
           /img/oneHotel/hotel1.webp 1x,
           /img/oneHotel/hotel1.webp 2x">

      <img
         src="/img/oneHotel/hotel1.webp"
         alt="hotel"
         class="slider__img"
         width="1367"
         height="360"
         fetchpriority="high"
         decoding="async">
   </picture>
    </a>
  </div>

  <div class="hotel__gallery-list">

    <div class="hotel__gallery-item">
      <a aria-label="hotelImg" data-fancybox="hotel" >
        <img src="/img/oneHotel/hotel2.webp" alt="hotel" />
      </a>
    </div>

    <div class="hotel__gallery-item">
      <a aria-label="hotelImg" data-fancybox="hotel" >
        <img src="/img/oneHotel/hotel3.webp" alt="hotel" />
      </a>
    </div>

    <div class="hotel__gallery-item">
      <a aria-label="hotelImg" data-fancybox="hotel" >
        <img src="/img/oneHotel/hotel4.webp" alt="hotel" />
      </a>
    </div>

    <div class="hotel__gallery-item">
      <a aria-label="hotelImg" data-fancybox="hotel" >
        <img src="/img/oneHotel/hotel5.webp" alt="hotel" />
      </a>
    </div>

  </div>
</div>
