<div class="hotel__offer-wrapper">
  <div class="hotel__offer-title">
    <span>Выбранный тур</span>
    <button type="submit">изменить</button>
</div>
<div class="hotel__offer-dates">
  <div class="hotel__offer-date">
    <svg>
    <use xlink:href='#icon-calendar'></use>
  </svg>
    <span>18 июня 2020 г. | {{night}}ночей</span>
  </div>
  <div class="hotel__offer-raise">
    <svg>
    <use xlink:href='#icon-departure'></use>
  </svg>
    <span>Вылет из {{from}}</span>
  </div>
  <div class="hotel__offer-food">
    <svg>
    <use xlink:href='#icon-food'></use>
  </svg>
    <span>{{food}}</span>
  </div>
  <div class="hotel__offer-houses">
    <svg>
    <use xlink:href='#icon-apartment'></use>
  </svg>
    <span>{{houses}}</span>
  </div>
<div class="hotel__offer-price">
   <b>{{prices}}€</b>
/чел
</div>
<div class="hotel__offer-description">
<b>Цена на одного человека </b>
действительна при размещении в двухместном номере. Цена зависит от количества мест и может измениться.
</div>
<div class="guests">
  <label for="guests">Количество отдыхающих</label>
   <div class="label">Взрослих</div>
  <input type="text">
  <div class="label">детей</div>
  <input type="text">
</div>

<div class="hotel__offer-total">
  Общая стоимость тура:
<span>
  <b>1 429€</b>
</span>
</div>
<button type="submit" class="hotel__offer-button button-primary">
  Бронировать
</button>
<div class="hotel__offer-policy">
<svg>
  <use xlink:href='#icon-policy-lock'></use>
</svg>
  <div>
  Ваши данные надежно защищены и обрабатываются согласно с 
  <span>
  
  условиями обработки личных данных
  </span>

  </div>
</div>
</div>
</div>
  