<section data-component="companyNews" class="company__news">
  <div class="company__header">
    <svg class="company__header-img">
      <use xlink:href="#icon-sale"></use>
    </svg>
    <h2 class="company__header-title">кампании<span> и Новости</span></h2>
    <p class="hotdeals__subtitle company__subtitle">
      Кто действует быстро - получает самые вкусные цены <span>☺️</span>
    </p>
  </div>
  <div class="swiper mySwiperNews">
    <div class="news__container swiper-wrapper">
     
    </div>
    <div class="company__footer">
      <a href="" class="company__footer-link">Все кампании и новости</a>
      <svg class="company__footer-img">
        <use xlink:href="#icon-arrowNews"></use>
      </svg>
    </div>
  </div>
  <div class="swiper-button-next swiper__news-next"></div>
  <div class="swiper-button-prev swiper__news-prev"></div>
</section>
