<section data-component='hotDeals' class='hotdeals'>
  <div class='hotdeals__header'>

    <div class='hotdeals__header-title'>
      <svg class='hotdeals__clock'>
        <use xlink:href='#icon-clock'></use>
      </svg>
      <h2>горящие предложения</h2>
    </div>

    <p class='hotdeals__subtitle'>Кто действует быстро - получает самые вкусные цены <span>☺️</span></p>
  </div>
  <div class='swiper mySwiperHotDeals'>
    <div class='hotdeals__container swiper-wrapper'>
    </div>
    <div class='company__footer'>
      <a href='' class='company__footer-link'>Все горящие предложения</a>
      <svg class='company__footer-img'>
        <use xlink:href='#icon-arrowNews'></use>
      </svg>
    </div>

  </div>
  <div class='swiper-button-next swiper__hotdeals-next'></div>
  <div class='swiper-button-prev swiper__hotdeals-prev'></div>

</section>