<section data-component="winterTours" class="wintertours">
  <div class="winter__header">
    <h3 class="winter__header-title">ЗИМНИЕ ТУРЫ</h3>
    <p class="winter__header-subtitle">Зима 2019 - 2025</p>
  </div>
  <div class="swiper mySwiperWinterTours">
    <div class="wintertours__container swiper-wrapper"></div>
  </div>
  <div class="winter__all">
    <a href="" class="winter__all-link">Все зимние туры</a>
    <svg class="winter__all-img">
      <use xlink:href="#icon-arrowNews"></use>
    </svg>
  </div>
</section>
