@mixin huge {
  @media (min-width: 2000px) {
    @content;
  }
}

@mixin big {
  @media (max-width: 1999px) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: 1750px) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: 1440px) {
    @content;
  }
}

@mixin table-big {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1000px) and (min-width: 769px) {
    @content;
  }
}

@mixin tablet-mini {
  @media (max-width: 768px) and (min-width: 601px) {
    @content;
  }
}

@mixin phone {
  @media (max-width: 600px) {
    @content;
  }
}

// COLOR
$primaryColor: #f68521;
$colorGrey: #666;
$colorGrey06: #6666662e;
$colorBlue: #255296;
$colorBlue01: #25529610;
$colorGreen: #3e7739;
$colorGreen07: #3e77396e;
$colorGreen02: #3e77392a;
$colorOrange: #f15d28;
$backgroundGrey: #f4f6fa;
$backgroundBlack: rgba(0, 0, 0, 0.5);
$colorWhite: #fff;
$colorCalendarNumber: #b4b4b4;

// font
$Open: 'Open Sans', sans-serif;
$Roboto: 'Roboto', sans-serif;
$colorBlack: black;
$colorBackgrounNumber: #f1f1f1;
$colorBackgrounBorder: #e2e2e2;
$colorWhite02: rgba(255, 255, 255, 0.5);
$colorWhiteBorder: #E2E2E2;
$orange: orange;
