@mixin huge {
  @media (min-width: 2000px) {
    @content;
  }
}

@mixin big {
  @media (max-width: 1999px) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: 1750px) {
    @content;
  }
}

@mixin laptop {
    @media (max-width: 1440px) {
        @content;
    }
}

@mixin table-big {
    @media (max-width: 1200px) {
        @content;
    }
}

@mixin tablet {
  @media (max-width: 1000px) and (min-width: 769px) {
    @content;
  }
}

@mixin tablet-mini {
    @media (max-width: 768px) and (min-width: 601px) {
        @content;
    }
}

@mixin phone {
  @media (max-width: 600px) {
    @content;
  }
}

// COLOR
$primaryColor: #f68521;
$colorGrey: #666;
$colorGrey06: #6666662e;
$colorBlue: #255296;
$colorBlue01: #25529610;
$colorGreen: #3E7739;
$colorGreen07: #3e77396e;
$colorGreen02: #3e77392a;
$colorOrange: #f15d28;
$backgroundGrey: #f4f6fa;
$colorWhite: #fff;
// font
$Open: 'Open Sans', sans-serif;
$Roboto: 'Roboto', sans-serif;
$colorBlack: black;
$colorBackgrounNumber: black;
$colorWhite02: white;
$colorWhiteBorder: black;
$orange-bold: rgb(246, 133, 33, 1);
$orange: rgb(245, 194, 19, 1);
