@mixin huge {
  @media (width >= 2000px) {
    @content;
  }
}

@mixin big {
  @media (width <= 1800px) {
    @content;
  }
}

@mixin desktop {
  @media (width <= 1750px) {
    @content;
  }
}

@mixin laptop {
  @media (width <= 1440px) {
    @content;
  }
}

@mixin table-big {
  @media (width <= 1200px) {
    @content;
  }
}

@mixin tablet {
  @media (width <= 1000px) and (width >= 769px) {
    @content;
  }
}

@mixin tablet-mini {
  @media (width <= 768px) and (width >= 601px) {
    @content;
  }
}

@mixin phone {
  @media (width <= 600px) {
    @content;
  }
}

// COLOR
$primaryColor: #f68521;
$colorGrey: #666;
$colorBlue: #255296;
$colorGreen: #3E7739;
$colorOrange: #f15d28;
$backgroundGrey: #f4f6fa;
$colorWhite: #fff;
// font
$Open: 'Open Sans', sans-serif;
$Roboto: 'Roboto', sans-serif;
