body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  &.open {
    overflow: hidden;
  }
  &.loading {
    overflow: hidden;
  }
}
.wrapper {
  width: 100%;
  max-width: 1366px;
}



// PRELOAD

.preload {
  &.loading {
    position: fixed;
    inset: 0;
    opacity: 1;
    z-index: 9999;
    background-color: rgb(53, 170, 243);
    transition: 3.3s ease-in;
    display: block;
    width: 100vw;
    height: 100vh;
  }
  display: none;
  opacity: 0;
}

.loader {
  position: relative;
  align-items: center;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.453);
  padding-block: 10px;
  border-radius: 10px;
  box-shadow: 0 0 15px #ffffff;
  max-width: 250px;
  max-height: 250px;

  p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-shadow: 0 0 10px #ffd900;
    margin: 0;
  }
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffd900;
  animation: pulse 1.4s ease-in-out infinite both;
  box-shadow: 0 0 20px #ffd900;
}
.dot__body {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.dot:nth-child(1) {
  animation-delay: 0s;
}
.dot:nth-child(2) {
  animation-delay: 0.2s;
}
.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(0.6);
    opacity: 0.5;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
}
