body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  &.open {
    overflow: hidden;
  }
}
.wrapper {
  width: 100%;
  max-width: 1366px;
}
